////********Icon*******/////////
.iconfont{
  font-family:"iconfont";
  font-size:40px;
  font-style:normal;
}
.icon1{
  font-size: 19px;
  &.success{
    color: rgb(86, 188, 118);
  }
  &.danger{
    color:#e5603b;
  }
  &.warning{
    color:#eac85e;
  }
}

.icon2{
  font-size: 12px;
  &.success{
    color: rgb(86, 188, 118);
  }
  &.outdate{
    color: rgb(234, 200, 94);
  }
  &.danger{
    color:#e5603b;
  }
  &.wait{
    color: rgb(74, 121, 147);
  }
  &.trash{
    font-size: 19px;
    color: #9F9F9F;
    &:hover,
    &:focus,
    &:active,
    &:visited{
      color: white;
    }
  }
  &.setting{
    font-size: 14px;
    line-height: 15px;
    color: #9F9F9F;
    &:hover,
    &:focus,
    &:active,
    &:visited{
      color: white;
    }
  }
  
  &.expand{
    cursor: pointer;
    color: #9F9F9F;
    &:hover,
    &:focus,
    &:active,
    &:visited{
      color: white;
    }
  }
  &.icon-clock{
    vertical-align: middle;
  }
  &.icon-user{

  }
  &.icon-refresh{
    font-size: 14px;
  }

}
.icon2-dd{
  font-size: 12px;
  float: right; 
  margin:2px -4px 0 5px;
}
.icon3{
  font-size: 21px;
}
.iconplus{
  display: none;
  font-weight: bold;
  color: rgb(60, 60, 60);
  position: absolute;
  left: 21px;
  top: 22px;
  font-size:37px !important;
  &:hover,
  &:focus{
    color: #767676 !important;
    cursor: pointer;
  }
}

.iconlogo{
  font-size: 70px; 
  line-height: 2.1;
  margin-left: 20px;

  @media(max-width: 768px) {
    line-height: 0.4;
    margin-left: 5px;
  }
  color:rgba(51, 51, 51, 0.5);

  &:hover,
  &:focus{
    color: white;
  }
}
.icon-side {
  display: inline-block;
  float: left;
  margin-right: 15px;
  width: 16px;
  line-height: 20px;
  font-size: 14px;
  opacity: 0.4;
  text-align: right;
  font-weight: 300;
}
.icon-file {
  width: 16px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 300;
}

.icon-users {
  float: right;
  margin-top: 8px;
  font-size: 18px;
  &:hover{
    font-size: 18px;
  }
}
.icon-setting {
  float: right;
  margin-top: 8px;
  font-size: 18px;
  &:hover{
    font-size: 18px;
  }
}
.icon-exclamation-sign{
  font-size: 14px;
}

.sortedup{
  display: none;
  position: relative;
  margin-left: 0.3em;
  font-size: 10px ;
  line-height: 0.5;
}

.sorteddown{
  display: none;
  position: relative;
  margin-left: 0.3em;
  border: 0;
  font-size: 10px;
  line-height: 0.5;
}

.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle{
  background: rgba(26, 26, 26, 0.4);
}

.icon-alert{
  font-size: 18px;
}
.icon-alert-small{
  font-size: 14px;
  color: #fff;
}
.icon-phone-small{
  font-size: 14px;
  margin-left: 10px; 
  color:white;
}
.conMess{
  position:absolute; 
  top: -100px;
  left: 0;
  width: 226px;
  height: 106px;
  font-family: "Open Sans","Hiragino Sans GB","Microsoft Yahei", sans-serif;
  font-size: 13px;
  display:none;
}
.conList{
  height: 200px;
  top: -172px;
}
.icon-alert:hover .conMess,
.icon-users:hover .conMess {
  display: block;
}

.cpuchart:hover .cputrend, .cpuchart:hover .contenttrend, .cpuchart:hover .trend1{
  display: block;
}

.trend1{
  position: relative;
}

.page-title:hover .dash-edit{
  display: inline-block;
}

.dash-edit{
  font-size: 18px;
  color: rgba(51, 51, 51, 0.5);
  display: none;
}

.widget-mob:hover .mob_dashboard{
  display: inline-block;
}

.mob_dashboard{
  color: rgba(255, 255, 255, 0.45);
  font-size: 16px;
  float: right;
  display: none;
}
.mob_dashboard:hover{
  color: rgba(255, 255, 255, 0.6);
}
.userlist{
  padding-left:27px;
  color:#555;
  list-style:inherit;
}
.altSection{
  color: white;
}
.altValue{
  width: 80px;
  text-align:left;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 12px;

}
.altName{
  text-align: left;
}
.altUser{
  position: relative;
  padding-top: 7px;
  padding-bottom: 15px;
}


.inner-widget{
  margin-bottom: 20px;
  .inner-body {
    background: transparent;
  }
}

.well-cos{
  margin:0; 
  padding-top: 0;
  background:transparent;
  -webkit-box-shadow:none;
  box-shadow:none;
}

.tre{
  &:hover,
  &:focus{
    background: rgba(51, 51, 51, 0.25);
  }
}
.tre1, .tre2, .tre3{
  background: rgba(51, 51, 51, 0.25);
  &:hover,
  &:focus{
    background: rgba(51, 51, 51, 0.4);
  }
}

.settingBox{
  width: 310px;
  position: absolute;
  right:18px;
  top: 57px;
  z-index: 1;
}


.linkk{
  color: white;
  text-decoration: underline;
  &:hover,
  &:focus,
  &:active,
  &:visited{
    color: white;
    text-decoration: underline;
  }
}

.widget-tabs {
  .body {
    border-radius: 0 3px 3px 3px;
  }
  .tr-body {
    background: transparent;
    padding: 0;
  }
  .nav > li > a {
    font-size: 14px;
    font-weight: 500;
  }
}

.modal{

  & .widget-tabs .nav-tabs {
    border-bottom: 1px solid #ddd;
    & li{
      margin-bottom: -1px;
    }
  }

  & .nav-tabs>li>a{
    border: 1px solid transparent;
    background-color: #fff;
  }

  & .widget-tabs .nav > li:not(.active) > a{
    border: 1px solid transparent;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    color: #666;
    font-weight: 400;
  }

  & .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    color: #666;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    font-weight: 400;
  }

  & .tab-content{
    color: #666;
    background-color: #fff;
  }
}

.modal-trash{
  width: 400px;

}

td{
  vertical-align: middle !important;
  text-align: left !important;
}
.radioSer label::before{
  margin-top: 10px;
  margin-bottom: 10px;
}
.radioSer label::after{
  margin-top: 10px;
  margin-bottom: 10px;
}

.cputrend{
  width: 300px;
  position: absolute;
  top: -170px;
  right: 5%;
  overflow:hidden;
  display: none;
}

.contenttrend{
  width: 300px;
  position: absolute;
  top: -170px;
  right: -5%;
  overflow:hidden;
  display: none;
}


.warmtime{
  text-align: left !important; 
  padding-left: 0 !important;
  padding-right: 0;
  vertical-align:middle !important;
}
.warmicon{
  text-align: left !important; 
  padding-left: 5px; 
  padding-right: 5px;
  vertical-align:middle !important;
}
.sortedth{
  cursor: pointer;
}

.sortedtext{
  text-decoration: underline;
  text-align: left;
  color: #fff;
  &:hover,
  &:focus {
    text-decoration: underline;
    text-align: left;
    color: #fff;
  }
}

.sources-table th {
  text-align: left;
}

.trace-item{
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 13px;
  min-height: 20px;
}



.traceList {
  cursor:pointer;
  display: block;
  height: 35px;
  margin: 6px 0 -3px 0px;
  padding: 8px 10px 4px 10px;
  color: $text-color;
  text-decoration: none;
  background: $bg-transparent;
  border-radius: $border-radius-base;

  @include box-sizing(border-box);
  &:hover,
  &:focus,
  &:active,
  &:visited{
    background: rgba(51, 51, 51, 0.5);
  }
}
.bar-graph{
  height: 35px;
  width: 70%;
  zoom: 1;
  background-color: rgba(0, 0, 0, 0.47);
  border-radius: 3px 0 0 3px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
.bar-text{
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 10;
  position: relative;
  text-align: left;
}
.trace_value{
  margin-top: 2px;
  line-height: 20px;
  font-size: 12px;
  padding: 0 10px;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
  position: relative;
  z-index: 9;

  & a{
    cursor: pointer;
  }

}


/***********************************/
/**          ICON         **/
/**********************************/
.radio1{
  width: 48px;
  display: inline-block;
}
.checkbox0{
  width: 61px;
  display: inline-block;
}
.checkbox1{
  width: 71px;
  display: inline-block;
}
.checkbox2{
  color: rgba(51, 51, 51, 0.5);
  width: 225px;
  display: inline-block;
}
.label1{
  margin-right: 10px;
}
.label2{
  margin-right: 10px;
}


.btn-choose-group{
  position: absolute;
  top: 87px;
  right: 5%;
}
.btn-report{
  color: #fff;
  background-color: transparent;
  padding: 3px 7px 1px 7px;
  border-color: #aaa;
  &:hover,
  &:focus,
  &:active,
  &:visited{
    opacity: 0.65;
  }
}

.btn-refresh{
  color: #56bc76;
  background-color: transparent;
  margin-right: 10px;
  margin-left: 10px;
  padding: 0px 7px 0px 7px;
  border-color: #56bc76;
  &:hover,
  &:focus,
  &:active,
  &:visited{
    color: #56bc76;
    opacity: 0.65;
  }

}

.btn-choose{
  background-color: transparent;
  border: none;
  color: white;
  text-decoration: underline;
  &:hover,
  &:focus,
  &:active,
  &:visited{
    box-shadow: none;
    text-decoration: underline;
  }
}

.btn-trash{
  background-color: transparent;
  border: none;
  padding: 0;
}
button.btn.dropdown-toggle.btn-choose{
  box-shadow:none;
  -webkit-box-shadow:none;
}

// .iconfont{
//   font-family:"iconfont";
//   font-size:40px;
//   font-style:normal;
// }
// .icon1{
//   font-size: 19px;
//   &.success{
//     color: rgb(86, 188, 118);
//   }
//   &.danger{
//     color:#e5603b;
//   }
//   &.warning{
//     color:#eac85e;
//   }
// }
// .icon2{
//   font-size: 12px;
//   &.success{
//     color: rgb(86, 188, 118);
//   }
//   &.outdate{
//     color: rgb(234, 200, 94);
//   }
//   &.danger{
//     color:#e5603b;
//   }
//   &.wait{
//     color: rgb(74, 121, 147);
//   }
//   &.trash{
//     font-size: 19px;
//     color: #9F9F9F;
//     &:hover,
//     &:focus,
//     &:active,
//     &:visited{
//       color: white;
//     }
//   }
//   &.setting{
//     font-size: 14px;
//     color: #9F9F9F;
//     &:hover,
//     &:focus,
//     &:active,
//     &:visited{
//       color: white;
//     }
//   }
  
//   &.expand{
//     cursor: pointer;
//     font-size: 12px;
//     color: #9F9F9F;
//     &:hover,
//     &:focus,
//     &:active,
//     &:visited{
//       color: white;
//     }
//   }


// }
// .icon2-dd{
//   font-size: 12px;
//   float: right; 
//   margin:2px -4px 0 5px;
// }
// .icon3{
//   font-size: 25px;
//   line-height: 1.3;
// }
// .iconplus{
//   display: none;
//   font-weight: bold;
//   color: rgb(60, 60, 60);
//   position: absolute;
//   left: 43px;
//   top: 31px;
//   font-size:34px;
//   &:hover,
//   &:focus{
//     color: #767676;
//     cursor: pointer;
//   }
// }




/***********************************/
/**          TAB         **/
/**********************************/
li.dd-item:hover{

  background-color: rgba(51, 51, 51, 0.1);
}

.tabItem{
  color: white !important;
  background-color: transparent !important;
  &:hover{
    background: rgba(0, 0, 0, 0.1) !important;   
  }

  // &:focus,
  &:visited,
  &:active,
  .active{
    background: rgba(51, 51, 51, 0.4) !important;
  }
}

a.tabIcon{
  padding: 3px 9px !important;
}

.btn-hollow{

  float:right;
  background-color: transparent;
  color: #56bc76;
  &:hover,
  &:focus{
    background-color: #56bc76;
    border-color: #56bc76;
    color: white;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}

.btn-reply{

  float:left;
  background-color: transparent;
  color: #fff;
  border: solid 1px #fff;
  padding: 0 6px;
  margin-right: 13px;
  transition: border-color 0.2s;

  &:hover,
  &:focus{
    opacity: 0.65;
    border: solid 1px #fff;
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}


.appItem {
  color: #9bd0f6;
  // &:hover,
  // &:focus{
  //   text-decoration: underline;
  // }
}


.headOne{
  
  text-align: center;
  width: 80%;
  margin: auto;
}

.headOneIcon{

  display: inline-block;
  margin: 40px auto;
}

.login{
  display: inline-block;
  padding-left: 90%; 
}

.login-logo{
  line-height: 108px;
}

.home-button{
  text-align: center;
  
}

.loginButton{
  position: relative;
  height: 33px;
  line-height: 35px;
  color: #555;
  float: right;
  margin-top: -40px;
  margin-right: 10px;
  z-index: 2;
  //margin-right: 0px;
  font-size: 20px;
  &:hover{
    cursor: pointer;
  }
}

.buttonDisabled{
  color: #aaa;
  cursor: default;
  &:hover{
    cursor: default;
  }
}

#signButton {
  height: 33px;
  line-height: 3px; 
}
.remember{
  //margin-left: 8%;
  // 
  text-align: center;
  color: #fff;
  font-size: 14px;
  margin-top: 15px;

  & label {
    line-height: 1.3;
    color: rgba(51,51,51,0.6);
    font-weight: normal;
  }
}
.remember label::after{
  color: #fff;
}

.headOneIconImg{
  
  width: 142px;
  height: 142px;
  border-radius: 35px;
  background-color: white;
  -webkit-box-shadow:0 0 50px rgba(132, 132, 132, 0.5);
  margin: auto;

  @media(max-width:768px){
    width: 100px;
    height: 100px;
    border-radius: 25px;
  }
}
.headOneIconImg:focus,
.headOneIconImg:hover{
    background-color: rgba(255, 255, 255, 0.9);
}

.headOneIconText{
  
  text-align: center;
  font-size: 16px;
  color: #fff;
  margin-top: 15px;
  font-weight: normal;
  text-shadow: 0 0 20px grey;
}
.headOneIconText.product-text{
  font-size: 16px;
}

.my_logo .icon{
  font-size: 220px;
  line-height: 100px;
  padding: 10px 0;
  color:#fff;
  -webkit-transition: font-size 0.25s ease-out 0s;
  -moz-transition: font-size 0.25s ease-out 0s;
  transition: font-size 0.25s ease-out 0s;
  -webkit-text-stroke-width: 0.2px;

}

.headOneIconImg .icon{
  font-size: 100px;
  line-height: 138px;
  padding: 80px 0px;
  color:#aaa;
  -webkit-transition: font-size 0.25s ease-out 0s;
  -moz-transition: font-size 0.25s ease-out 0s;
  transition: font-size 0.25s ease-out 0s;
  -webkit-text-stroke-width: 0.2px;
  text-align: center;
  position: relative;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.5)));  

  @media(max-width:768px){
    font-size: 70px;
    line-height: 100px;

  }
}

.homePage{
  margin-top: 5%;
  top: 15%;
}

.login-icon{
  font-size: 140px;
  color: #fff;
}

.login-header{
  margin-bottom:0;
  margin-top:-30px;
  height: 200px;
}

.show-shadow{
  z-index: 999;
}

.login-modal{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -230px;
  width: 600px;
}

.sign-modal{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -360px;
  margin-top: -360px;
  width: 720px;
  & .form-group {
    margin-bottom: 20px;
  }
  & .phone-checkcode-form{
    margin-bottom: 5px;
  }
  & .input-group input.form-control {
    border-radius: 6px;
  }
  & .login-icon {
    font-size: 100px;
    @media(max-width: 480px){
      font-size: 85px;
    }
  }

  & .myModalContent {
    width: 100%;
  }

  & .modal-body .control-label {
    float: left;
    color: #f8f8f8;
  }

  & h1,& h2,& h3,& h4,& h5,& h6,& p{
    color: #f8f8f8;
  }
  .validation-message{
    color: #eac85e;
    font-size: 12px;
    display: none;
  }

  & .validate-message{
    color: #eac85e;
    visibility: hidden;
    &.active {
      visibility: visible;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    position:absolute;
    left: 0;
    top: 10%;
    margin-left: 0;
    margin-top: 0;

    & .form-wizard form {
      text-align: center;
      & .control-label {
        float: none;
      }
    }
  }

  @media screen and (max-width: 768px) and (max-height: 780px) {
    top: 0;
  }

  & .form-wizard .tab-pane {
    margin-top: 28px;
  }

  & .form-wizard .tab-content {
    height: 270px;
  }
}
 #ignore {
      display: none;
    }

.myModalHeader{
  text-align: center;
  line-height: 1;
  border-bottom: 0;
  padding-bottom: 0;
  & p {
    color: #fff;
    font-size: 39px;
    @media(max-width: 480px){
      font-size: 30px;
    }
  }
}

.myModalBody{
  padding-bottom:0;
  max-height: 500px;
}

.myInputGroup{
  width: 100%;
  & .parsley-errors-list li {
  color: #F8771D;
  line-height: 2;
    }
}

.myModalContent{
  width: 56%;
  margin: auto;
  box-shadow: none;
  background-color: transparent;
  border: none;
}


.form-login {
  margin-bottom: 0;
  & .checkbox label::before {
    border-color: rgba(51,51,51,0.4);
  }
}

@media(max-width:1200px){

  .headOneIcon{
    margin: 20px auto;
    min-height: 171px;
  }
}

@media(max-width:400px){
  .myModalContent{
    margin: auto;
  }
}

.home-footer{
  position:absolute;
  bottom:1.5%;
  text-align: center;
  width: 100%;
  color: white;
  span{
    padding-left:15px;
  }
  .only-link{
    padding-left: 0;
  }
  a{
    color: #fff;
  }
  a :hover,:focus{
    color:#e8e8e8;
  }
}

.mobile-footer{
  text-align: center;
  a{
    color: #fff;
  }
  a :hover,:focus{
    color:#e8e8e8;
  }
}

.in-footer{
  position:absolute;
  right: 30px;
  bottom:1.5%;
  text-align: right;
  width: 90%;
  color: white;
  span{
    padding-left:15px;
  }
  display: none;

  ul{
    float: right;
    padding-top: 25px;
    li{
        display: inline-block;

        a{
          color: rgba(51, 51, 51, 0.5);
        }

        a :hover,:focus{
          color:#fff;
        }
    }
    .divider {
      width: 1px;
      height: 12px;
      background: rgba(51, 51, 51, 0.5);
      margin-top: 13px;
      margin-left: 10px;
    }
  }
}
@media screen and (max-height: 1032px) and (max-width: 768px){
  .in-footer{
    position: relative;
    right: 0;
  }
}
.form-sign-in,.form-forget-psw{
  display: none;
}

.blur { 
   /* FireFox, Chrome, Opera */
   filter: url('url(blur.svg#blur);utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
       <filter id="blur">
           <feGaussianBlur stdDeviation="5"></feGaussianBlur>
       </filter>
    </svg>');

  -webkit-filter: blur($blur-degree); /* Chrome, Opera */
     -moz-filter: blur($blur-degree);
      -ms-filter: blur($blur-degree); 
       -o-filter: blur($blur-degree);   
          filter: blur($blur-degree);

  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=55, MakeShadow=false); /* IE6~IE9 */

  opacity:0.9;
}

.animateBlur{
  -webkit-animation: filter-animation 0.5s;
}

@-webkit-keyframes filter-animation{

  0%{
      -webkit-filter: blur($blur-degree);
  }

  100%{
       -webkit-filter: blur(0px);
  }

}

.none-opacity{
  opacity: 0;
}

#divtest{
  border: solid 3px blue;
  padding: 4px;
  margin: 3px;
  width: 50%;
  height: 100px;
}


@-webkit-keyframes myrotate{
    0%{
        -webkit-transform: rotate(0deg);
    }    
    100%{
        -webkit-transform: rotate(-90deg);
    }
}
@-moz-keyframes myrotate{
    0%{
        -moz-transform: rotate(0deg);
    }
    100%{
        -moz-transform: rotate(-90deg);
    }
}
@-ms-keyframes myrotate{
    0%{
        -ms-transform: rotate(0deg);
    }
    100%{
        -ms-transform: rotate(-90deg);
    }
}
@-o-keyframes myrotate{
    0%{
        -o-transform: rotate(0deg);
    }
    100%{
        -o-transform: rotate(-90deg);
    }
}
@keyframes myrotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-90deg);
    }
}
.rotate{
    
    -webkit-animation: myrotate 0.5s;
    -moz-animation: myrotate 0.5s;
    -ms-animation: myrotate 0.5s;
    -o-animation: myrotate 0.5s;
    animation: myrotate 0.5s;

    transform: rotate(90deg);    
    }





@-webkit-keyframes myrotateBack{
    0%{
        -webkit-transform: rotate(0deg);
    }    
    100%{
        -webkit-transform: rotate(180deg);
    }
}
@-moz-keyframes myrotateBack{
    0%{
        -moz-transform: rotate(0deg);
    }
    100%{
        -moz-transform: rotate(180deg);
    }
}
@-ms-keyframes myrotateBack{
    0%{
        -ms-transform: rotate(0deg);
    }
    100%{
        -ms-transform: rotate(180deg);
    }
}
@-o-keyframes myrotateBack{
    0%{
        -o-transform: rotate(0deg);
    }
    100%{
        -o-transform: rotate(180deg);
    }
}
@keyframes myrotateBack{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}
.rotateBack{
    
    -webkit-animation: myrotateBack 0.5s;
    -moz-animation: myrotateBack 0.5s;
    -ms-animation: myrotateBack 0.5s;
    -o-animation: myrotateBack 0.5s;
    animation: myrotateBack 0.5s;

    }


#email{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 6px;
  // background-color: rgba(232, 232, 232, 1);
  box-shadow: none;
  color: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

#emails-co {
  margin-top: 15px;
}
.emails-co-text {
  text-align: center !important;
}

// #email:focus{
//   border: solid 1px rgba(0,0,0,0.2);
// }

#password{
  border-bottom-right-radius: 6px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  // background-color: rgba(232, 232, 232, 1);
  box-shadow: none;
  color: #fff;
}

// #password:focus{
//   border: solid 1px rgba(0,0,0,0.2);
// }


.tooltip_login{
  top: 64%;
  background-color: rgba(240,245,156,1);
  left: 50%;
  width: auto;
  text-align: center;
  height: 75%;
  border-radius: 6px;
  line-height: 1.7;
  font-size: 14px;
  margin: auto;
}

.arrow_tooltip{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(240,245,156,1);
  top: -8px;
  left: 46%;
  position: absolute;

}

.tip-content{
  padding: 8px;
}


/////////////////////  shake   ///////////////////


.shake.shake-constant.shake-horizontal { -webkit-animation-name: shake-horizontal; -ms-animation-name: shake-horizontal; animation-name: shake-horizontal; -webkit-animation-duration: 100ms; -ms-animation-duration: 100ms; animation-duration: 100ms; -webkit-animation-iteration-count: infinite; -ms-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-timing-function: ease-in-out; -ms-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; -webkit-animation-delay: 0s; -ms-animation-delay: 0s; animation-delay: 0s; -webkit-animation-play-state: running; -ms-animation-play-state: running; animation-play-state: running; }


@-webkit-keyframes shake-horizontal { 0% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
  2% { -webkit-transform: translate(-6*3px, 0*3px) rotate(0deg); }
  4% { -webkit-transform: translate(4*3px, 0*3px) rotate(0deg); }
  6% { -webkit-transform: translate(-2*3px, 0*3px) rotate(0deg); }
  8% { -webkit-transform: translate(0*3px, 0*3px) rotate(0deg); }
  10% { -webkit-transform: translate(-2*3px, 0*3px) rotate(0deg); }
  12% { -webkit-transform: translate(4*3px, 0*3px) rotate(0deg); }
  14% { -webkit-transform: translate(-6*3px, 0*3px) rotate(0deg); }
  16% { -webkit-transform: translate(8*3px, 0*3px) rotate(0deg); }
  18% { -webkit-transform: translate(-5*3px, 0*3px) rotate(0deg); }
  20% { -webkit-transform: translate(2*3px, 0*3px) rotate(0deg); }
  22% { -webkit-transform: translate(-1*3px, 0*3px) rotate(0deg); }
  24% { -webkit-transform: translate(4*3px, 0*3px) rotate(0deg); }
  26% { -webkit-transform: translate(-7*3px, 0*3px) rotate(0deg); }
  28% { -webkit-transform: translate(10*3px, 0*3px) rotate(0deg); }
  30% { -webkit-transform: translate(-6*3px, 0*3px) rotate(0deg); }
  32% { -webkit-transform: translate(2*3px, 0*3px) rotate(0deg); }
  34% { -webkit-transform: translate(-2*3px, 0*3px) rotate(0deg); }
  36% { -webkit-transform: translate(6*3px, 0*3px) rotate(0deg); }
  38% { -webkit-transform: translate(-10*3px, 0*3px) rotate(0deg); }
  40% { -webkit-transform: translate(14*3px, 0*3px) rotate(0deg); }
  42% { -webkit-transform: translate(-10*3px, 0*3px) rotate(0deg); }
  44% { -webkit-transform: translate(6*3px, 0*3px) rotate(0deg); }
  46% { -webkit-transform: translate(-2*3px, 0*3px) rotate(0deg); }
  48% { -webkit-transform: translate(-2*3px, 0*3px) rotate(0deg); }
  50% { -webkit-transform: translate(6*3px, 0*3px) rotate(0deg); }
  52% { -webkit-transform: translate(-10*3px, 0*3px) rotate(0deg); }
  54% { -webkit-transform: translate(14*3px, 0*3px) rotate(0deg); }
  56% { -webkit-transform: translate(-11*3px, 0*3px) rotate(0deg); }
  58% { -webkit-transform: translate(8*3px, 0*3px) rotate(0deg); }
  60% { -webkit-transform: translate(-5*3px, 0*3px) rotate(0deg); }
  62% { -webkit-transform: translate(2*3px, 0*3px) rotate(0deg); }
  64% { -webkit-transform: translate(-1*3px, 0*3px) rotate(0deg); }
  66% { -webkit-transform: translate(4*3px, 0*3px) rotate(0deg); }
  68% { -webkit-transform: translate(-7*3px, 0*3px) rotate(0deg); }
  70% { -webkit-transform: translate(10*3px, 0*3px) rotate(0deg); }
  72% { -webkit-transform: translate(-13*3px, 0*3px) rotate(0deg); }
  74% { -webkit-transform: translate(11*3px, 0*3px) rotate(0deg); }
  76% { -webkit-transform: translate(-9*3px, 0*3px) rotate(0deg); }
  78% { -webkit-transform: translate(7*3px, 0*3px) rotate(0deg); }
  80% { -webkit-transform: translate(-5*3px, 0*3px) rotate(0deg); }
  82% { -webkit-transform: translate(3*3px, 0*3px) rotate(0deg); }
  84% { -webkit-transform: translate(-1*3px, 0*3px) rotate(0deg); }
  86% { -webkit-transform: translate(-3*3px, 0*3px) rotate(0deg); }
  88% { -webkit-transform: translate(5*3px, 0*3px) rotate(0deg); }
  90% { -webkit-transform: translate(-7*3px, 0*3px) rotate(0deg); }
  92% { -webkit-transform: translate(4*3px, 0*3px) rotate(0deg); }
  94% { -webkit-transform: translate(-2*3px, 0*3px) rotate(0deg); }
  96% { -webkit-transform: translate(-1*3px, 0*3px) rotate(0deg); }
  98% { -webkit-transform: translate(0*3px, 0*3px) rotate(0deg); } }

@-ms-keyframes shake-horizontal { 0% { -ms-transform: translate(0px, 0px) rotate(0deg); }
  2% { -ms-transform: translate(-9px, 0px) rotate(0deg); }
  4% { -ms-transform: translate(-6px, 0px) rotate(0deg); }
  6% { -ms-transform: translate(-2px, 0px) rotate(0deg); }
  8% { -ms-transform: translate(5px, 0px) rotate(0deg); }
  10% { -ms-transform: translate(-1px, 0px) rotate(0deg); }
  12% { -ms-transform: translate(9px, 0px) rotate(0deg); }
  14% { -ms-transform: translate(-5px, 0px) rotate(0deg); }
  16% { -ms-transform: translate(-4px, 0px) rotate(0deg); }
  18% { -ms-transform: translate(7px, 0px) rotate(0deg); }
  20% { -ms-transform: translate(8px, 0px) rotate(0deg); }
  22% { -ms-transform: translate(7px, 0px) rotate(0deg); }
  24% { -ms-transform: translate(-5px, 0px) rotate(0deg); }
  26% { -ms-transform: translate(-2px, 0px) rotate(0deg); }
  28% { -ms-transform: translate(-5px, 0px) rotate(0deg); }
  30% { -ms-transform: translate(3px, 0px) rotate(0deg); }
  32% { -ms-transform: translate(-7px, 0px) rotate(0deg); }
  34% { -ms-transform: translate(7px, 0px) rotate(0deg); }
  36% { -ms-transform: translate(4px, 0px) rotate(0deg); }
  38% { -ms-transform: translate(-10px, 0px) rotate(0deg); }
  40% { -ms-transform: translate(3px, 0px) rotate(0deg); }
  42% { -ms-transform: translate(-6px, 0px) rotate(0deg); }
  44% { -ms-transform: translate(-5px, 0px) rotate(0deg); }
  46% { -ms-transform: translate(0px, 0px) rotate(0deg); }
  48% { -ms-transform: translate(-8px, 0px) rotate(0deg); }
  50% { -ms-transform: translate(0px, 0px) rotate(0deg); }
  52% { -ms-transform: translate(-5px, 0px) rotate(0deg); }
  54% { -ms-transform: translate(4px, 0px) rotate(0deg); }
  56% { -ms-transform: translate(-2px, 0px) rotate(0deg); }
  58% { -ms-transform: translate(-9px, 0px) rotate(0deg); }
  60% { -ms-transform: translate(-6px, 0px) rotate(0deg); }
  62% { -ms-transform: translate(4px, 0px) rotate(0deg); }
  64% { -ms-transform: translate(-10px, 0px) rotate(0deg); }
  66% { -ms-transform: translate(8px, 0px) rotate(0deg); }
  68% { -ms-transform: translate(0px, 0px) rotate(0deg); }
  70% { -ms-transform: translate(4px, 0px) rotate(0deg); }
  72% { -ms-transform: translate(-4px, 0px) rotate(0deg); }
  74% { -ms-transform: translate(-1px, 0px) rotate(0deg); }
  76% { -ms-transform: translate(-3px, 0px) rotate(0deg); }
  78% { -ms-transform: translate(0px, 0px) rotate(0deg); }
  80% { -ms-transform: translate(-10px, 0px) rotate(0deg); }
  82% { -ms-transform: translate(4px, 0px) rotate(0deg); }
  84% { -ms-transform: translate(-7px, 0px) rotate(0deg); }
  86% { -ms-transform: translate(7px, 0px) rotate(0deg); }
  88% { -ms-transform: translate(-1px, 0px) rotate(0deg); }
  90% { -ms-transform: translate(9px, 0px) rotate(0deg); }
  92% { -ms-transform: translate(-6px, 0px) rotate(0deg); }
  94% { -ms-transform: translate(-8px, 0px) rotate(0deg); }
  96% { -ms-transform: translate(-1px, 0px) rotate(0deg); }
  98% { -ms-transform: translate(-5px, 0px) rotate(0deg); } }

@keyframes shake-horizontal { 0% { transform: translate(0px, 0px) rotate(0deg); }
  2% { transform: translate(-4px, 0px) rotate(0deg); }
  4% { transform: translate(2px, 0px) rotate(0deg); }
  6% { transform: translate(-3px, 0px) rotate(0deg); }
  8% { transform: translate(9px, 0px) rotate(0deg); }
  10% { transform: translate(2px, 0px) rotate(0deg); }
  12% { transform: translate(-6px, 0px) rotate(0deg); }
  14% { transform: translate(-7px, 0px) rotate(0deg); }
  16% { transform: translate(2px, 0px) rotate(0deg); }
  18% { transform: translate(7px, 0px) rotate(0deg); }
  20% { transform: translate(-1px, 0px) rotate(0deg); }
  22% { transform: translate(-10px, 0px) rotate(0deg); }
  24% { transform: translate(-10px, 0px) rotate(0deg); }
  26% { transform: translate(3px, 0px) rotate(0deg); }
  28% { transform: translate(-5px, 0px) rotate(0deg); }
  30% { transform: translate(4px, 0px) rotate(0deg); }
  32% { transform: translate(-6px, 0px) rotate(0deg); }
  34% { transform: translate(-2px, 0px) rotate(0deg); }
  36% { transform: translate(-6px, 0px) rotate(0deg); }
  38% { transform: translate(-2px, 0px) rotate(0deg); }
  40% { transform: translate(4px, 0px) rotate(0deg); }
  42% { transform: translate(8px, 0px) rotate(0deg); }
  44% { transform: translate(-3px, 0px) rotate(0deg); }
  46% { transform: translate(-10px, 0px) rotate(0deg); }
  48% { transform: translate(4px, 0px) rotate(0deg); }
  50% { transform: translate(-6px, 0px) rotate(0deg); }
  52% { transform: translate(6px, 0px) rotate(0deg); }
  54% { transform: translate(-8px, 0px) rotate(0deg); }
  56% { transform: translate(5px, 0px) rotate(0deg); }
  58% { transform: translate(9px, 0px) rotate(0deg); }
  60% { transform: translate(7px, 0px) rotate(0deg); }
  62% { transform: translate(1px, 0px) rotate(0deg); }
  64% { transform: translate(2px, 0px) rotate(0deg); }
  66% { transform: translate(-2px, 0px) rotate(0deg); }
  68% { transform: translate(-7px, 0px) rotate(0deg); }
  70% { transform: translate(-1px, 0px) rotate(0deg); }
  72% { transform: translate(-6px, 0px) rotate(0deg); }
  74% { transform: translate(5px, 0px) rotate(0deg); }
  76% { transform: translate(0px, 0px) rotate(0deg); }
  78% { transform: translate(9px, 0px) rotate(0deg); }
  80% { transform: translate(-3px, 0px) rotate(0deg); }
  82% { transform: translate(8px, 0px) rotate(0deg); }
  84% { transform: translate(-2px, 0px) rotate(0deg); }
  86% { transform: translate(-1px, 0px) rotate(0deg); }
  88% { transform: translate(-3px, 0px) rotate(0deg); }
  90% { transform: translate(4px, 0px) rotate(0deg); }
  92% { transform: translate(0px, 0px) rotate(0deg); }
  94% { transform: translate(4px, 0px) rotate(0deg); }
  96% { transform: translate(2px, 0px) rotate(0deg); }
  98% { transform: translate(-2px, 0px) rotate(0deg); } }




  ////////////////////////////////////////////////////
  //////////              animate           /////////

.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    z-index: 100;
}


@-webkit-keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -webkit-transform: translate(-50px,0px);
        transform: translate(-50px,0px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0,0px);
        transform: translate(0,0px);
    }
}

@keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -webkit-transform: translate(-50px,0px);
        -ms-transform: translate(-50px,0px);
        transform: translate(-50px,0px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0,0px);
        -ms-transform: translate(0,0px);
        transform: translate(0,0px);
    }
}



.fadeInRightBig {
    -webkit-animation-name: fadeInRightBig;
    animation-name: fadeInRightBig;
}

@-webkit-keyframes fadeInRightBig {
    0% {
        opacity: 0;
        -webkit-transform: translate(50px,0px);
        transform: translate(50px,0px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0,0px);
        transform: translate(0,0px);
    }
}

@keyframes fadeInRightBig {
    0% {
        opacity: 0;
        -webkit-transform: translate(50px,0px);
        -ms-transform: translate(50px,0px);
        transform: translate(50px,0px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0,0px);
        -ms-transform: translate(0,0px);
        transform: translate(0,0px);
    }
}

.fadeInRightBig {
    -webkit-animation-name: fadeInRightBig;
    animation-name: fadeInRightBig;
}


  ///////////////////////////////////////////////////


  /*all agents and daterange picker in the indexD nav*/
  ////////////////////////
  ////////////////////////

  .picker {
    background-color: rgba(51, 51, 51, 0.4);
    margin-top: 5px;
    &:hover,
    &:active,
    &:focus,
    &:open{
      background-color: rgba(26, 26, 26, 0.4);
    }
  }

  .nav-picker {
    margin-right: 14px;
    margin-top: 13px;

    &>.navbar-nav{
      @media(max-width:992px){
        float: left !important;
        margin-left: 0;
      }
    }

    &>ul>li{
      display: inline-block;
    }
  }

  

@media (max-width:768px){
  .logo, .sidebar-on-right .logo, .sidebar-hidden .logo{
    display: block;
    left: 0%;
    top: 4px;
    right: auto;
    padding-right: 5px;
    width: auto;

    &>h4>a{
      line-height: 0.2;
    }

  }

  .hidden-btn {
    width: auto;
  }
  
}

.logo i {
    @media (max-width:330px) {
      font-size: 50px;
    }  
  }


.basic-card {
  z-index: 0;
}

.float-card {
  display: none;
  z-index: 2;
  position: absolute;
  width: 100%;
  top: 0;
  & .widget{
    background-color: #f5f5f5;
    color: rgba(51,51,51,0.6);
  }
  & span {
    cursor: pointer;
  }

  & section .widget {
  background-color: #fff;
  }

  & a{
    color: #4d9dd7;
    &:hover{
      color: #2877b0;
    }
  }

  & h1,h2,h3,h4,h5,div,th,td {
    color: rgba(51,51,51,0.6);
  }

  & .float-card-title {
    font-weight: bold;
  }

  & .well{
    background-color: #fff;
  }

  & .radio{
    display: inline-block;
    margin-right: 15px;

    & label::after{
      background-color: rgba(51,51,51,0.6);
    }

  }

  & .visits-info .key{
    color: #999;
    margin-top: 16px;
  }

  & .visits-info .value{
    font-weight: 400;
    margin-top: 8px;
    color: #666;
  }

  .table-striped > tbody > tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  .table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
  }

  .table>thead>tr>th, .table>thead>tr>td, .table>tbody>tr>th, .table>tbody>tr>td, .table>tfoot>tr>th, .table>tfoot>tr>td {
    color: #666666;
    border-top: 1px solid #dddddd;
    font-weight: 400;
  }
  .table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th{
    background-color: #f9f9f9;
  }

  .sortedtext {
    color: #666;
  }

  .body {
    height: auto;
    
  }

  .source-col-header {
    font-size: 14px;
  }

  .single-table {
    background-color: #fff;
  }

  .nav-tabs>li {
    float: left;
    margin-bottom: -1px;
  }

  .nav-tabs {
    border-bottom: 1px solid #ddd;
  }

  .nav-tabs>.active {
    margin-bottom: -1px;
  }

  .nav-tabs>li>a {
    border-radius: 3px 3px 0 0;
    color: #4d9dd7;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border-color: #ddd;
    color: #666;
    border-bottom-color: #f5f5f5;
    background-color: #f5f5f5;
    border-left: 1px solid #ddd;
  }

  .widget:not(.widget-tabs) .tab-content {
    background: none;
  }

  .glyphicon-remove{
    margin-left: 20px;
  } 

}//float-card  end

.float-all {
  width: 85%;
  top: 146px;
}

.sever-detail-card{
  position: relative;
  display: block;
}

.float-trace-in-transaction{
  top: 40px;
  & .trace-section{
    box-shadow: rgba(0, 0, 0, 0.29) 0 0 20px 10px;
  }
}

.inner-float-card{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

.float-body {

  margin-top: 10px;

   & .nav > li.active {
     margin-bottom: -1px;
     // border-left: 1px solid #ddd;
  }

   & .nav > li:not(.active) > a {
   background-color: #f5f5f5;
  }
  .nav > li:not(.active) > a:hover {
    background-color: #f5f5f5;
  }
  .nav-tabs > li > a {
    border-bottom: 1px solid #ddd;
  }
  
}

 #inner-tab-body {
  padding: 0;
  padding-top: 10px;
 }

.trans-modal{
  // top: 25%;
  & .modal-dialog{
    margin-top: 10%;
    width: 750px;
    @media(max-width: 768px){
      width: 91%;
    }
    @media(max-width: 640px){
      width: 90%;
    }
    @media(max-width: 530px){
      width: 89%;
    }
    @media(max-width: 480px){
      width: 97.5%;
    }
  }
}

.account-modal{
  // top: 25%;
  & .modal-dialog{
    margin-top: 10%;
    @media(max-width: 768px){
      width: 91%;
    }
    @media(max-width: 640px){
      width: 90%;
    }
    @media(max-width: 530px){
      width: 89%;
    }
    @media(max-width: 480px){
      width: 97.5%;
    }
  }
}

.alert-modal{
  // top: 25%;
  & .modal-dialog{
    margin-top: 10%;
    width: 1000px;
    @media(max-width: 768px){
      width: 91%;
    }
    @media(max-width: 640px){
      width: 90%;
    }
    @media(max-width: 530px){
      width: 89%;
    }
    @media(max-width: 480px){
      width: 97.5%;
    }
  }
}

.form-input-white{
  border: 1px solid #ccc;
  
}

.from-error{
  border: 1px solid #eac85e;
}

.validation-message {
  color: #eac85e;
  font-size: 12px;
  display: none;
}

.modal-body {
  padding-top: 30px;
  @media(max-width: 480px){
    padding-top: 0;
  }
  & .control-label {
    float: right;
    @media(max-width: 768px){
      float: left;
    }
  }

}

#myModalAlert {
  & .form-control{
    display: inline-block;
    width: 25%;
    // height: 25px;
    padding-right: 6px;
    padding-left: 6px;
  }

  & .select{
    width: 32%;
  }

  & .form-row {
    margin-bottom: 18px;
  }
  // & input{
    
  // }

  // & select{
  //   padding-right: 0;
  //   padding-left: 0;
  // }
}

.app_status{
  width: 100%;
  height: 38px;
  position: fixed;
  z-index: 1050;
  bottom: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.4);
  text-align: center;

  .app_status-info{
  margin: 0 auto;
  width: 535px;
  line-height: 38px;
  height: 38px;
  // border-right: 1px solid #222;
  
    & div {
      display: inline-block;
      font-size: 14px;
      font-weight: 400;
      padding: 0 10px;
    }

    & .unit {
      color: #d2d2d2;
      font-size: 13px;
    }
    & .app_name {
      font-size: 15px;
      font-weight: bold;
    }
  }

  
}

.float-show-all {
  z-index: 20;
  height: 500px;

  & .widget {
    background-color: #fff;
  }
}

.dd-handle-show-all {
  display: block;
  height: 35px;
  margin: 5px 0;
  padding: 7px 10px 5px 10px;
  color: #f8f8f8;
  text-decoration: none;
  background: rgba(51,51,51,0.4);
  border-radius: 3px;
  cursor: pointer;
}

.trans-name {
  & a{
    color: #4d9dd7;

    &:hover,
    &:focus {
      color: #2877b0;
    }
  }
}

table .progress {
  margin-left: 8px;
  margin-top: auto;
  margin-bottom: auto;
}

.apdex-td {
  padding-left: 13px !important;
}

.validating {
  text-align: center;
}

.validated {
  text-align: center;
  display: none;
}

.page-header {
    & .navbar {

      @media (max-width: 420px) {
        margin-left: -30px;
      }

      @media (max-width: 390px) {
        margin-left: -50px;
      }
       @media (max-width: 375px) {
        margin-left: -70px;
      }
       @media (max-width: 350px) {
        margin-left: -90px;
      }
      @media (max-width: 330px) {
        margin-left: -110px;
      }
      @media (max-width: 310px) {
        margin-left: -130px;
      }
    }
  }

  #tab1,#tab5,#tab7 {
    margin-top: 70px; 
    margin-bottom: 48px;

  }

  #tab3 {
    margin-bottom: 52px; 
  }
  #tab4 {
    margin-top: 70px;
    & p{
      margin-bottom: 62px;
    }
  }


  .user-info{
    padding-left: 30px;
    padding-right: 30px;
    .form-control{
      height: 35px;
    }
    label {
      margin-bottom: 18px;
    }
    span {
      font-size: 12px;
      cursor: pointer;
    }
    .save-text{
      display: none;
    }
    .edit-text{
      display: none;
    }
    .cancel-text{
      display: none;
      padding-right: 10px;
      line-height: 1.4;
      color: rgba(255,255,255,0.5);
      &:hover{
        color: #fff;
      }
    }
    .form-section:hover {
      & .edit-text{
        display: inline-block;
      }
    }
    .editing {
      display: none;
    }
    .agent,.agent-num{
      display: inline-block;
    }
    .agent-num{
      text-align: right;
    }
  }

  .app-setting{
    padding-left: 30px;
    padding-right: 30px;
    .form-control{
      height: 35px;
    }
    label {
      margin-top: 10px;
      float: right;
    }
    .checkbox{
      margin-top: 0;
    }
    .checkbox-label{
      float: none;
      font-size: 14px;
      font-weight: bolder;
      line-height: 1.3;
      // &.disabled{
      //   cursor: not-allowed;
      // }
    }
    .select-label{
      margin-top: 8px;
    }
    .setting-label{
      margin-top: 7px;
    }
    .tip-info{
      margin-top: 5px;
      font-size: 12px;
      color: #d2d2d2;
      display: none;
      &.active{
        display: block;
      }
    }
    .last-tip-info{
      margin-bottom: 0;
    }
    .save-text{
      font-size: 12px;
      cursor: pointer;
      display: none;
    }
    .edit-text{
      font-size: 12px;
      cursor: pointer;
      display: none;
    }
    .cancel-text{
      display: none;
      padding-right: 10px;
      line-height: 1.4;
      color: rgba(255,255,255,0.5);
      &:hover{
        color: #fff;
      }
    }
    .form-section:hover {
      & .edit-text{
        display: inline-block;
      }
    }
    .editing {
      display: none;
    }
  }


  .news{
    position: fixed;
    bottom: -199px;
    left: 10%;
    display: inline-block;
    border-left: none;
    background: rgba(51, 51, 51, 0.4);
    border-top-right-radius: 4px;
    color: rgb(248, 248, 248);
    transition: transform 0.2s ease;

    .news-light{
      position: absolute;
      top: -41px;
      background: rgba(51, 51, 51, 0.4);
      cursor: pointer;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      p{
        padding: 9px 20px;
        padding-bottom: 5px;
        margin-bottom: 0;
        font-size: 16px;
      }
    }
    .news-content{
      padding: 12px 17px;
      min-width: 400px;
      @media(max-width: 510px){
        min-width: 200px;
      }
    }
    &.active{
      transform: translateY(-199px);
    }
    ul.news-lists {
      & li{
        padding: 8px;
        border-bottom: 1px solid rgba(51,51,51,0.4);
        & a{
          float: right;
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
  }

  #ignore {
    color: #fff;
    float: none;
    margin-left: 15px;
    &:hover {
      color: #e8e8e8;
      background: none;
      cursor: pointer;
    }
  }

  #find-psw {
    & .tab-content{
        background: transparent;
        height: 220px;
    }

    #find-psw1 {
      margin-top: 56px;
    }

     #find-psw2 {
    & p{
      margin-bottom: 62px;
    }
  }
  }

.show-type{
  display: inline-block;
  vertical-align: text-bottom;
  margin-left: 10px;
}

.with-title{
  margin-left: -5px;
}

.type-link{
  padding: 0 5px;
  color: rgba(51, 51, 51, 0.5);
  display: inline-block;
  cursor: pointer;
  &.disabled{
    cursor: default;
    color: #fff;
  }
  &:hover{
    color: #fff;
  }
  &.active{
    color: #fff;
  }
  & .iconfont{
    font-size: 14px;
  }
}

.nonvisible-link{
  display: none;
}

.word-bk {
  word-break: break-all;
}

//°´Å¥-µã»÷ÏÔÊ¾ÄÚÈÝ
.btn-show {
  float:right;
  background-color: transparent;
  color: #fff;
  border: solid 1px #fff;
  padding: 4 10px;
  margin-right: 13px;
  transition: border-color 0.2s;

  &:hover{
    opacity: 0.65;
    border: solid 1px #fff;
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  &:focus, &:active{
    border: solid 1px #fff;
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}
.click-show {
  text-align: right;
  margin-top: -10px;
  margin-bottom: 20px;
  .btn-show {
    float: none;
  }
}

.hide-section {
  display: none;
}
.show-section {
  display: block;
}

.chart-value {
  position: absolute;
  top: 0;
  right: 25px;
  font-weight: bold;
}
.chart-value-link {
  padding: 0 10px;
}

.widget .search-part {
  position: absolute;
  right: 30px;

  input[type=search], input.search {
    padding-left: 26px;
    background-color: #fff;
    background: url(../img/search.png) 3px 4px no-repeat #fff;
    border: 1px solid #ccc;
    min-height: 24px;
    font-size: 12px;
  }
}

.float-card {
  .section {
    color: #666;
  }
  p {
    color: #666;
  }
}
.crash-switch {
  .to-left {
    display: block;
    text-align: left;
    color: #666;
    font-size: 24px;
    &:hover {
      opacity: 0.7;
    }
  }
  .to-right {
    display: block;
    text-align: right;
    color: #666;
    font-size: 24px;
    &:hover {
      opacity: 0.7;
    }
  }
  .title {
    display: block;
    text-align: center;
    font-weight: bold;
  }
  .occur-time {
    display: block;
    text-align: center;
    font-size: 12px;
  }
}


.add-app {
  margin-bottom: 60px;
  .nav-tabs {
    & > li > a {
      font-size: 15px;
    }
    & > li.active > a {
      font-weight: bold;
      padding: 15px 22px !important;
      background: rgba(51, 51, 51, 0.25);
    }
    & > li:not(.active) > a {
      padding: 15px 22px !important;
      background: rgba(51, 51, 51, 0.25);
    }
  }
}
.add-content {
  img {
    padding-bottom: 10px;
  }
  .addapp-btn{
    padding-bottom: 10px;
  }
  .add-app-ul {
    font-size: 14px;
    list-style: inherit;
    padding-left: 34px;
    margin: 15px 0;
  }
  code {
    position: relative;
    display: inline-block;
    font-family: Courier;
    color: #40AFB5;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 6px 35px 6px 14px;
    margin-bottom: 8px;
    word-break: break-all;
    max-width: 93%;
  }
  p > code {
    margin: 0 8px;
    padding: 6px 14px;
  }
  .ul-title {
    font-weight: bold;
  }
  legend {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .section {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
  }
  .note {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
  }
  .form-group {
    margin-left: 24px;
  }
}

.add-app-tab {
  padding: 0 24px 0 0;
   .nav-tabs {
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      & > li > a {
        font-size: 13px;
      }

      & > li.active {
        margin-bottom: -1px;

        & > a {
          font-size: 13px;
          padding: 8px 12px !important;
          background: transparent;
          border: 1px solid rgba(0, 0, 0, 0.5);
          border-bottom-color: #394E6F;
        }
      }
      & > li:not(.active) > a {
        color: #9bd0f6;
        padding: 7px 12px !important;
        background: transparent;

        &:hover {
          background: rgba(51, 51, 51, 0.25);
        }
      } 
   }
   .tab-content {
    padding-left: 0 !important;
      background: transparent !important;
   }
}
.connect-box {
  margin-bottom: 30px;
}
.help-part {
  margin-top: 30px;
  margin-bottom: 20px;
  h5 {
    font-weight: 600;
    line-height: 20px;
  }
  ul {
    padding-left: 15px;

    li {
      line-height: 2;
    }
  }
}

.host-agent-table{
  tr{
    &:hover{
      cursor: pointer;
    }
   &.active{
      & td{
        color: #000;
        background: #fff !important;
      }
      & a{
        color: #4d9dd7;
        font-weight: 400;
        &:hover{

          color: #2877b0;
        }
      }
    }
  }
}
.copy-part {
    .copy-pr {
      position: absolute;
      top: 6px;
      right: 10px;
      display: inline-block;
      color: rgba(255, 255, 255, 0.3);

      &:hover, &:focus, &:active{
        color: rgba(255, 255, 255, 0.8);
        -webkit-transition: color 0.2s;
        -o-transition: color 0.2s;
        transition: color 0.2s;
        cursor: pointer;
      }
      .icon-copy {
        font-size: 14px;
      }
    }
    .copied{
        position: absolute;
        right: -44px;
        color: #56bc76;
        top: 7px;
    } 
}

.h-c {
  margin-right: 5px;
}

.btn-return {
  color: #fff;
  background-color: transparent;
  border: solid 1px #fff;
  box-shadow: none;
  -webkit-box-shadow: none;

  &:hover, &:focus {
    opacity: 0.8;
  }
}
.last-form {
  padding-bottom: 40px;
}
.spec-case {
  display: none;
  background: rgba(51, 51, 51, 0.25);
  padding: 15px;
  .add-app-ul {
    font-size: 12px;
  }
}
//loading
.load-text {
  display: block;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
}
.loader-wrap.for-show {
  opacity: 1;
  margin-left: 0;
  position: absolute;
}
.modal-load {
  width: 290px;
  margin-top: 25%;
  background: transparent;

  .modal-content{
    border: none;
    background: rgba(0, 0, 0, 0.3);
    .modal-header {
      font-size: 12px;
      text-align: center;
      border: none;
      padding-bottom: 0;

      h5{
        color: #fff;
      }
    }
    .modal-body {
      height: 50px;

      .loader .spinner{
        line-height: 0.9;
        color: #fff;
      }
    }
  }
}


//****** 手机注册样式 ***********//
//************** Mobile sign ****************////

.wizard-mobile{
  display: none;
}

.checkcode-input{
  display: inline-block;
  width: 40%;
}
.inline-input{
  display: inline-block;
  width: 50%;
}
.inline-input-2{
  display: inline-block;
  width: 29%;
}
.inline-btn{
  display: inline-block;
  width: 47%;
  padding-left: 3px;
  padding-right: 3px;
  height: 44px;
}
.inputline-btn{
  margin-top: 40%;
}
.checkcode-img{
  display: inline-block;
  float: right;
  cursor: pointer;
  height: 30px;
  width: 80px;
}

.checkcode-num{
  margin-bottom: 21px;
}
.finish-btn{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

}
.repeat-checkcode-btn{
  float: right;
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  margin-left: 22px;
  margin-top: 5px;
  font-size: 15px;
}
.switch{
  vertical-align: middle;
}


//crashDetail
.interac-body {
  padding-left: 0 !important;
  padding-bottom: 0 !important;
}

.interaction-box {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
  min-height: 66px;

  .interac-name{
    text-align: left;
    word-break: break-all;
    margin-top: 7px;
    font-size: 14px;
    line-height: 1.4;
    height: 17px;
    font-weight: normal;
  }
  .description {
    text-align: left;
    margin: 7px 0;
    font-size: 12px;
  }
}
.interac-icon {
  text-align: center;
  line-height: 89px;
}
.interac-col:before {
  display: inline-block;
  font-family: FontAwesome;
  content: "\f105";
  float: right;
  position: relative;
  top: 24px;
  right: -18px;
  font-size: 18px;
  color: rgb(51, 51, 51);
}

.repeat-btn{
  margin-top: 10px;
  display: none;

  & button{
    margin-left: 8px;
    margin-top: -6px;
  }
}

.checkcode-form{
  display: none;
}


.float-card {
  legend {
    border-bottom: 1px solid rgba(51, 51, 51, 0.6);
  }
}
.search_mi {
  input::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(255, 255, 255, 0.6);
  }
  input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: rgba(255, 255, 255, 0.6);
  }
  input::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: rgba(255, 255, 255, 0.6);
  }
  input:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: rgba(255, 255, 255, 0.6);
  }
  .search-form {
    margin: 0;
    margin-top: 5px;
  }
  .search-query-mi {
    color: #fff;
    background: url(../img/search-white.png) 5px 5px no-repeat rgba(51, 51, 51, 0.4);
  }
}

 .mobile-input{
  height: 40px;
}

.btn-lg-mobile{
  height: 44px;
  font-size: 16.5px;
}

.btn-whole{
  width: 100%;
}

input[type="text"][disabled]{
  background-color: #eee;
  opacity: 1;
}

.small-padding-input-lg{
  padding: 10px;
}

.modal-mobile{
  position: static;
  .sign-modal{
    position: static;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
}
.minfo {
  line-height: 1.8;
  .minfo-name {
    width: 29%;
    font-weight: bold;
    display: inline-block;
    text-align: right;
    vertical-align: top;
  }

  .minfo-txt {
    width:70%;
    padding-left: 5px;
    display: inline-block;   
    word-break: break-all;
  }
}
.half-minfo .minfo .minfo-name{
  width: 49%;
}
.half-minfo .minfo .minfo-txt{
  width: 50%;
}
.float-card .minfo-txt{
  color: #666;
}

/****** device of server ********/

.device-widget{
  cursor: pointer;
  &.active{
    background: #fff;
    color: #666;
    font-weight: 400;
    .device-title{
      color: #666;
    }
    .device-chart{
      background-color: #f5f5f5;
    }
    .widget-controls > a, .widget-controls > span{
      color: #666;
    }

  }
}

.device{
  display: inline-block;
  width: 90px;
  vertical-align: middle;
}

.device-chart{
  width: 40px;
  height: 75px;
  background-color: rgba(51, 51, 51, 0.4);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.device-graph{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.disk-space{
  .device-graph{
    background-color: rgba(74, 176, 206, 0.8);
  }
}

.disk-io{
  .device-graph{
    background-color: rgba(234, 200, 94, 0.8);
  }
}

.diskrate{
  display: inline-block;
  position: relative;
  z-index: 2;
  margin-top: 50%;
}

/*** chart-body *****/
.chart-body{
  display: none;
}

.btn-xs{
  padding: 1px 5px;
  line-height: 1.5;
  border-radius: 3px;
}
