/* Awesome Bootstrap Checkbox override */
.checkbox label{
  &::before {
    background: none;
    border-color: #aaa;
  }&::after{
     color: #eee;
   }
}

.radio {
  label {

    &::before {
      background: none;
      border-color: #aaa;
    }

    &::after {
      background-color: #eee;
    }
  }
}

.checkbox-dark input[type="checkbox"]:checked + label{
  &::after{
    color: $gray;
  }
}

.checkbox input[type="checkbox"]:disabled + label::before{
  opacity: 0.65;
  background-color: transparent;
  cursor: not-allowed;
}

.checkbox input[type="checkbox"]:disabled + label::after{
  color: #eee;
  opacity: 0.65;
  cursor: not-allowed;
}