/* Awesome Bootstrap Checkbox override */
.checkbox label{
  &::before {
    background: none;
    border-color: #aaa;
  }&::after{
     color: #eee;
   }
}

.checkboxOver label{
  &::before {
    background: none;
    border-color: rgba(51, 51, 51, 0.5);
  }&::after{
     color: #eee;
   }
}


.radio {
  label {

    &::before {
      background: none;
      border-color: #aaa;
    }

    &::after {
      background-color: #eee;
    }
  }
}

.checkbox-dark input[type="checkbox"]:checked + label{
  &::after{
    color: $gray;
  }
}

.checkbox input[type="checkbox"]:disabled + label{
  opacity: 1;
  cursor: not-allowed;
}

.checkbox input[type="checkbox"]:disabled + label::before{
  opacity: 0.65;
  background-color: transparent;
  cursor: not-allowed;
}

.checkbox input[type="checkbox"]:disabled + label::after{
  color: #eee;
  opacity: 0.65;
  cursor: not-allowed;
}

select:disabled + div{
  cursor: not-allowed;
}

select:disabled + div>button{
  cursor: not-allowed;
}

select:disabled + div>button>span{
  cursor: not-allowed;
}