<ul class="navbar-nav collapsing-header hidden-xs" style="float:left;">
    <li class="ai-li">
        <a href="application_list.html">
            <i class="iconfont collapsing-header-icon">&#xe63a;</i>
        </a>
    </li>
    <li class="bi-li">
        <a href="broswer_list.html">
            <i class="iconfont collapsing-header-icon">&#xe63b;</i>
        </a>
    </li>
    <li class="mi-li">
        <a href="mob_list.html">
            <i class="iconfont collapsing-header-icon">&#xe63c;</i>
        </a>
    </li>
    <li class="si-li">
        <a href="server_list.html">
            <i class="iconfont collapsing-header-icon">&#xe617;</i>
        </a>
    </li>
    <li class="tran-li">
        <a href="keytransaction_list.html">
            <i class="iconfont collapsing-header-icon">&#xe602;</i>
        </a>
    </li>
    <li class="sys-li">
        <a href="account.html">
            <i class="iconfont collapsing-header-icon">&#xe605;</i>
        </a>
    </li>
</ul>