<div id="goHome-content" class="dropdown-menu goHome-content">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-6">
            <a role="button" class="firNav" href="application_list.html" >
                <div class="firNav_content">
                    <div class="firNav_icon">
                        <i class="icon iconfont">&#xe63a;</i>
                    </div>
                    <div class="firNav_title"><span>Application Insight</span></div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <a role="button" class="firNav" href="broswer_list.html">
                <div class="firNav_content">
                    <div class="firNav_icon">
                        <i class="icon iconfont">&#xe63b;</i>
                    </div>
                    <div class="firNav_title"><span>Browser Insight</span></div>
               </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <a role="button" class="firNav" href="mob_list.html">
                <div class="firNav_content">
                    <div class="firNav_icon">
                        <i id="itemCon" class="icon iconfont">&#xe63c;</i>
                    </div>
                    <div class="firNav_title"><span>Mobile Insight</span></div>
                </div>   
            </a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <a role="button" class="firNav" href="server_list.html">
                <div class="firNav_content">
                    <div class="firNav_icon">
                        <i class="icon iconfont">&#xe617;</i>
                        {{!-- <i id="iconplus" class="glyphicon glyphicon-plus-sign iconplus"></i> --}}
                    </div>
                    <div class="firNav_title"><span>服务器监控</span></div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <a role="button" class="firNav" href="keytransaction_list.html">
                <div class="firNav_content">
                    <div class="firNav_icon">
                        <i class="icon iconfont">&#xe602;</i>
                    </div>
                    <div class="firNav_title"><span>关键事务</span></div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <a role="button" class="firNav" href="account.html">
                <div class="firNav_content">
                    <div class="firNav_icon">
                        <i class="icon iconfont">&#xe605;</i>
                    </div>
                    <div class="firNav_title"><span>系统设置</span></div>
                </div>
            </a>
        </div>
    </div>
</div>