
<footer class="footer">
	<div class="footer-content">
		<div class="footer-link">oneapm.com</div>
		<div class="footer-link">帮助中心</div>
		<div class="footer-link">
			<i class="icon iconfont">&#xe649;</i>
		</div>
		<div class="footer-link">
			<i class="icon iconfont">&#xe64a;</i>
		</div>
		<div class="footer-link copyright">Copyright @ 2015 © 2008-2015 北京蓝海讯通科技有限公司</div>
	</div>
</footer>