
<footer class="footer">
	<div class="footer-content">
		<div class="footer-link"><a href="http://oneapm.com/">oneapm.com</a></div>
		<div class="footer-link"><a href="http://oneapm.udesk.cn/hc">帮助中心</a></div>
		<div class="footer-link">
			<a href="http://weibo.com/oneapm"><i class="icon iconfont">&#xe649;</i></a>
		</div>
		<div class="footer-link">
			<a href="javascript:;"><i class="icon iconfont">&#xe64a;</i></a>
		</div>
		<div class="footer-link copyright">Copyright @ 2015 © 2008-2015 北京蓝海讯通科技有限公司</div>
	</div>
</footer>