

<header class="page-header">
    <div class="navbar">
        
        <ul class="nav navbar-nav" style="float:left;">
            <li id="divider" class="divider"></li>
            <li class="goHome" >
                <span class="appOpt">性能分析周报</span>
            </li>
        </ul>
    </div>
</header>

   