<header class="page-header">
    <div class="navbar">
        <ul class="nav navbar-nav pull-left">
            <li id="Home-nav">
                <button id="goHome" type="button" class="goHome">
<<<<<<< HEAD
                  <span class="go_button" style="font-weight: 600; color: rgba(51, 51, 51, 0.5); font-weight: bold;">应用程序</span>
                  <img id="go_img" class="go_img icon-down" src="../img/back-01.png">
=======
                    <i class="iconfont icon3">&#xe606;</i>
                    <span class="go_button">应用程序</span>
                    <i id="icon_down" class="iconfont icon2">&#xe610;</i>
                    <i id="icon_up" class="iconfont icon2 icon-direc">&#xe611;</i>
                    
>>>>>>> a3723439dd44e07c2941d9ac3899e5268e374f23
                </button>

                <div id="goHome-content" class="dropdown-menu goHome-content">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <a role="button" class="firNav" href="application_list.html" >
                                <div class="firNav_content">
                                    <div class="firNav_icon">
                                        <i class="icon iconfont">&#xe606;</i>
                                    </div>
                                    <div class="firNav_title"><span>应用程序</span></div>
                                </div>
                                
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <a role="button" class="firNav">
                                <div class="firNav_content">
                                    <div class="firNav_icon">
                                        <i class="icon iconfont">&#xe603;</i>
                                    </div>
                                    <div class="firNav_title"><span>浏览器</span></div>
                               </div>
                                
                            </a>
                        </div>
                      <div class="col-md-4 col-sm-6">
                            <a role="button" class="firNav">
                                <div class="firNav_content">
                                    <div class="firNav_icon">
                                        <i class="icon iconfont">&#xe602;</i>
                                    </div>
                                    <div class="firNav_title"><span>关键事务</span></div>
                                </div>
                            </a>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <a role="button" class="firNav">
                                <div class="firNav_content">
                                    <div class="firNav_icon">
                                        <i class="icon iconfont">&#xe604;</i>
                                    </div>
                                    <div class="firNav_title"><span>移动应用</span></div>
                                </div>
                                
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <a role="button" class="firNav">
                                <div class="firNav_content">
                                    <div class="firNav_icon">
                                        <i class="icon iconfont">&#xe605;</i>
                                    </div>
                                    <div class="firNav_title"><span>系统设置</span></div>
                                </div>
                                
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <a role="button" class="firNav">
                                <div class="firNav_content">
                                    <div class="firNav_icon">
                                        <i class="icon iconfont">&#xe601;</i>
                                    </div>
                                    <div class="firNav_title"><span>个人中心</span></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

<<<<<<< HEAD
            </div>
            <div id="appOption" class="appOption" style="padding-top: 9px;">

                <div class="dropdown" style="width:150px;">
                    <a href="#" title="appOption" 
                       class="dropdown-toggle" data-toggle="dropdown" style="color: #f8f8f8;">
                        <i class="iconfont icon2">&#xe60f; <span class="appOpt" style="padding-right: 10px;color: rgba(51, 51, 51, 0.5);font-weight: bold;" >MyApplication</span></i>
                        <img id="go_app" class="go_img icon-down" src="../img/back-01.png" style="width: 8px">
                    </a>

                    <ul id="app_menu" class="dropdown-menu account" role="menu">
                        <li role="presentation">
                            <a href="#" class="link">
                                <i class="iconfont icon2">&#xe60f; </i>
                                app1
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#" class="link">
                                <i class="iconfont icon2">&#xe60f; </i>
                                app2
                            </a>
                        </li>
                    </ul>
                </div>
=======
            </li>
            <li id="divider" class="divider"></li>
            <li class="dropdown goHome">
                <a href="#" title="appOption" id="appOption"
                   class="dropdown-toggle" data-toggle="dropdown">
                    <i class="iconfont icon2">&#xe60f; </i>
                    <span class="appOpt">My Application</span>
                    <i id="icon_down1" class="iconfont icon2">&#xe610;</i>
                    <i id="icon_up1" class="iconfont icon2 icon-direc">&#xe611;</i>
                </a>

                <ul id="appOption_menu" class="dropdown-menu account" role="menu">
                    
                    <li role="presentation">
                        <a href="#" class="link">
                            <i class="iconfont icon2">&#xe60f; </i>
                            app1
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#" class="link">
                            <i class="iconfont icon2">&#xe60f; </i>
                            app2
                        </a>
                    </li>
                </ul>

            </li>
>>>>>>> a3723439dd44e07c2941d9ac3899e5268e374f23

        </ul>
           
        <ul class="nav navbar-nav navbar-right pull-right">
            
            
            
            <li class="hidden-xs">
                <a href="#" id="settings"
                   title="Settings"
                   data-toggle="popover1"
                   data-placement="bottom" style="width: 31px;">
                    <i class="fa fa-cog" style="margin-top: 9px;"></i>
                </a>
            </li>
            <li class="divider"></li>
            <li class="hidden-xs dropdown" style="margin-right:16px; margin-left:7px;">
                <a href="#" title="Account" id="account"
                   class="dropdown-toggle"
                   data-toggle="dropdown" style="width: 100%;">
                    <i class="fa fa-user" style="float:right; margin-top:8px;"> <span style="float:right; margin-top:5px; margin-left:9px; font-size:13px;">674986033@qq.com</span></i>
                </a>

                <ul id="account-menu" class="dropdown-menu account" role="menu">
                    <li role="presentation" class="account-picture">
                        <img src="img/2.jpg" alt="">
                        Philip
                    </li>
                    <li role="presentation">
                        <a href="form_account.html" class="link">
                            <i class="fa fa-user"></i>
                            账户设置
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#" class="link">
                            <i class="fa fa-sign-out"></i>
                            退出登录
                        </a>
                    </li>
                </ul>
            </li>
          
             <li class="visible-xs">
                <a href="#"
                   class="btn-navbar"
                   data-toggle="collapse"
                   data-target=".sidebar"
                   title="">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
           <!--  <li class="hidden-xs"><a href="login.html"><i class="fa fa-sign-out"></i></a></li> -->
        </ul>
         
    </div>
</header>
    <script>
<<<<<<< HEAD
        $(function(){
            $('#goHome').click(function(e){
                 
                $('#goHome-content').toggle();
                if ($('#go_img').hasClass("icon-down")){
                   $('#go_img').removeClass("icon-down").addClass("icon-up"); 
                }
                else {
                    $('#go_img').removeClass("icon-up").addClass("icon-down"); 

                }
                e.stopPropagation();
                return false;
            })
            
            $(document).click(function(){
=======
       $(function(){

        $('#goHome').click(function(e){
            $('#appOption_menu').hide();
            $('#icon_down1').show(); 
            $('#icon_up1').hide();
            if ($('#goHome-content').css('display') == 'none') {
                $('#goHome-content').show();
                $('#icon_up').show();
                $('#icon_down').hide(); 
                
            }else{
>>>>>>> a3723439dd44e07c2941d9ac3899e5268e374f23
                $('#goHome-content').hide();
                $('#icon_down').show(); 
                $('#icon_up').hide();
            }


            e.stopPropagation();
        })

         $('#appOption').click(function(e){
            $('#goHome-content').hide();
            $('#icon_down').show(); 
            $('#icon_up').hide();
            if ($('#appOption_menu').css('display') == 'none') {
                $('#appOption_menu').show();
                $('#icon_down1').hide(); 
                $('#icon_up1').show();

            }else{
                $('#appOption_menu').hide();
                $('#icon_down1').show(); 
                $('#icon_up1').hide();
            }
            e.stopPropagation();

<<<<<<< HEAD
            $('#goHome-content').click(function(e){
                $('#goHome-content').show();
                $('#go_img').removeClass("icon-down").addClass("icon-up"); 
                e.stopPropagation();
            })

            $('#appOption').click(function(){

                $('#app_menu').toggle();
                if ($('#go_app').hasClass("icon-down")){
                   $('#go_app').removeClass("icon-down").addClass("icon-up"); 
                }
                else {
                    $('#go_app').removeClass("icon-up").addClass("icon-down"); 

                }
                return false;
            })

            $(document).click(function(){
                $('#app_menu').hide();
                $('#go_app').removeClass("icon-up").addClass("icon-down"); 

            })

=======
         })
         $(document).click(function(e){
                $('#goHome-content').hide();
                $('#icon_down').show(); 
                $('#icon_up').hide();
                $('#appOption_menu').hide();
                $('#icon_down1').show(); 
                $('#icon_up1').hide(); 
                e.stopPropagation();
         })
         $('#goHome-content').click(function(e){
                $('#goHome-content').show();
                $('#appOption_menu').hide();
                $('#icon_down').hide(); 
                $('#icon_up').show();
                e.stopPropagation();
         })
>>>>>>> a3723439dd44e07c2941d9ac3899e5268e374f23

    })


    </script>
   