<header class="page-header">
    <div class="navbar">
        <div class="nav navbar-nav pull-left">
            <div id="Home-nav" style="float:left">
                <button id="goHome" type="button" class="goHome">
                  <span class="go_button">应用程序</span>
<<<<<<< HEAD
                  <i class="glyphicon glyphicon-chevron-up" id="go-home-icon"></i>
=======
                  <img id="go_img" class="go_img" src="../img/back-01.png">
>>>>>>> d97d86f83c6116cc04624e62585ece6ee8af6ee9
                </button>
                <div id="goHome-content" class="goHome-content">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <a role="button" class="firNav" href="application_list.html" >
                                <div class="firNav_content">
                                    <div class="firNav_icon">
                                        <i class="icon iconfont">&#xe606;</i>
                                    </div>
                                    <div class="firNav_title"><span>应用程序</span></div>
                                </div>
                                
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <a role="button" class="firNav">
                                <div class="firNav_content">
                                    <div class="firNav_icon">
                                        <i class="icon iconfont">&#xe603;</i>
                                    </div>
                                    <div class="firNav_title"><span>浏览器</span></div>
                               </div>
                                
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <a role="button" class="firNav">
                                <div class="firNav_content">
                                    <div class="firNav_icon">
                                        <i class="icon iconfont">&#xe602;</i>
                                    </div>
                                    <div class="firNav_title"><span>关键事务</span></div>
                                </div>
                            </a>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <a role="button" class="firNav">
                                <div class="firNav_content">
                                    <div class="firNav_icon">
                                        <i class="icon iconfont">&#xe604;</i>
                                    </div>
                                    <div class="firNav_title"><span>移动应用</span></div>
                                </div>
                                
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <a role="button" class="firNav">
                                <div class="firNav_content">
                                    <div class="firNav_icon">
                                        <i class="icon iconfont">&#xe605;</i>
                                    </div>
                                    <div class="firNav_title"><span>系统设置</span></div>
                                </div>
                                
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <a role="button" class="firNav">
                                <div class="firNav_content">
                                    <div class="firNav_icon">
                                        <i class="icon iconfont">&#xe601;</i>
                                    </div>
                                    <div class="firNav_title"><span>个人中心</span></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div id="appOption" class="appOption">

                <div class="dropdown" style="width:80px;">
                    <a href="#" title="appOption" 
                       class="dropdown-toggle" data-toggle="dropdown" style="color: #f8f8f8;">
                        <i class="iconfont icon2">&#xe60f; <span class="appOpt">订餐系统</span></i>
                    </a>

                    <ul id="" class="dropdown-menu account" role="menu">
                        <li role="presentation">
                            <a href="#" class="link">
                                <i class="iconfont icon2">&#xe60f; </i>
                                app1
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#" class="link">
                                <i class="iconfont icon2">&#xe60f; </i>
                                app2
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            
        </div>
        <ul class="nav navbar-nav navbar-right pull-right">
            
            
            <li class="divider"></li>
            <li class="hidden-xs">
                <a href="#" id="settings"
                   title="Settings"
                   data-toggle="popover1"
                   data-placement="bottom">
                    <i class="fa fa-cog" style="margin-top: 5px;"></i>
                </a>
            </li>
            <li class="hidden-xs dropdown" style="width: 200px;">
                <a href="#" title="Account" id="account"
                   class="dropdown-toggle"
                   data-toggle="dropdown" style="width: 80%;">
                    <i class="fa fa-user" style="float: left;margin-top: 8px;"> <span style="float: right; margin-top: 5px; margin-left: 9px;font-size: 13px;">674986033@qq.com</span></i>
                </a>

                <ul id="account-menu" class="dropdown-menu account" role="menu">
                    <li role="presentation" class="account-picture">
                        <img src="img/2.jpg" alt="">
                        Philip Daineka
                    </li>
                    <li role="presentation">
                        <a href="form_account.html" class="link">
                            <i class="fa fa-user"></i>
                            账户设置
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#" class="link">
                            <i class="fa fa-sign-out"></i>
                            退出登录
                        </a>
                    </li>
                </ul>
            </li>
          
             <li class="visible-xs">
                <a href="#"
                   class="btn-navbar"
                   data-toggle="collapse"
                   data-target=".sidebar"
                   title="">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
           <!--  <li class="hidden-xs"><a href="login.html"><i class="fa fa-sign-out"></i></a></li> -->
        </ul>
         
    </div>
</header>
    <script>
        $(function(){
            $('#goHome').click(function(e){
                 
                $('#goHome-content').toggle();
                if ($('#go-home-icon').hasClass("glyphicon-chevron-up")){
                   $('#go-home-icon').removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down"); 
                }
                else {
                    $('#go-home-icon').removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");
                }
                 e.stopPropagation();
            })
            
            $(document).click(function(){
                $('#goHome-content').hide();
                $('#go-home-icon').removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");

            })

            $('#goHome-content').click(function(e){
                $('#goHome-content').show();

                $('#go-home-icon').removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
                e.stopPropagation();
            })
    })

    </script>
   