<div class="navbar nav-picker">
   <ul class="nav navbar-nav navbar-right">
       <li class="dropdown agents">
          <div>
              <button class="btn dropdown-toggle picker" data-toggle="dropdown">
                  <a href="#"> All Agents </a>
                   <span class="caret"></span>
              </button>
               <ul class="dropdown-menu account">
                   <li>
                       <a href="#">All Agents</a>
                   </li>
                   <li>
                       <a href="#">Agents 1</a>
                   </li>
                   <li>
                       <a href="#">Agents 2</a>
                   </li>
                   <li>
                       <a href="#">Agents 3</a>
                   </li>
               </ul>
          </div>
       </li>
       <li id="divider" class="divider"></li>
       <li role="presentation" class="timepicker">
           <div class="form-group">
               <button class="btn picker" id="daterangepicker">
                   <i class="fa fa-clock-o"></i> 
                   <span></span> <b class="caret"></b>
               </button>
           </div>
       </li>
   </ul>  
</div>