<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li class="{{conditionClass "active" active "overviewServ"}}">
            <a href="overviewServ.html"> 
                <i class="iconfont icon-side">&#xe62a;</i> 
                <span class="name">总览</span>
            </a>
        </li>
        <li class="{{conditionClass "active" active "diskServ"}}">
            <a href="diskServ.html"> 
                <i class="iconfont icon-side">&#xe62f;</i> 
                <span class="name">磁盘</span>
            </a>
        </li>
        <li class="{{conditionClass "active" active "networkServ"}}">
            <a href="networkServ.html"> 
                <i class="iconfont icon-side">&#xe626;</i> 
                <span class="name">网络</span>
            </a>
        </li>        
        <li class="{{conditionClass "active" active "processServ"}}">
            <a href="processServ.html"> 
                <i class="iconfont icon-side">&#xe62b;</i> 
                <span class="name">进程</span>
            </a>
        </li>
    </ul>
</nav>