<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li class="{{conditionClass "active" active "dashboard1"}}">
            <a href="dashboard1.html"> 
                <i class="iconfont icon-side">&#xe629;</i> 
                <span class="name">仪表盘1</span>
            </a>
        </li>
        <li class="{{conditionClass "active" active "dashboard2"}}">
            <a href="dashboard2.html"> 
                <i class="iconfont icon-side">&#xe629;</i> 
                <span class="name">仪表盘2</span>
            </a>
        </li>
       {{!--  <li class="{{conditionClass "active" active "dashboard3"}}">
            <a href="dashboard3.html"> 
                <i class="iconfont icon-side">&#xe629;</i> 
                <span class="name">仪表盘3</span>
            </a>
        </li>
        <li class="{{conditionClass "active" active "dashboard4"}}">
            <a href="dashboard4.html"> 
                <i class="iconfont icon-side">&#xe629;</i> 
                <span class="name">仪表盘4</span>
            </a>
        </li> --}}
    </ul>
</nav>