<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li class="{{conditionClass "active" active "overviewKey"}}">
            <a href="overviewKey.html"> <i class="iconfont icon-side">&#xe62a;</i> <span class="name">总览</span></a>
        </li>
        <li class="{{conditionClass "active" active "topologyKey"}}">
            <a href="topologyKey.html"> <i class="iconfont icon-side">&#xe62d;</i> <span class="name">拓扑</span></a>
        </li>
        <li class="{{conditionClass "active" active "profilerKey"}}">
            <a href="profilerKey.html"> <i class="iconfont icon-side">&#xe62e;</i> <span class="name">性能剖析</span></a>
        </li>        
        
    </ul>
</nav>