 {{#extend "layout"}}
    {{#replace "sidebar"}}
    <div class="sidebar-hidden">
        {{> sidebar this conditionClass=conditionClass active=""}}
    </div>
    {{/replace}}

    {{#replace "app_content"}}
    <div style="margin-left: -185px;">
        <div class="row">
            <div class="col-lg-8 col-md-8 cpl-sm-12">
                <h2 class="page-title">
                    <a href="mob_list.html">
                        <button type="button" class="btn btn-success btn-sm btn-reply" data-placement="top">
                            <i class="iconfont icon3">&#xe612;</i>
                        </button>
                    </a>
                    <span>添加应用<small>新增应用</small></span>
                </h2>
                <section class="widget">
                  {{!--   <header></header> --}}
                    <div class="body">
                        <section class="widget widget-tabs add-app">
                            <header>
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#ios" data-toggle="tab" class="tabIcon">iOS</a>
                                    </li>
                                    <li data-toggle="tooltip" data-placement="top" title=".Net">
                                        <a href="#android" data-toggle="tab" class="tabIcon">Android</a>
                                    </li>
                                </ul>
                            </header>
                            <div class="body tab-content add-content">
                                <div id="ios" class="tab-pane active clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        
                                        <div class="form-section">
                                            <legend class="section">1. 命名你的应用程序</legend>
                                            <div class="form-group">
                                                <p>Agent 安装成功后，你可以随时重命名你的应用程序</p>
                                                <div class="input-group" style="width:220px">
                                                    <input data-trigger="change" required="required" class="form-control input-transparent">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-success" type="button">保存</button>
                                                    </span>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="form-section">
                                            <legend class="section">2. 下载并解压 OneAPM iOS SDK</legend>
                                            <div class="form-group">
                                                <div class="addapp-btn">
                                                    <a href="add_application.html">
                                                        <button type="button" class="btn btn-primary btn-sm" data-placement="top">
                                                           <i class="iconfont icon2" style="padding-right:8px">&#xe650;</i> OneAPM_iOS_Agent.zip
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-section">
                                            <legend class="section">3. 添加 OneAPM Framework 至 Xcode 项目中</legend>
                                            <div class="form-group">
                                                <p>解压SDK，并将"OneAPM.framework"文件夹从Finder中拖拽至Xcode项目中（悬停至导航窗口的项目中）。出现提示窗口时，选择"Copy items into destination..."和"Create folder references..."。</p>
                                                <img src="img/mi1.png" class="img-responsive">

                                            </div>
                                        </div>
                                        <div class="form-section">
                                            <legend class="section">4. 在 Linker Settings 中添加以下 3 个 Libraries</legend>
                                            <div class="form-group">
                                                <p>在项目导航窗口内点击你的Project，并选中你的App，然后选择“Build Phases"选项卡。打开"Link Binary with Libraries"列表。点击添加：</p>
                                                <ul class="add-app-ul">
                                                    <li>
                                                        <p>SystemConfiguration.framework</p>
                                                    </li>
                                                    <li>
                                                        <p>CoreTelephony.framework</p>
                                                    </li>
                                                    <li>
                                                        <p>CoreData.framework</p>
                                                    </li>
                                                    <li>
                                                        <p>libz.dylib</p>
                                                    </li>
                                                    <li>
                                                        <p>libstdc++.dylib</p>
                                                        <img src="img/mi2.png" class="img-responsive">
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                        <div class="form-section">
                                            <legend class="section">5. Build Settings设置</legend>
                                            <div class="form-group">
                                                <p>选择对应的target，在“Build Settings”中，为“Other Linker Flags”增加“-all_load”选项，如下图所示：</p>
                                                <img src="img/mi3.png" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="form-section">
                                            <legend class="section">6. 启动agent</legend>
                                            <div class="form-group">
                                                <ul class="add-app-ul">
                                                    <li>
                                                        <p>在项目文件[app_name]-Prefix.pch（通常在文件夹“Support Files"中）中，引入OneAPM头文件：</p>
                                                        <code>#import &lt;OneAPM/OneAPM.h>
                                                            <span class="copy-part">
                                                                <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                <span class="copied hide-section">已复制</span>
                                                            </span>
                                                        </code>
                                                    </li>
                                                    <li>
                                                        <p>在文件AppDelegate.m中添加如下代码，并确保它在<code>application:didFinishLaunchingWithOptions</code>的第一行中。</p>
                                                        <code>[OneAPM startWithApplicationToken:@"&lt;generate app token by creating a name above>"];
                                                            <span class="copy-part">
                                                                <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                <span class="copied hide-section">已复制</span>
                                                            </span>
                                                        </code>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                        <div class="form-section">
                                             <legend class="section">7. 运行应用程序</legend>
                                             <div class="form-group">
                                                
                                                <p>clean project，并重新在模拟器或设备中启动应用程序，开始应用性能管理。</p>
                                                
                                                <p class="note">提示：OneAPM iOS SDK目前支持iOS 6.0之后的版本；在iOS6.0之前的版本中安装OneAPM agent不会导致报错，但无法获取性能数据。</p>
                                             </div>
                                        </div>
                                        <div class="form-section last-form">
                                             <legend class="section">3. 重启</legend>
                                             <div class="form-group">
                                                
                                                <p>请静候5分钟，等待应用程序向OneAPM发送应用程序性能数据，即可开始使用OneAPM应用性能管理。</p>
                                             </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="android" class="tab-pane">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        
                                        <div class="form-section">
                                            <legend class="section">1. 命名你的应用程序</legend>
                                            <div class="form-group">
                                                <p>Agent 安装成功后，你可以随时重命名你的应用程序</p>
                                                <div class="input-group" style="width:220px">
                                                    <input data-trigger="change" required="required" class="form-control input-transparent">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-success" type="button">保存</button>
                                                    </span>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="form-section">
                                            <legend class="section">2. 选择开发环境</legend>
                                            <div class="form-group add-app-tab">
                                                 
                                                <header>
                                                    <ul class="nav nav-tabs">
                                                        <li class="active">
                                                            <a href="#ant" data-toggle="tab" class="tab_link">Ant</a>
                                                        </li>
                                                        <li>
                                                            <a href="#eclipse" data-toggle="tab" class="tab_link">Eclipse</a>
                                                        </li>
                                                        <li>
                                                            <a href="#gradle" data-toggle="tab" class="tab_link">Android Studio (Gradle)</a>
                                                        </li>
                                                    </ul>
                                                </header>
                                                <div class="body tab-content">
                                                    <div id="ant" class="tab-pane active clearfix">
                                                        <ul class="add-app-ul">
                                                            <li>
                                                                <p>安装 OneAPM Agent</p>
                                                                <div class="addapp-btn">
                                                                    <a href="add_application.html">
                                                                        <button type="button" class="btn btn-primary btn-sm" data-placement="top">
                                                                           <i class="iconfont icon2" style="padding-right:8px">&#xe650;</i> OneAPM_Android_Agent.zip
                                                                        </button>
                                                                    </a>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <p>添加 OneAPM 至你的 App</p>
                                                                <p>复制文件<code>OneAPM_android_Agent_1.0/sdk-v1.0/blueware-android-agent.jar</code>到你的App目录<code>libs</code>下。</p>
                                                            </li>
                                                            <li>
                                                                <p>添加class.rewriter.jar到ANT_OPTS环境变量</p>
                                                                <p>通过更改 ANT_OPTS 环境变量，将OneAPM 添加至Ant 加载选项中。</p>
                                                                <ul class="add-app-ul">
                                                                    
                                                                    <li>Mac OS / Linux
                                                                        <code>export ANT_OPTS="-javaagent:/path/to/OneAPM_android_Agent_1.0/sdk-v1.0/class.rewriter.jar"
                                                                            <span class="copy-part">
                                                                                <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                                <span class="copied hide-section">已复制</span>
                                                                            </span>
                                                                        </code>
                                                                    </li>
                                                                    <li>Windows
                                                                        <code>set ANT_OPTS="-javaagent:C:\path\to\OneAPM_android_Agent_1.0\sdk-v1.0\class.rewriter.jar"
                                                                            <span class="copy-part">
                                                                                <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                                <span class="copied hide-section">已复制</span>
                                                                            </span>
                                                                        </code>
                                                                    </li>
                                                                </ul>
                                                                <p></p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div id="eclipse" class="tab-pane clearfix">
                                                        <ul class="add-app-ul">
                                                            <li>
                                                                <p>安装OneAPM Eclipse 插件</p>
                                                                <p class="note">Eclipse插件需要JAVA_HOME环境变量，不支持最新4.4版本Eclipse。</p>
                                                                <p>打开ADT或Eclipse，点击"help"菜单中的"Install New Software..."，并复制以下链接至"Select All"按钮上方的输入框中：</p>
                                                                <code>https://download.oneapm.com/android_agent/eclipse/
                                                                    <span class="copy-part">
                                                                        <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                        <span class="copied hide-section">已复制</span>
                                                                    </span>
                                                                </code>
                                                                <img src="img/mi4.png" class="img-responsive">
                                                                <img src="img/mi5.png" class="img-responsive">
                                                                <p>点击"Select All"，取消"Contact all update sites"勾选，点击"Next>"，跟随剩下的步骤并重启Eclipse。</p>
                                                                <img src="img/mi6.png" class="img-responsive">
                                                            </li>
                                                            <li>
                                                                <p>加载oneAPM至应用程序</p>
                                                                <img src="img/mi7.png" class="img-responsive">
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div id="gradle" class="tab-pane clearfix">
                                                        <ul class="add-app-ul">
                                                            <li>
                                                                <p>下载并解压 OneAPM SDK</p>
                                                                <div class="form-group">
                                                                    <div class="addapp-btn">
                                                                        <a href="add_application.html">
                                                                            <button type="button" class="btn btn-primary btn-sm" data-placement="top">
                                                                               <i class="iconfont icon2" style="padding-right:8px">&#xe650;</i> OneAPM_Android_Agent.zip
                                                                            </button>
                                                                        </a>
                                                                    </div>
                                                                    <p>下载 OneAPM Android Studio SDK，并解压。</p>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <p>配置 Gradle</p>
                                                                <p>打开工程根目录下的build.gradle文件</p>
                                                                <img src="img/mi8.png" class="img-responsive">
                                                                <p>在 dependencies 模块中加入代码</p>
                                                                <code>classpath fileTree(dir: 'YourOneAPMPath/oneapm/plugin', include: ['*.jar'])
                                                                    <span class="copy-part">
                                                                        <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                        <span class="copied hide-section">已复制</span>
                                                                    </span>
                                                                </code>
                                                                <img src="img/mi9.png" class="img-responsive">
                                                            </li>
                                                            <li>
                                                                <p>引入 OneAPM</p>
                                                                <p>打开主模块目录下的 build.gradle 文件</p>
                                                                <img src="img/mi10.png" class="img-responsive">
                                                                <p>在 dependencies 模块中加入代码</p>
                                                                <code>compile fileTree(dir:'YourOneAPMPath/oneapm/agent',include:['*.jar'])
                                                                    <span class="copy-part">
                                                                        <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                        <span class="copied hide-section">已复制</span>
                                                                    </span>
                                                                </code>
                                                                <img src="img/mi11.png" class="img-responsive">
                                                                <p>在文件头部引入 OneAPM</p>
                                                                <code>apply plugin: 'oneapm'
                                                                    <span class="copy-part">
                                                                        <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                        <span class="copied hide-section">已复制</span>
                                                                    </span>
                                                                </code>
                                                                <img src="img/mi12.png" class="img-responsive">
                                                                   
                                                            </li>
                                                            <li>
                                                                <p>rebuild &amp; clean 项目</p>
                                                                <p>建议 rebuild &amp; clean 项目，来确保 OneAPM 配置生效。</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <p>推荐使用Ant安装方式。</p>
                                                <p class="note">注意：Agent 不支持只有jre的运行环境。</p>
                                            </div>
                                        </div>
                                        <div class="form-section">
                                            <legend class="section">3.  配置授权信息</legend>
                                            <div class="form-group">
                                                <ul class="add-app-ul">
                                                    <li>
                                                        <p>确保应用程序的AndroidManifest.xml配置文件中，引入了INTERNET和ACCESS_NETWORK_STATE两个请求授权</p>
                                                        <code>&lt;uses-permission android:name="android.permission.INTERNET" /><br>&lt;uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
                                                            <span class="copy-part">
                                                                <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                <span class="copied hide-section">已复制</span>
                                                            </span>
                                                        </code>
                                                    </li>
                                                    <li>
                                                        <p>若想使用 Crash 快照功能，请引入以下授权信息</p>
                                                        <code>&lt;uses-permission android:name="android.permission.GET_TASKS" />
                                                            <span class="copy-part">
                                                                <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                <span class="copied hide-section">已复制</span>
                                                            </span>
                                                        </code>
                                                        <p class="note">注意：如果您的应用使用progurd混淆，请配置以下</p>
                                                        <code>-dontwarn org.apache.commons.**<br>-keep class org.apache.http.impl.client.**<br>-dontwarn org.apache.commons.**<br>-keep class com.blueware.** { *; }<br>-dontwarn com.blueware.**<br>-keepattributes Exceptions, Signature, InnerClasses
                                                            <span class="copy-part">
                                                                <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                <span class="copied hide-section">已复制</span>
                                                            </span>
                                                        </code>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="form-section">
                                             <legend class="section">4. 启动agent</legend>
                                             <div class="form-group">
                                                <ul class="add-app-ul">
                                                    <li>
                                                        <p>在默认启动的Activity中import BlueWare 类</p>
                                                        <code>import com.blueware.agent.android.BlueWare;
                                                            <span class="copy-part">
                                                                <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                <span class="copied hide-section">已复制</span>
                                                            </span>
                                                        </code>
                                                    </li>
                                                    <li>
                                                        <p>在onCreate()方法中加入如下call来初始化oneAPM（其中包含了在步骤2中根据应用程序名称而生成的授权编号）</p>
                                                        <code>BlueWare.withApplicationToken("&lt;generate app token by creating a name above>").start(this.getApplication());
                                                            <span class="copy-part">
                                                                <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                <span class="copied hide-section">已复制</span>
                                                            </span>
                                                        </code>
                                                    </li>
                                                </ul>
                                             </div>
                                        </div>
                                        <div class="form-section">
                                            <legend class="section">5. 启动应用程序</legend>
                                            <div class="form-group">
                                                <p>clean project，并重新在模拟器或设备中启动应用程序，开始应用性能管理。</p>
                                            </div>
                                        </div>
                                        <div class="form-section last-form">
                                            <legend class="section">6. 静候5分钟，开启OneAPM之旅</legend>
                                            <div class="form-group">
                                                <p>静候5分钟，开启OneAPM之旅</p>
                                                <p>静候5分钟，等待应用程序向OneAPM发送应用程序性能数据，即可开始使用OneAPM应用性能管理。</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="connect-box">           
                            <a href="mob_list.html"><button type="button" class="btn btn-return btn-sm" data-placement="top">
                                返回应用程序列表
                            </button></a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h2 class="page-title">
                    安装帮助<small>help</small>
                </h2>
                <section class="widget">
                    <header>
                        <h5>iOS SDK 安装方法</h5>
                    </header>
                    <div class="body">
                        <video controls="" class="img-responsive" poster="img/video-poster.jpg">
                            <source src="http://oneapm-com-public-file.qiniudn.com/java-agent-install.mp4" type="video/mp4">
                        </video>
                        
                        <div class="help-part">
                            <h5>查阅更多文档</h5>
                            <ul>
                                <li><a href="">iOS SDK Release Note</a></li>
                                <li><a href="">iOS SDK安装方法</a></li>
                            </ul>
                        </div>
                        <div class="help-part">
                            <h5>获取更多支持</h5>
                            <ul>
                                <li><a href=""><i class="iconfont icon1 h-c">&#xe64d;</i>知识库</a></li>
                                <li><a href=""><i class="iconfont icon1 h-c">&#xe64e;</i>提交工单</a></li>
                                <li><a href=""><i class="iconfont icon1 h-c">&#xe64c;</i>400-622-3101</a></li>
                                <li><a href=""><i class="iconfont icon1 h-c" style="font-size: 18px">&#xe624;</i>support@onepam.com</a></li>
                                <li><a href=""><i class="iconfont icon1 h-c">&#xe649;</i>OneAPM 官方微博</a></li>
                                <li><a href=""><i class="iconfont icon1 h-c">&#xe64a;</i>OneAPM 公众账号</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
     
    {{/replace}}
    {{#append "scripts"}}
        <!-- page application js -->
        
        <script>
            $('#appList').hide();
            $('#divider').hide();
            $('#settings').hide();
            $('#divider1').hide();

            $('.copy-part').click(function(){
                // $(this).find('.copied').toggleClass("show-section");
                $(this).find('.copied').show();
                setTimeout(function (){
                     $('.copied').hide();
                 },1500);
            })

            $('#spec-case').click(function(){
                $('.spec-case').show();
            })

            $(document).ready(function(){
                 $('.logo').css("position","absolute");
            })
            
            
        </script>
        <script src="js/ui-buttons.js"></script>
    {{/append}}

{{/extend}}