 {{#extend "layoutMob"}}
    {{#replace "sidebarMob"}}
    <div class="sidebar-hidden">
        {{> sidebarMob this conditionClass=conditionClass active=""}}
    </div>
    {{/replace}}

    {{#replace "app_content"}}
    <div style="margin-left: -185px;">
        <div class="row">
            <div class="col-lg-8 col-md-8 cpl-sm-12">
                <h2 class="page-title">
                    <a href="mob_list.html">
                        <button type="button" class="btn btn-success btn-sm btn-reply" data-placement="top">
                            <i class="iconfont icon3">&#xe612;</i>
                        </button>
                    </a>
                    <span>添加应用<small>新增应用</small></span>
                </h2>
                <section class="widget">
                  {{!--   <header></header> --}}
                    <div class="body">
                        <section class="widget widget-tabs add-app">
                            <header>
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#ios" data-toggle="tab" class="tabIcon">iOS</a>
                                    </li>
                                    <li data-toggle="tooltip" data-placement="top" title=".Net">
                                        <a href="#android" data-toggle="tab" class="tabIcon">Android</a>
                                    </li>
                                </ul>
                            </header>
                            <div class="body tab-content add-content">
                                <div id="ios" class="tab-pane active clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        
                                        <div class="form-section">
                                            <legend class="section">1. 命名你的应用程序</legend>
                                            <div class="form-group">
                                                <p>Agent 安装成功后，你可以随时重命名你的应用程序</p>
                                                <div class="input-group" style="width:220px">
                                                    <input data-trigger="change" required="required" class="form-control input-transparent">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-success" type="button">保存</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-section">
                                            <legend class="section">2. 下载并解压 OneAPM iOS SDK</legend>
                                            <div class="form-group">
                                                <div class="addapp-btn">
                                                    <a href="add_application.html">
                                                        <button type="button" class="btn btn-primary btn-sm" data-placement="top">
                                                           <i class="iconfont icon2" style="padding-right:8px">&#xe650;</i> OneAPM_iOS_Agent.zip
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-section">
                                            <legend class="section">3. 添加 OneAPM Framework 至 Xcode 项目中</legend>
                                            <div class="form-group">
                                                <p>解压 SDK，并将「OneAPM.framework」文件夹从 Finder 中拖拽至 Xcode 项目中（悬停至导航窗口的项目中）。出现提示窗口时，选择「Copy items into destination...」和「Create folder references...」。</p>
                                                <img src="img/mi1.png" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="form-section">
                                            <legend class="section">4. 在 Linker Settings 中添加以下 3 个 Libraries</legend>
                                            <div class="form-group">
                                                <p>在项目导航窗口内点击你的 Project，并选中你的 App，然后选择「Build Phases」选项卡。打开「Link Binary with Libraries」列表。点击添加：</p>
                                                <ul class="add-app-ul">
                                                    <li>
                                                        <p>SystemConfiguration.framework</p>
                                                    </li>
                                                    <li>
                                                        <p>CoreTelephony.framework</p>
                                                    </li>
                                                    <li>
                                                        <p>CoreData.framework</p>
                                                    </li>
                                                    <li>
                                                        <p>libz.dylib</p>
                                                    </li>
                                                    <li>
                                                        <p>libstdc++.dylib</p>
                                                    </li>
                                                </ul>
                                                <img src="img/mi2.png" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="form-section">
                                            <legend class="section">5. Build Settings 设置</legend>
                                            <div class="form-group">
                                                <p>选择对应的 TARGET，在「Build Settings」中，为「Other Linker Flags」增加「-all_load」选项，如下图所示：</p>
                                                <img src="img/mi3.png" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="form-section">
                                            <legend class="section">6. Build Phases 设置</legend>
                                            <div class="form-group">
                                                <p class="note-attention">注意：本设置是为自动上传符号表文件 *.app.dSYM 至 Server，设置之后可以实现 Crash Log 的自动化分析。如果您选择不使用此功能，可以跳过此步骤。</p>
                                                <ul class="add-app-ul">
                                                    <li>
                                                        <p>添加 OneAPM iOS Agent 文件夹下的 symbolUploading.sh 至工程根目录</p>
                                                        <img src="img/mi6-1.png" class="img-responsive">
                                                    </li>
                                                    <li>
                                                        <p>在弹出窗口中，勾选「Copy items if needed」</p>
                                                        <img src="img/mi6-2.png" class="img-responsive">
                                                    </li>
                                                    <li>
                                                        <p>选择对应 Target 的 Build Phases，并新建 <code>Run Script</code></p>
                                                        <p class="note-attention">注意：点击左上角的加号按钮，并选择「New Run Script Phases」来新建 Run Script。</p>
                                                    </li>
                                                    <li>
                                                        <p>粘贴以下内容至文本框「Type a script or drag a script file from your workspace to insert its path」中</p>
                                                        <code>SCRIPT=`/usr/bin/find "${SRCROOT}" -name symbolUploading.sh | head -n 1`/bin/sh "${SCRIPT}" "APPLICATION TOKEN"
                                                            <span class="copy-part">
                                                                <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                <span class="copied hide-section">已复制</span>
                                                            </span>
                                                        </code>
                                                        <p class="note-attention">注意：替换 'APPLICATION TOKEN' 为您的 Token</p>
                                                        <img src="img/mi6-3.png" class="img-responsive">
                                                    </li>
                                                </ul>
                                                
                                            </div>
                                        </div>
                                        <div class="form-section">
                                            <legend class="section">7. 启动 Agent</legend>
                                            <div class="form-group">
                                                <ul class="add-app-ul">
                                                    <li>
                                                        <p>在项目文件 [app_name]-Prefix.pch（通常在文件夹「Support Files」中）中，引入 OneAPM 头文件：</p>
                                                        <code>#import &lt;OneAPM/OneAPM.h>
                                                            <span class="copy-part">
                                                                <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                <span class="copied hide-section">已复制</span>
                                                            </span>
                                                        </code>
                                                    </li>
                                                    <li>
                                                        <p>在文件 AppDelegate.m 中添加如下代码，并确保它在<code>application:didFinishLaunchingWithOptions</code>的第一行中。</p>
                                                        <code>[OneAPM startWithApplicationToken:@"&lt;generate app token by creating a name above>"];
                                                            <span class="copy-part">
                                                                <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                <span class="copied hide-section">已复制</span>
                                                            </span>
                                                        </code>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="form-section">
                                             <legend class="section">7. 运行应用程序</legend>
                                             <div class="form-group">
                                                <p>Clean Project，并重新在模拟器或设备中启动应用程序，开始应用性能管理。</p>
                                                <p class="note-attention">注意：OneAPM iOS SDK 目前支持 iOS 6.0 之后的版本；在 iOS 6.0 之前的版本中安装 OneAPM Agent 不会导致报错，但无法获取性能数据。</p>
                                             </div>
                                        </div>
                                        <div class="form-section last-form">
                                             <legend class="section">8. 重启</legend>
                                             <div class="form-group">
                                                <p>请静候 5 分钟，等待应用程序向 OneAPM 发送应用程序性能数据，即可开始使用 OneAPM 应用性能管理。</p>
                                             </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="android" class="tab-pane">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        
                                        <div class="form-section">
                                            <legend class="section">1. 命名你的应用程序</legend>
                                            <div class="form-group">
                                                <p>Agent 安装成功后，你可以随时重命名你的应用程序</p>
                                                <div class="input-group" style="width:220px">
                                                    <input data-trigger="change" required="required" class="form-control input-transparent">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-success" type="button">保存</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-section">
                                            <legend class="section">2. 选择开发环境</legend>
                                            <div class="form-group add-app-tab">
                                                <p class="note-attention">推荐使用 Ant 安装方式。</p>
                                                <p class="note-attention">注意：Agent 不支持只有 jre 的运行环境。</p>
                                                <header>
                                                    <ul class="nav nav-tabs">
                                                        <li class="active">
                                                            <a href="#ant" data-toggle="tab" class="tab_link">Ant</a>
                                                        </li>
                                                        <li>
                                                            <a href="#eclipse" data-toggle="tab" class="tab_link">Eclipse</a>
                                                        </li>
                                                        <li>
                                                            <a href="#gradle" data-toggle="tab" class="tab_link">Android Studio (Gradle)</a>
                                                        </li>
                                                    </ul>
                                                </header>
                                                <div class="body tab-content">
                                                    <div id="ant" class="tab-pane active clearfix">
                                                        <ul class="add-app-ul">
                                                            <li>
                                                                <p>安装 OneAPM Agent</p>
                                                                <div class="addapp-btn">
                                                                    <a href="add_application.html">
                                                                        <button type="button" class="btn btn-primary btn-sm" data-placement="top">
                                                                           <i class="iconfont icon2" style="padding-right:8px">&#xe650;</i> OneAPM_Android_Agent.zip
                                                                        </button>
                                                                    </a>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <p>添加 OneAPM 至你的 App</p>
                                                                <p>复制文件<code>OneAPM_android_Agent_1.0/sdk-v1.0/blueware-android-agent.jar</code>到你的 App 目录 libs 下。</p>
                                                            </li>
                                                            <li>
                                                                <p>添加 class.rewriter.jar 到 ANT_OPTS 环境变量</p>
                                                                <p>通过更改 ANT_OPTS 环境变量，将 OneAPM 添加至 Ant 加载选项中。</p>
                                                                <ul class="add-app-ul">
                                                                    <li>
                                                                        <p>Mac OS / Linux</p>
                                                                        <code>export ANT_OPTS="-javaagent:/path/to/OneAPM_android_Agent_1.0/sdk-v1.0/class.rewriter.jar"
                                                                            <span class="copy-part">
                                                                                <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                                <span class="copied hide-section">已复制</span>
                                                                            </span>
                                                                        </code>
                                                                    </li>
                                                                    <li>
                                                                        <p>Windows</p>
                                                                        <code>set ANT_OPTS="-javaagent:C:\path\to\OneAPM_android_Agent_1.0\sdk-v1.0\class.rewriter.jar"
                                                                            <span class="copy-part">
                                                                                <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                                <span class="copied hide-section">已复制</span>
                                                                            </span>
                                                                        </code>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div id="eclipse" class="tab-pane clearfix">
                                                        <ul class="add-app-ul">
                                                            <li>
                                                                <p>安装 OneAPM Eclipse 插件</p>
                                                                <p class="note">Eclipse 插件需要 JAVA_HOME 环境变量，不支持最新 4.4 版本 Eclipse。</p>
                                                                <p>打开 ADT 或 Eclipse，点击「help」菜单中的「Install New Software...」，并复制以下链接至「Select All」按钮上方的输入框中：</p>
                                                                <code>https://download.oneapm.com/android_agent/eclipse/
                                                                    <span class="copy-part">
                                                                        <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                        <span class="copied hide-section">已复制</span>
                                                                    </span>
                                                                </code>
                                                                <img src="img/mi4.png" class="img-responsive">
                                                                <img src="img/mi5.png" class="img-responsive">
                                                                <p>点击「Select All」，取消「Contact all update sites」勾选，点击「Next>」，跟随剩下的步骤并重启 Eclipse。</p>
                                                                <img src="img/mi6.png" class="img-responsive">
                                                            </li>
                                                            <li>
                                                                <p>加载 OneAPM 至应用程序</p>
                                                                <img src="img/mi7.png" class="img-responsive">
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div id="gradle" class="tab-pane clearfix">
                                                        <ul class="add-app-ul">
                                                            <li>
                                                                <p>下载并解压 OneAPM SDK</p>
                                                                <div class="form-group">
                                                                    <div class="addapp-btn">
                                                                        <a href="add_application.html">
                                                                            <button type="button" class="btn btn-primary btn-sm" data-placement="top">
                                                                               <i class="iconfont icon2" style="padding-right:8px">&#xe650;</i> OneAPM_Android_Agent.zip
                                                                            </button>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <p>配置 Gradle</p>
                                                                <p>打开工程根目录下的 build.gradle 文件</p>
                                                                <img src="img/mi8.png" class="img-responsive">
                                                                <p>在 dependencies 模块中加入代码</p>
                                                                <code>classpath fileTree(dir: 'YourOneAPMPath/oneapm/plugin', include: ['*.jar'])
                                                                    <span class="copy-part">
                                                                        <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                        <span class="copied hide-section">已复制</span>
                                                                    </span>
                                                                </code>
                                                                <img src="img/mi9.png" class="img-responsive">
                                                            </li>
                                                            <li>
                                                                <p>引入 OneAPM</p>
                                                                <p>打开主模块目录下的 build.gradle 文件</p>
                                                                <img src="img/mi10.png" class="img-responsive">
                                                                <p>在 dependencies 模块中加入代码</p>
                                                                <code>compile fileTree(dir:'YourOneAPMPath/oneapm/agent',include:['*.jar'])
                                                                    <span class="copy-part">
                                                                        <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                        <span class="copied hide-section">已复制</span>
                                                                    </span>
                                                                </code>
                                                                <img src="img/mi11.png" class="img-responsive">
                                                                <p>在文件头部引入 OneAPM</p>
                                                                <code>apply plugin: 'oneapm'
                                                                    <span class="copy-part">
                                                                        <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                        <span class="copied hide-section">已复制</span>
                                                                    </span>
                                                                </code>
                                                                <img src="img/mi12.png" class="img-responsive">
                                                            </li>
                                                            <li>
                                                                <p>Rebuild &amp; Clean 项目</p>
                                                                <p>建议 Rebuild &amp; Clean 项目，来确保 OneAPM 配置生效。</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="form-section">
                                            <legend class="section">3.  配置授权信息</legend>
                                            <div class="form-group">
                                                <ul class="add-app-ul">
                                                    <li>
                                                        <p>确保应用程序的 AndroidManifest.xml 配置文件中，引入了 INTERNET 和 ACCESS_NETWORK_STATE 两个请求授权</p>
                                                        <code>&lt;uses-permission android:name="android.permission.INTERNET" /><br>&lt;uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
                                                            <span class="copy-part">
                                                                <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                <span class="copied hide-section">已复制</span>
                                                            </span>
                                                        </code>
                                                    </li>
                                                    <li>
                                                        <p>若想使用 Crash 快照功能，请引入以下授权信息</p>
                                                        <code>&lt;uses-permission android:name="android.permission.GET_TASKS" />
                                                            <span class="copy-part">
                                                                <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                <span class="copied hide-section">已复制</span>
                                                            </span>
                                                        </code>
                                                        <p class="note-attention">注意：如果您的应用使用 progurd 混淆，请配置以下</p>
                                                        <code>-dontwarn org.apache.commons.**<br>-keep class org.apache.http.impl.client.**<br>-dontwarn org.apache.commons.**<br>-keep class com.blueware.** { *; }<br>-dontwarn com.blueware.**<br>-keepattributes Exceptions, Signature, InnerClasses
                                                            <span class="copy-part">
                                                                <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                <span class="copied hide-section">已复制</span>
                                                            </span>
                                                        </code>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="form-section">
                                             <legend class="section">4. 启动 Agent</legend>
                                             <div class="form-group">
                                             <ul class="add-app-ul">
                                                    <li>
                                                        <p>在默认启动的 Activity 中 import BlueWare 类</p>
                                                        <code>import com.blueware.agent.android.BlueWare;
                                                            <span class="copy-part">
                                                                <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                <span class="copied hide-section">已复制</span>
                                                            </span>
                                                        </code>
                                                    </li>
                                                    <li>
                                                        <p>在<code>onCreate()</code>方法中加入如下 call 来初始化 OneAPM（其中包含了在步骤 2 中根据应用程序名称而生成的授权编号）</p>
                                                        <code>BlueWare.withApplicationToken("&lt;generate app token by creating a name above>").start(this.getApplication());
                                                            <span class="copy-part">
                                                                <span class="copy-pr"><i class="iconfont icon-copy">&#xe64b;</i></span>
                                                                <span class="copied hide-section">已复制</span>
                                                            </span>
                                                        </code>
                                                    </li>
                                                </ul> 
                                             </div>
                                        </div>
                                        <div class="form-section">
                                            <legend class="section">5. 启动应用程序</legend>
                                            <div class="form-group">
                                                <p>Clean Project，并重新在模拟器或设备中启动应用程序，开始应用性能管理。</p>
                                            </div>
                                        </div>
                                        <div class="form-section last-form">
                                            <legend class="section">6. 静候 5 分钟，开启 OneAPM 之旅</legend>
                                            <div class="form-group">
                                                <p>静候 5 分钟，等待应用程序向 OneAPM 发送应用程序性能数据，即可开始使用 OneAPM 应用性能管理。</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="connect-box">           
                            <a href="mob_list.html"><button type="button" class="btn btn-return btn-sm" data-placement="top">
                                返回应用程序列表
                            </button></a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h2 class="page-title">
                    安装帮助<small>help</small>
                </h2>
                <section class="widget">
                    <header>
                        <h5>iOS SDK 安装方法</h5>
                    </header>
                    <div class="body">
                        <video controls="" class="img-responsive" poster="img/video-poster.jpg">
                            <source src="http://oneapm-com-public-file.qiniudn.com/java-agent-install.mp4" type="video/mp4">
                        </video>
                        
                        <div class="help-part">
                            <h5>查阅更多文档</h5>
                            <ul>
                                <li><a href="">iOS SDK Release Note</a></li>
                                <li><a href="">iOS SDK 安装方法</a></li>
                            </ul>
                        </div>
                        <div class="help-part">
                            <h5>获取更多支持</h5>
                            <ul>
                                <li><a href=""><i class="iconfont icon1 h-c">&#xe64d;</i>知识库</a></li>
                                <li><a href=""><i class="iconfont icon1 h-c">&#xe64e;</i>提交工单</a></li>
                                <li><a href=""><i class="iconfont icon1 h-c">&#xe64c;</i>400-622-3101</a></li>
                                <li><a href=""><i class="iconfont icon1 h-c" style="font-size: 18px">&#xe624;</i>support@onepam.com</a></li>
                                <li><a href=""><i class="iconfont icon1 h-c">&#xe649;</i>OneAPM 官方微博</a></li>
                                <li><a href=""><i class="iconfont icon1 h-c">&#xe64a;</i>OneAPM 公众账号</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
     
    {{/replace}}
    {{#append "scripts"}}
        
        <script>
            $('#appList').hide();
            $('#divider').hide();
            $('#settings').hide();
            $('#divider1').hide();

            $(document).ready(function(){
                $('.logo').css("position","absolute");
            })
            $('.copy-part').click(function(){
                $(this).find('.copied').show();
                setTimeout(function (){
                    $('.copied').hide();
                },1500);
            })
            
        </script>
        <script src="js/ui-buttons.js"></script>
    {{/append}}

{{/extend}}