 {{#extend "layout"}}
    {{#replace "sidebar"}}
    <div class="sidebar-hidden">
        {{> sidebar this conditionClass=conditionClass active=""}}
    </div>
    {{/replace}}

    {{#replace "app_content"}}
    <div style="margin-left: -185px;">
        <div class="row">
            <div class="col-lg-8 col-md-8 cpl-sm-12">
                <h2 class="page-title">
                    <a href="application_list.html">
                        <button type="button" class="btn btn-success btn-sm btn-reply" data-placement="top">
                            <i class="iconfont icon3">&#xe612;</i>
                        </button>
                    </a>
                    <span>添加应用<small>新增应用</small></span>
                </h2>
                <section class="widget">
                  {{!--   <header></header> --}}
                    <div class="body">
                        <section class="widget widget-tabs add-app">
                            <header>
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#java" data-toggle="tab" class="tabIcon">Java</a>
                                    </li>
                                    <li data-toggle="tooltip" data-placement="top" title=".Net">
                                        <a href="#net" data-toggle="tab" class="tabIcon">.Net</a>
                                    </li>
                                    <li data-toggle="tooltip" data-placement="top" title="Node.js">
                                        <a href="#nodejs" data-toggle="tab" class="tabIcon">Node.js</a>
                                    </li>
                                    <li data-toggle="tooltip" data-placement="top" title="Python">
                                        <a href="#python" data-toggle="tab" class="tabIcon">Python</a>
                                    </li>
                                    <li data-toggle="tooltip" data-placement="top" title="PHP">
                                        <a href="#php" data-toggle="tab" class="tabIcon">PHP</a>
                                    </li>
                                    <li data-toggle="tooltip" data-placement="top" title="Ruby">
                                        <a href="#ruby" data-toggle="tab" class="tabIcon">Ruby</a>
                                    </li>
                                </ul>
                            </header>
                            <div class="body tab-content add-content">
                                <div id="java" class="tab-pane active clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        
                                        <div class="form-section">
                                            <legend class="section">1. 下载</legend>
                                            <div class="form-group">
                                                <p>OneAPM 支持 JDK 1.5 至 1.8，以及 Java SE。</p>
                                                <ul class="add-app-ul">
                                                    <li>
                                                        <p>JDK 1.6 至 1.8，请下载</p>
                                                        <div class="addapp-btn">
                                                            <a href="add_application.html">
                                                                <button type="button" class="btn btn-primary btn-sm" data-placement="top">
                                                                    OneAPM Java Agent 2.0
                                                                </button>
                                                            </a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <p>JDK 1.5，请下载</p>
                                                        <div class="addapp-btn">
                                                            <a href="add_application.html">
                                                                <button type="button" class="btn btn-primary btn-sm" data-placement="top">
                                                                    OneAPM Java Agent 1.0
                                                                </button>
                                                            </a>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <p class="note">Java SE 有关的 Agent 安装，请访问<a href="">帮助中心</a>。</p>
                                            </div>
                                        </div>
                                        <div class="form-section">
                                            <legend class="section">2. 安装</legend>
                                            <div class="form-group add-app-tab">
                                                <header>
                                                    <ul class="nav nav-tabs">
                                                        <li class="active">
                                                            <a href="#linux" data-toggle="tab" class="tab_link">Linux 或 Mac</a>
                                                        </li>
                                                        <li>
                                                            <a href="#windows" data-toggle="tab" class="tab_link">Windows</a>
                                                        </li>
                                                    </ul>
                                                </header>
                                                <div class="body tab-content">
                                                    <div id="linux" class="tab-pane active clearfix">
                                                        <ul class="add-app-ul">
                                                            <li>
                                                                <p>解压「Agent」至「应用程序的根目录」下</p>
                                                                <code>unzip oneapm.zip -d /&lt;Application Server Path&gt;/</code>
                                                                <span class="copy-pr"><i class="iconfont icon1">&#xe64b;</i></span>
                                                                <span class="copied hide-section">已复制</span>
                                                                <p class="note">Hover: 请替换应用程序根目录地址</p>
                                                            </li>
                                                            <li>
                                                                <p>写入「License Key」至配置文件「oneapm.yml」</p>
                                                                <code>AVwJFVtHDQ02d99eVxRYD0kEBA52aaJTAAEGA1lTB29a4A1SGFJRBAMDce50Ug4IDQBXVQE=</code>
                                                                <span class="copy-pr"><i class="iconfont icon1">&#xe64b;</i></span>
                                                            </li>
                                                            <li>
                                                                <p>在「oneapm 目录」中运行安装指令</p>
                                                                <code>cd /&lt;Application Server Path&gt;/oneapm</code>
                                                                <span class="copy-pr"><i class="iconfont icon1">&#xe64b;</i></span>
                                                                <p class="note">Hover: 请替换应用程序根目录地址</p>
                                                                <code>java -jar oneapm.jar install</code>
                                                                <span class="copy-pr"><i class="iconfont icon1">&#xe64b;</i></span>
                                                            </li>
                                                        </ul>
                                                        <p class="note">有关于手动安装，和 OneAPM 所支持的 Java 框架，以及其他详细信息，请访问<a href="">帮助中心</a>。</p>
                                                    </div>
                                                    <div id="windows" class="tab-pane clearfix">
                                                        <p class="ul-title">JBOSS, GlassFish, Jetty, Tomcat 压缩包</p>
                                                        <ul class="add-app-ul">
                                                            <li>
                                                                <p>解压「Agent」至「应用程序的根目录」下</p>
                                                            </li>
                                                            <li>
                                                                <p>写入「License Key」至配置文件「oneapm.yml」</p>
                                                                <code>AVwJFVtHDQ02d99eVxRYD0kEBA52aaJTAAEGA1lTB29a4A1SGFJRBAMDce50Ug4IDQBXVQE=</code>
                                                                <span class="copy-pr"><i class="iconfont icon1">&#xe64b;</i></span>
                                                            </li>
                                                        </ul>
                                                        <p class="ul-title">Tomcat 安装程序</p>
                                                        <ul class="add-app-ul">
                                                            <li>
                                                                <p>使用 Tomcat 安装程序进行安装，请访问帮助中心查看详细步骤。</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                              
                                            </div>
                                        </div>
                                        <div class="form-section">
                                             <legend class="section">3. 重启</legend>
                                             <div class="form-group">
                                                
                                                <p>请重启您的应用服务器。</p>
                                                
                                                <p>若尚未开启应用服务器，请启动您的应用服务器。然后，稍等片刻，等待 OneAPM 接收 Agent 发送的数据。<br>若您看到以下画面，则代表 Agent 安装成功。</p>
                                             </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="net" class="tab-pane">
                                    
                                </div>
                                <div id="nodejs" class="tab-pane">
                
                                </div>
                                <div id="python" class="tab-pane">
                                   
                                </div>
                                <div id="php" class="tab-pane">
                                   
                                </div>
                                <div id="ruby" class="tab-pane">
                                   
                                </div>
                            </div>
                        </section>
                        <div class="connect-box">
                            
                            <a href="application_list.html"><button type="button" class="btn btn-reply btn-sm" data-placement="top">
                                返回应用程序列表
                            </button></a>
                            <p>若其中出现数据未展现错误，和其他错误，请使劲打扰 OneAPM 支持人员：</p>
                            <ol>
                                <li>1. 访问<a href="">帮助中心</a>，查阅相关文档；</li>
                                <li>2. <a href="">提交问题</a>，等待支持人员的邮件反馈；</li>
                                <li>3. 电话联系，400-622-3101；</li>
                                <li>4. 邮件联系，<a href="">support@oneapm.com</a>。</li>
                            </ol>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h2 class="page-title">
                    安装帮助<small>help</small>
                </h2>
                <section class="widget">
                    <header>
                        <h5>Java Agent 安装方法</h5>
                    </header>
                    <div class="body">
                        <video controls="" class="img-responsive" poster="img/video-poster.jpg">
                            <source src="http://oneapm-com-public-file.qiniudn.com/java-agent-install.mp4" type="video/mp4">
                        </video>
                        
                        <div class="help-part">
                            <h5>查阅更多文档</h5>
                            <ul>
                                <li><a href="">Java Agent Release Note</a></li>
                                <li><a href="">Java 参数配置</a></li>
                                <li><a href="">Java 安装说明</a></li>
                                <li><a href="">Tomcat 手动安装方法</a></li>
                                <li><a href="">Java 自动安装方法</a></li>
                                <li><a href="">Glassfish 手动安装方法</a></li>
                                <li><a href="">ColdFusion 手动安装方法</a></li>
                            </ul>
                        </div>
                        <div class="help-part">
                            <h5>获取更多支持</h5>
                            <ul>
                                <li><a href=""><i class="iconfont icon1 h-c">&#xe64d;</i>知识库</a></li>
                                <li><a href=""><i class="iconfont icon1 h-c">&#xe64e;</i>提交工单</a></li>
                                <li><a href=""><i class="iconfont icon1 h-c">&#xe64c;</i>400-622-3101</a></li>
                                <li><a href=""><i class="iconfont icon1 h-c">&#xe624;</i>support@onepam.com</a></li>
                                <li><a href=""><i class="iconfont icon1 h-c">&#xe649;</i>OneAPM 官方微博</a></li>
                                <li><a href=""><i class="iconfont icon1 h-c">&#xe64a;</i>OneAPM 公众账号</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
     
    {{/replace}}
    {{#append "scripts"}}
        <!-- page application js -->
        <script src="js/ui-buttons.js"></script>
        <script>
            $('#appList').hide();
            $('#divider').hide();
            $('#settings').hide();
            $('#divider1').hide();

             $('.copy-pr').click(function(){
                $('.copied').toggleClass("show-section");
            })
        </script>
    {{/append}}

{{/extend}}