<div class="app_status">
    <div class="app_status-info">
        <div class="app_status_light">
            <i class="iconfont icon2 success">&#xe60f;</i>
        </div>
        <div class="app_name">
            <span>Java-app-a</span>
        </div>
        <div class="status_rp">
            <span>0.02</span>
            <span class="unit">s</span>
        </div>
        <div class="status_rpm">
            <span>2455</span>
            <span class="unit">cpm</span>
        </div>
        <div class="status_error">
            <span>0.00%</span>
            <span class="unit">err%</span>
        </div>
    </div>
</div>