
{{#extend "layoutSys"}}
    {{#replace "sidebarSys"}}

        {{> sidebarSys this conditionClass=conditionClass active="appAlert"}}

    {{/replace}}

    {{#replace "app_content"}}
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2 class="page-title">
                <span>应用报警策略<small>报警触发器列表</small></span>
                    <a href="#">
                        <button type="button" class="btn btn-success btn-sm btn-hollow btn-rt" data-placement="middle" data-toggle="modal" data-target="#myModalCreate">
                            创建报警策略
                        </button>
                    </a>
                </h2>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <section class="widget">
                    <header>
                        <h5>
                            Default application <strong>报警策略</strong>
                        </h5>
                        <div class="widget-controls">
                        	<div class="checkbox-inline checkbox-ios">
                                <label for="checkbox-ios1">
                                    <input type="checkbox" id="checkbox-ios1" checked>
                                </label>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#myModalAlert" style="display: inline-block;">
                                <i class="iconfont icon2 setting" style="display:block">&#xe61e;</i>
                            </a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <form role="form">
                            <div class="row">
                                <div class="col-md-4">
                                    <fieldset>
                                        <legend class="section altSection">
                                            13 个应用
                                        </legend>
                                        <div style="margin-top:7px;margin-bottom:17px;">
                                        	<i class="iconfont icon1 success">&#xe644;</i>
                                        	<i class="iconfont icon1 success">&#xe644;</i>
                                        	<i class="iconfont icon1 success">&#xe644;</i>
                                        	<i class="iconfont icon1 success">&#xe644;</i>
                                        	<i class="iconfont icon1 success">&#xe644;</i>
                                        	<i class="iconfont icon1 success">&#xe644;</i>
                                        	<i class="iconfont icon1 success">&#xe644;</i>
                                        	<i class="iconfont icon1 success">&#xe644;</i>
                                        	<i class="iconfont icon1">&#xe644;</i>
                                        	<i class="iconfont icon1">&#xe644;</i>
                                        	<i class="iconfont icon1">&#xe644;</i>
                                        	<i class="iconfont icon1">&#xe644;</i>
                                        	<i class="iconfont icon1">&#xe644;</i>
                                        </div>   
                                        <p style="color:#d2d2d2">
                                            新应用默认加入报警列表
                                        </p>                                    
                                    </fieldset>
                                </div>
                                <div class="col-md-4">
                                    <fieldset>
                                        <legend class="section altSection">
                                            报警条件
                                        </legend>
                                        <div class="visits-info well well-sm well-cos">
						                    <div class="row">
						                        
						                        <div class="col-sm-4  col-xs-6" style="padding-left: 6px;">
						                            <div class="altValue"> < 0.8 </div>
						                            <div class="altName"> Apdex</div>
						                        </div>
						                        <div class="col-sm-4 col-xs-6">
						                            <div class="altValue"> > 12.3%</div>
						                            <div class="altName">错误率</div>
						                        </div>						                        
						                    </div>
						                </div>                                        
                                    </fieldset>
                                </div>
                                <div class="col-md-4">
                                    <fieldset>
                                        <legend class="section altSection">
                                            通知用户
                                        </legend>
                                        <div class="altUser">
                                        	<span style="margin-right:20px;">
                                                <i class="iconfont icon-alert">&#xe624;
                                                    <div class="modal conMess">
                                                        <div class="modal-dialog" style="width: auto;">
                                                            <div class="widget modal-content" style="background:white;">
                                                                <header>
                                                                    <h5>联系方式</h5>
                                                                </header>
                                                                <div class="body">
                                                                    <ul class="userlist">
                                                                        <li>zhaohaijun@oneapm.com</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </i>
                                            </span>
                                            <span>
                                                <i class="iconfont icon-users" style="float:none"> &#xe623;
                                                    <div class="modal conMess conList">
                                                        <div class="modal-dialog" style="width: auto;">
                                                            <div class="widget modal-content" style="background:white;">
                                                                <header>
                                                                    <h5>用户列表</h5>
                                                                </header>
                                                                <div class="body">
                                                                    <ul class="userlist">
                                                                        <li>zhaohaijun</li>
                                                                        <li>hexiaoyang</li>
                                                                        <li>peiliping</li>
                                                                        <li>hebingqing</li>
                                                                        <li>alan</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                </i>
                                            </span>
                                        </div>
                                        <p style="color:#d2d2d2">
                                        	通知方式：
                                        	<span><i class="iconfont icon-alert-small ">&#xe624;</i></span>
                                            <span><i class="iconfont icon-phone-small ">&#xe604;</i></span>
                                        </p>
                                        
                                    </fieldset>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </section>
            </div>  
    	</div>

    	
    	<div class="row">
            <div class="col-lg-12 col-md-12">
                <section class="widget">
                    <header>
                        <h5>
                            报警 for IOS 
                        </h5>
                        <div class="widget-controls">
                        	<div class="checkbox-inline checkbox-ios">
                                <label for="checkbox-ios3">
                                    <input type="checkbox" id="checkbox-ios3" checked>
                                </label>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#myModalAlert" style="display: inline-block;">
                                <i class="iconfont icon2 setting" style="display:block">&#xe61e;</i>
                            </a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <form role="form">
                            <div class="row">
                                <div class="col-md-4">
                                    <fieldset>
                                        <legend class="section altSection">
                                            8 个应用
                                        </legend>
                                        
                                        <div style="margin-top:7px;margin-bottom:17px;">
                                        	<i class="iconfont icon1 success">&#xe644;</i>
                                        	<i class="iconfont icon1 success">&#xe644;</i>
                                        	<i class="iconfont icon1 success">&#xe644;</i>
                                        	<i class="iconfont icon1">&#xe644;</i>
                                        	<i class="iconfont icon1">&#xe644;</i>
                                        	<i class="iconfont icon1">&#xe644;</i>
                                        	<i class="iconfont icon1">&#xe644;</i>
                                        	<i class="iconfont icon1">&#xe644;</i>
                                        </div>
                                        <p style="color:#d2d2d2">
                                            新应用默认加入报警列表
                                        </p>
                                    </fieldset>
                                </div>
                                <div class="col-md-4">
                                    <fieldset>
                                        <legend class="section altSection">
                                            报警条件
                                        </legend>
                                        <div class="visits-info well well-sm well-cos">
						                    <div class="row">
						                        
						                        <div class="col-sm-4  col-xs-6" style="padding-left: 6px;">
						                            <div class="altValue"> < 0.7 </div>
						                            <div class="altName"> Apdex</div>
						                        </div>
						                        <div class="col-sm-4 col-xs-6">
						                            <div class="altValue"> > 5.0%</div>
						                            <div class="altName">错误率</div>
						                        </div>
						                        
						                    </div>
						                </div>
                                       
                                        
                                    </fieldset>
                                </div>
                                <div class="col-md-4">
                                    <fieldset>
                                        <legend class="section altSection">
                                            通知用户
                                        </legend>
                                        <div class="altUser">
                                        	<span style="margin-right:20px;">
                                                <i class="iconfont icon-alert">&#xe624;</i>
                                            </span>
                                            <span>
                                                <i class="iconfont icon-users" style="float:none"> &#xe623;</i>
                                            </span>
                                        </div>
                                        <p style="color:#d2d2d2">
                                        	通知方式：
                                        	<span><i class="iconfont icon-alert-small ">&#xe624;</i></span>
                                            <span><i class="iconfont icon-phone-small ">&#xe604;</i></span>
                                        </p>
                                        <div style="position: absolute;top: -114px;">
                                            <div class="modal" id="altUser2" style="position:relative; width: 190px;display:none;">
                                                <div class="modal-dialog" style="width: auto; padding: 0;">
                                                    <div class="widget modal-content" style="background:white; padding-right:24px;">
                                                        <header>
                                                            <h5>用户列表</h5>
                                                        </header>
                                                        <div class="body">
                                                            <ul class="userlist">
                                                                <li>zhaohaijun</li>
                                                                <li>hexiaoyang</li>
                                                                <li>peiliping</li>
                                                                <li>hebingqing</li>
                                                                <li>alan</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="position: absolute;top: -42px;">
                                            <div class="modal" id="altUserE2" style="position:relative; width: 226px;display:none;">
                                                <div class="modal-dialog" style="width: auto; padding: 0;">
                                                    <div class="widget modal-content" style="background:white; padding-right:24px;">
                                                        <header>
                                                            <h5>联系方式</h5>
                                                        </header>
                                                        <div class="body">
                                                            <ul class="userlist">
                                                                <li>zhaohaijun@oneapm.com</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                       
                                    </fieldset>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </section>
            </div>  
    	</div>
    	<div class="row">
            <div class="col-lg-12 col-md-12">
                <section class="widget">
                    <header>
                        <h5>
                            test 
                        </h5>
                        <div class="widget-controls">
                        	<div class="checkbox-inline checkbox-ios">
                                <label for="checkbox-ios4">
                                    <input type="checkbox" id="checkbox-ios4">
                                </label>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#myModalAlert" style="display: inline-block;">
                                <i class="iconfont icon2 setting" style="display:block">&#xe61e;</i>
                            </a>
                        </div>
                    </header>
                    <div class="widget-body" style="opacity: 0.3;cursor: not-allowed;">
                        <form role="form">
                            <div class="row">
                                <div class="col-md-4">
                                    <fieldset>
                                        <legend class="section altSection">
                                            0 个应用
                                        </legend>
                                        
                                    </fieldset>
                                </div>
                                <div class="col-md-4">
                                    <fieldset>
                                        <legend class="section altSection">
                                            报警条件
                                        </legend>
                                        <div class="visits-info well well-sm well-cos">
						                    <div class="row">
						                        
						                        <div class="col-sm-4  col-xs-6" style="padding-left: 6px;">
						                            <div class="altValue"> < 0.5 </div>
						                            <div class="altName"> Apdex</div>
						                        </div>
						                        <div class="col-sm-4 col-xs-6">
						                            <div class="altValue"> > 9.9%</div>
						                            <div class="altName">错误率</div>
						                        </div>
						                        
						                    </div>
						                </div>
                                       
                                        
                                    </fieldset>
                                </div>
                                <div class="col-md-4">
                                    <fieldset>
                                        <legend class="section altSection">
                                            通知用户
                                        </legend>
                                        <div class="altUser">
                                            <span>
                                                <i class="iconfont icon-users" style="float:none"> &#xe623;</i>
                                            </span>
                                        </div>
                                        <p style="color:#d2d2d2">
                                        	通知方式：无
                                        </p>
                                       
                                    </fieldset>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </section>
            </div>  
    	</div>

        <div id="myModalAlert" class="modal fade alert-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">修改报警策略</h4>
                    </div>
                    <div class="modal-body">
                       <form class="form-horizontal form-label-left">
                           <div class="form-group">
                               <div>
                                   <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                       <section class="">
                                           <div class="row form-row">
                                               <div class="col-sm-3 col-md-3">
                                                   <label for="trans-name" class="control-label">报警条件设置</label>
                                               </div>
                                               <div class="col-sm-9 col-md-9" style="padding-top: 4px;">
                                                   <span>警示值</span>
                                                   <i class="iconfont icon1 warning"></i>
                                                   <span>&nbsp;&nbsp;&nbsp;&nbsp;发送警报</span>
                                                   <i class="iconfont icon1 danger"></i>
                                               </div>
                                           </div>
                                           <div class="row form-row">
                                                <div class="col-sm-3 col-lg-3 col-md-3">
                                                    <label for="trans-name" class="control-label">性能指数</label>
                                                </div>
                                                <div class="col-sm-5 col-md-5">
                                                    <input id="trans-name" class="form-control form-input-white" type="text" value="" name="trans-name" >
                                                    <span style="margin: 0 5px;">分钟内为</span>
                                                    <select required="required" class="select1 form-control form-input-white select" name="app">
                                                        <option value="">0.94</option>
                                                        <option value="">0.9</option>
                                                        <option value="">0.85</option>
                                                        <option value="">0.8</option>
                                                        <option value="">0.7</option>
                                                        <option value="">0.5</option>
                                                    </select>
                                                </div>
                                           </div>
                                           <div class="row form-row">
                                                <div class="col-sm-5 col-md-5 col-sm-offset-3 col-sm-offset-3">
                                                    <input id="trans-name" class="form-control form-input-white" type="text" value="" name="trans-name" >
                                                    <span style="margin: 0 5px;">分钟内为</span>
                                                    <select required="required" class="select1 form-control form-input-white select" name="app">
                                                        <option value="">0.94</option>
                                                        <option value="">0.9</option>
                                                        <option value="">0.85</option>
                                                        <option value="">0.8</option>
                                                        <option value="">0.7</option>
                                                        <option value="">0.5</option>
                                                    </select>
                                                </div>
                                           </div>
                                           <div class="row">
                                                <div class="col-sm-3 col-lg-3 col-md-3">
                                                    <label for="trans-name" class="control-label">错误率</label>
                                                </div>
                                                <div class="col-sm-7 col-lg-7 col-md-7">
                                                    <span class="slider-warning">
                                                        <input class="js-slider" id="slider-ex11" data-slider-id='ex11Slider'
                                                               type="text" data-slider-min="0" data-slider-max="2000"
                                                               data-slider-step="1" data-slider-value="[200,1547]"/>
                                                    </span>
                                                </div>
                                           </div>
                                       </section>
                                   </div>
                                   <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" style="padding-left: 0;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <section class="widget widget-tabs">
                                                    <header>
                                                        <ul class="nav nav-tabs">
                                                            <li class="active">
                                                                <a href="#app" data-toggle="tab" style="font-size:14px;">应用程序</a>
                                                            </li>
                                                            <li>
                                                                <a href="#user" data-toggle="tab" style="font-size:14px;">用户</a>
                                                            </li>
                                                        </ul>
                                                    </header>
                                                    <div class="body tab-content">
                                                        <div id="app" class="tab-pane active clearfix">
                                                            <table>
                                                                <tbody>
                                                                    <tr>
                                                                        <th width="30%">名称</th>
                                                                        <th width="30%">应用</th>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>name</td>
                                                                        <td>some-app-123456</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>name</td>
                                                                        <td>some-app-123456</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>name</td>
                                                                        <td>some-app-123456</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div id="user" class="tab-pane clearfix">
                                                            <table>
                                                                <tbody>
                                                                    <tr>
                                                                        <th width="30%">用户名</th>
                                                                        <th width="30%">邮箱</th>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>name</td>
                                                                        <td>name@company.com</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>name</td>
                                                                        <td>name@company.com</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>name</td>
                                                                        <td>name@company.com</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <section>
                                                    <header>
                                                        <h5>
                                                            通知方式
                                                        </h5>
                                                    </header>
                                                    <div class="widget-body">
                                                        <div class="row">
                                                             <div class="col-sm-9 col-md-9">
                                                                <select required="required" class="select1 form-control form-input-white select" name="app">
                                                                    <option value="">无</option>
                                                                    <option value="">邮件</option>
                                                                    <option value="">短信</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                   </div>
                               </div>
                           </div>
                       </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="btn-trans-close">取消</button>
                        <button type="button" class="btn btn-success" id="btn-trans">确定</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="myModalCreate" class="modal fade trans-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">创建报警策略</h4>
                    </div>
                    <div class="modal-body">
                       <div class="row">
                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <form class="form-horizontal form-label-left">
                                   <div class="form-group">
                                       <div class="col-sm-3 col-md-3 col-sm-offset-1 col-lg-offset-1 col-md-offset-1">
                                           <label for="trans-name" class="control-label">报警策略名称</label>
                                       </div>
                                       <div class="col-sm-6 col-md-6">
                                           <input id="trans-name" class="form-control form-input-white" required="required" type="text" value="" name="trans-name" data-parsley-trigger="change">
                                           <p class="validation-message" id="trans-error">该项不能为空</p>
                                       </div>
                                   </div>
                               </form>
                           </div>
                       </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="btn-trans-close">取消</button>
                        <button type="button" class="btn btn-success" id="btn-trans">确定</button>
                    </div>
                </div>
            </div>
        </div>
    	
     
    {{/replace}}
    {{#append "scripts"}}
     	<script src="lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
        <script src="lib/jquery-autosize/jquery.autosize.min.js"></script>
        <script src="lib/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.min.js"></script>
        <script src="lib/select2/select2.min.js"></script>
        <script src="lib/switchery/dist/switchery.min.js"></script>
        <script src="lib/moment/moment.js"></script>
        <script src="lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script src="lib/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
        <script src="lib/jquery.maskedinput/jquery.maskedinput.min.js"></script>
        <script src="lib/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>

        <!-- page application js -->
        <script src="js/forms-elements.js"></script>
        <script>
            $('.collapsing-header .divider').hide();
            $('.collapsing-header .goHome').hide();
        </script>
       
        
    {{/append}}



{{/extend}}