 
{{#extend "layout"}}


    {{#replace "sidebar"}}
    <div class="sidebar-hidden">
        {{> sidebar this conditionClass=conditionClass active=""}}
    </div>
    {{/replace}}

    {{#replace "app_content"}}
    <div style="margin-left: -185px;">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h2 class="page-title">应用程序<small>应用程序列表</small>
                    <a href="add_application.html">
                        <button type="button" class="btn btn-success btn-sm btn-hollow" data-placement="top">
                            添加应用
                        </button>
                    </a>
                </h2>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-8 col-md-12">
                 <section class="widget">
                    <div class="body">
                        <table class="table table-striped no-margin sources-table">
                            <thead>
                            <tr>
                                <th width="50%">应用程序</th>
                                <th>响应时间</th>
                                <th>吞吐量(cpm)</th>
                                <th>错误率</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><a href="indexD.html" class="appItem">My Application</a></td>
                                <td>0 ms</td>
                                <td>0.0</td>
                                <td>0.00%</td>
                            </tr> 
                            <tr>
                                <td><a href="indexD.html" class="appItem">app1</a></td>
                                <td>0 ms</td>
                                <td>0.0</td>
                                <td>0.00%</td>
                            </tr>   
                            <tr>
                                <td><a href="indexD.html" class="appItem">app2</a></td>
                                <td>0 ms</td>
                                <td>0.0</td>
                                <td>0.00%</td>
                            </tr>  
                            <tr>
                                <td><a href="indexD.html" class="appItem">app3</a></td>
                                <td>0 ms</td>
                                <td>0.0</td>
                                <td>0.00%</td>
                            </tr> 
                            <tr>
                                <td><a href="indexD.html" class="appItem">app4</a></td>
                                <td>0 ms</td>
                                <td>0.0</td>
                                <td>0.00%</td>
                            </tr>   
                            <tr>
                                <td><a href="indexD.html" class="appItem">app4</a></td>
                                <td>0 ms</td>
                                <td>0.0</td>
                                <td>0.00%</td>
                            </tr>    
                            <tr>
                                <td><a href="indexD.html" class="appItem">app5</a></td>
                                <td>0 ms</td>
                                <td>0.0</td>
                                <td>0.00%</td>
                            </tr> 
                            <tr>
                                <td><a href="indexD.html" class="appItem">app6</a></td>
                                <td>0 ms</td>
                                <td>0.0</td>
                                <td>0.00%</td>
                            </tr>                               
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="widget widget-tabs">
                    <header>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#All" data-toggle="tab"><i class="iconfont icon1">&#xe60d;</i></a>
                            </li>
                            <li data-toggle="tooltip" data-placement="top" title="宕机">
                                <a href="#breaktime" data-toggle="tab"><i class="iconfont icon1">&#xe607;</i></a>
                            </li>
                            <li>
                                <a href="#notify" data-toggle="tab"><i class="iconfont icon1">&#xe60c;</i></a>
                            </li>
                            <li>
                                <a href="#issue" data-toggle="tab"><i class="iconfont icon1">&#xe608;</i></a>
                            </li>
                            <li>
                                <a href="#warn" data-toggle="tab"><i class="iconfont icon1">&#xe60a;</i></a>
                            </li>
                            <li>
                                <a href="#notes" data-toggle="tab"><i class="iconfont icon1">&#xe60b;</i></a>
                            </li>
                            
                        </ul>
                    </header>
                    <div class="body tab-content">
                        <div id="All" class="tab-pane active clearfix">
                            <span><h5>开始时间 : 01-09 13:43 - 截止时间 : 01-09 14:13</h5></span>
                            <ul>
                                <li>还没有事件</li>
                            </ul>
                        </div>
                        <div id="breaktime" class="tab-pane">
                            <span><h5>开始时间 : 01-09 13:43 - 截止时间 : 01-09 14:13</h5></span>
                            <ul>
                                <li>还没有事件</li>
                            </ul>
                        </div>
                    </div>
                        
                </section>
            </div>
        </div>

    </div>
     
    {{/replace}}
    {{#append "scripts"}}
        <!-- page application js -->
        <script src="js/ui-buttons.js"></script>
        <script>
           
            $('#appOption').hide();
            $('#divider').hide();
            $('#settings').hide();
            $('#divider1').hide();
        </script>
    {{/append}}

  

{{/extend}}