 
{{#extend "layout"}}


    {{#replace "sidebar"}}
    <div class="sidebar-hidden">
        {{> sidebar this conditionClass=conditionClass active=""}}
    </div>
    {{/replace}}

    {{#replace "app_content"}}
    <div style="margin-left: -185px;">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h2 class="page-title">
                <span>应用程序<small>应用程序列表</small></span>
                    <a href="add_application.html">
                        <button type="button" class="btn btn-success btn-sm btn-hollow" data-placement="top">
                            添加应用
                        </button>
                    </a>
                </h2>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-8 col-md-12">
                 <section class="widget">
                    <div class="body">
                        <table class="table table-striped no-margin sources-table">
                            <thead>
                            <tr>
                                <th width="6%">状态</th>
                                <th style="text-align:left; width:15%">名称</th>
                                <th>响应时间</th>
                                <th>吞吐量(cpm)</th>
                                <th>错误率</th>
                                <th width="15%">趋势</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><i class="iconfont icon2" >&#xe60f; </i></td>
                                <td style="text-align:left"><a href="indexD.html" class="appItem">My Application</a></td>
                                <td>0 ms</td>
                                <td>0.0</td>
                                <td>0.00%</td>
                                <td class="chart-cell hidden-xs">
                                    <div id="internal-trend"></div>
                                </td>
                            </tr> 
                            <tr>
                                <td><i class="iconfont icon2 success">&#xe60f; </i></td>
                                <td style="text-align:left"><a href="indexD.html" class="appItem">app1</a></td>
                                <td>0 ms</td>
                                <td>0.0</td>
                                <td>0.00%</td>
                                <td class="chart-cell hidden-xs">
                                    <div id="direct-trend"></div>
                                </td>
                            </tr>   
                           
                            <tr>
                                <td><i class="iconfont icon2 outdate">&#xe60f; </i></td>
                                <td style="text-align:left"><a href="indexD.html" class="appItem">app3</a></td>
                                <td>0 ms</td>
                                <td>0.0</td>
                                <td>0.00%</td>
                                <td class="chart-cell hidden-xs">
                                    <div id="refer-trend"></div>
                                </td>
                            </tr> 
                            <tr>
                                <td><i class="iconfont icon2 danger">&#xe60f; </i></td>
                                <td style="text-align:left"><a href="indexD.html" class="appItem">app4</a></td>
                                <td>0 ms</td>
                                <td>0.0</td>
                                <td>0.00%</td>
                                <td class="chart-cell hidden-xs">
                                    <div id="search-trend"></div>
                                </td>
                            </tr> 
                             <tr>
                                <td><i class="iconfont icon2 wait">&#xe60f; </i></td>
                                <td style="text-align:left"><a href="indexD.html" class="appItem">app5</a></td>
                                <td>0 ms</td>
                                <td>0.0</td>
                                <td>0.00%</td>
                                <td class="chart-cell hidden-xs">
                                    <div id="social-trend"></div>
                                </td>
                            </tr>     
                                          
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="widget widget-tabs">
                    <header>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#All" data-toggle="tab" class="tabIcon"><i class="iconfont icon1">&#xe60d;</i></a>
                            </li>
                            <li data-toggle="tooltip" data-placement="top" title="宕机">
                                <a href="#breaktime" data-toggle="tab" class="tabIcon"><i class="iconfont icon1">&#xe607;</i></a>
                            </li>
                            <li data-toggle="tooltip" data-placement="top" title="通知">
                                <a href="#notify" data-toggle="tab" class="tabIcon"><i class="iconfont icon1">&#xe60c;</i></a>
                            </li>
                            <li data-toggle="tooltip" data-placement="top" title="严重问题">
                                <a href="#issue" data-toggle="tab" class="tabIcon"><i class="iconfont icon1">&#xe608;</i></a>
                            </li>
                            <li data-toggle="tooltip" data-placement="top" title="告警问题">
                                <a href="#warn" data-toggle="tab" class="tabIcon"><i class="iconfont icon1">&#xe60a;</i></a>
                            </li>
                            <li data-toggle="tooltip" data-placement="top" title="注释">
                                <a href="#notes" data-toggle="tab" class="tabIcon"><i class="iconfont icon1">&#xe60b;</i></a>
                            </li>
                            
                        </ul>
                    </header>
                    <div class="body tab-content">
                        <div id="All" class="tab-pane active clearfix">
                            <span><h5>开始时间 : 01-09 13:43 - 截止时间 : 01-09 14:13</h5></span>
                            <ul>
                                <li>还没有事件</li>
                            </ul>
                        </div>
                        <div id="breaktime" class="tab-pane">
                            <span><h5>开始时间 : 01-09 13:43 - 截止时间 : 01-09 14:13</h5></span>
                            <ul>
                                <li>还没有事件</li>
                            </ul>
                        </div>
                    </div>
                        
                </section>
            </div>
        </div>

    </div>
     
    {{/replace}}
    {{#append "scripts"}}
    <script src="lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="lib/jquery.sparkline/index.js"></script>

        <script src="lib/backbone/backbone.js"></script>
        <script src="lib/backbone.localStorage/backbone.localStorage-min.js"></script>

        <script src="lib/d3/d3.min.js"></script>
        <script src="lib/nvd3/nv.d3.min.js"></script>

        <!-- page application js -->
        <script src="js/index.js"></script>
        <script src="js/chat.js"></script>
        <!-- page application js -->
        <script src="js/ui-buttons.js"></script>
        <script>
           
            $('#appOption').hide();
            $('#divider').hide();
            $('#settings').hide();
            $('#divider1').hide();
            $("li").tooltip();
        </script>
    {{/append}}



{{/extend}}