{{#extend "layout"}}

    {{#replace "sidebar"}}
        {{> sidebar this conditionClass=conditionClass active="background_task"}}
    {{/replace}}

    {{#replace "app_content"}}
     
     <div class="row">

         <div class="col-lg-5 col-md-5">
             <h2 class="page-title">后台任务 <small>后台任务页面</small></h2>
         </div>

         <div class="col-lg-7 col-md-7">
             {{#block "picker"}}
                 {{> picker }}
             {{/block}}
         </div>
     </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-md-12">
                        <section class="widget widget-tabs">
                            <header>
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#backTask" data-toggle="tab" style="font-size:14px; font-weight: 500">后台任务</a>
                                    </li>
                                </ul>
                            </header>
                           <div class="body tab-content">
                            <div id="backTask" class="tab-pane active clearfix">
                                    <div class="body" style="background-color:transparent; padding:0;">
                                        <ul id="myTab" class="nav nav-tabs">
                                            <li class="active"><a href="#responseTime" data-toggle="tab" class="tabItem">响应时间</a></li>
                                            <li><a href="#apdex" data-toggle="tab" class="tabItem">Apdex</a></li>
                                            <li><a href="#throughput" data-toggle="tab" class="tabItem active">吞吐量</a></li>
                                        </ul>
                                        <div id="myTabContent" class="tab-content" >
                                            <div class="tab-pane fade in active" id="responseTime">
                                                <div class="dd" id="nestable1">
                                                    <ol class="dd-list">
                                                        <li class="dd-item" data-id="1">
                                                            <div class="dd-handle">
                                                                <span>ServletContextListener/org.springframe...</span>
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <span style="float: right;">17.43 s</span>

                                                            </div>
                                                        </li>
                                                        <li class="dd-item" data-id="2">
                                                            <div class="dd-handle">
                                                                <span>org.springframework.web.servlet...</span>
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <span style="float: right;">1.72 s</span>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item" data-id="3">
                                                            <div class="dd-handle">
                                                                <span>org.apache.jasper.servlet</span>
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <span style="float: right;">3.11 ms</span>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item" data-id="4">
                                                            <div class="dd-handle">
                                                                <span>ServletContextListener/listeners...</span>
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <span style="float: right;">1.40 ms</span>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item" data-id="5">
                                                            <div class="dd-handle">
                                                                <span>ServletContextListener/...</span>
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <span style="float: right;">0.86 ms</span>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item" data-id="6">
                                                            <div class="dd-handle">
                                                                <span>ServletContextListenertomcat...</span>
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <span style="float: right;">0.38 ms</span>
                                                            </div>
                                                        </li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="apdex">
                                                <div class="dd" id="nestable2">
                                                    <ol class="dd-list">
                                                        <li class="dd-item" data-id="1">
                                                            <div class="dd-handle">
                                                                <span>ServletContextListener/org...</span>
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <span style="float: right;">0.00</span>

                                                            </div>
                                                        </li>
                                                        <li class="dd-item" data-id="2">
                                                            <div class="dd-handle">
                                                                <span>org.springframework.web.servlet...</span>
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <span style="float: right;">0.00</span>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item" data-id="3">
                                                            <div class="dd-handle">
                                                                <span>org.apache.jasper.servlet</span>
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <span style="float: right;">0.00</span>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item" data-id="4">
                                                            <div class="dd-handle">
                                                                <span>ServletContextListener/con...</span>
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <span style="float: right;">0.00</span>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item" data-id="5">
                                                            <div class="dd-handle">
                                                                <span>ServletContextListener.Session...</span>
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <span style="float: right;">0.00</span>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item" data-id="6">
                                                            <div class="dd-handle">
                                                                <span>ServletContextListener/tomcat...</span>
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <span style="float: right;">0.00</span>
                                                            </div>
                                                        </li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="throughput">
                                                <div class="dd" id="nestable3">
                                                    <ol class="dd-list">
                                                        <li class="dd-item" data-id="1">
                                                            <div class="dd-handle">
                                                                <span>org.apache.catalina.servlets/init</span>
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <span style="float: right;">0.0003 cpm</span>

                                                            </div>
                                                        </li>
                                                        <li class="dd-item" data-id="2">
                                                            <div class="dd-handle">
                                                                <span>org.springframework.web.Dispatcher...</span>
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <span style="float: right;">0.0003 cpm</span>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item" data-id="3">
                                                            <div class="dd-handle">
                                                                <span>org.apache.jasper.servlet/init</span>
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <span style="float: right;">0.0003 cpm</span>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item" data-id="4">
                                                            <div class="dd-handle">
                                                                <span>ServletContextListener/listeners/con...</span>
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <span style="float: right;">0.000046 cpm</span>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item" data-id="5">
                                                            <div class="dd-handle">
                                                                <span>ServletContextListener/Session...</span>
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <span style="float: right;">0.000046 cpm</span>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item" data-id="6">
                                                            <div class="dd-handle">
                                                                <span>ServletContextListener/org.tomcat...</span>
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <span style="float: right;">0.000046 cpm</span>
                                                            </div>
                                                        </li>
                                                    </ol>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                           
                            </div>
                            
                        </div>
                        </section>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-12">
                         <section class="widget">
                            <header>
                                <h4>
                                    响应时间
                                    
                                </h4>
                                <div class="widget-controls">
                                    <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                </div>
                            </header>
                            <div class="body no-margin">
                                <div id="visits-chart1" class="chart visits-chart">
                                    <svg></svg>
                                </div>
                            </div>
                        </section>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-md-12">
                         <section class="widget">
                            <header>
                                <h4>
                                    CPU 使用率
                                </h4>
                                <div class="widget-controls">
                                    <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                </div>
                            </header>
                            <div class="body no-margin">
                                <div id="visits-chart3" class="chart visits-chart">
                                    <svg></svg>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                         <section class="widget">
                            <header>
                                <h4>
                                    内存使用情况
                                    
                                </h4>
                                <div class="widget-controls">
                                    <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                </div>
                            </header>
                            <div class="body no-margin">
                                <div id="visits-chart4" class="chart visits-chart">
                                    <svg></svg>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-12">
                        <section class="widget">
                            <header>
                                <div class="widget-controls">
                                    <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-minus"></i></a>
                                </div>
                            </header>
                            <div class="body">
                                <table class="table table-striped no-margin sources-table">
                                    <thead>
                                    <tr>
                                        <th class="source-col-header">Traces</th>
                                        <th>开始时间</th>
                                        <th>耗时</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    {{/replace}}

     {{#append "scripts"}}
        <!-- page libs -->
        <script src="lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="lib/jquery.sparkline/index.js"></script>

        <script src="lib/backbone/backbone.js"></script>
        <script src="lib/backbone.localStorage/backbone.localStorage-min.js"></script>

        <script src="lib/d3/d3.min.js"></script>
        <script src="lib/nvd3/nv.d3.min.js"></script>


        <!-- daterange picker js -->
         <script src="lib/form-daterangepicker/daterangepicker.js"></script>                  <!-- Date Range Picker -->
         <!-- DateTime Picker -->
        <script src="lib/form-daterangepicker/moment.min.js"></script> 

        <!-- page application js -->
        <script src="js/daterangepicker.js"></script>
        <script src="js/graph/graph3.js"></script>
        <script src="js/graph/graph1.js"></script>
        <script src="js/graph/graph4.js"></script>
        <script src="js/bgcolor.js"></script>

    {{/append}}

{{/extend}}