 
{{#extend "layoutBro"}}


    {{#replace "sidebarBro"}}
    <div class="sidebar-hidden">
        {{> sidebarBro this conditionClass=conditionClass active=""}}
    </div>
    {{/replace}}

    {{#replace "app_content"}}
    <div style="margin-left: -185px;">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2 class="page-title">
                <span>浏览器<small>浏览器列表</small></span>
                </h2>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                 <section class="widget">
                    <div class="body no-margin">
                        <table class="table table-hover no-margin sources-table">
                            <thead>
                            <tr>
                                <th width="30%" class="sortedth">
                                    <span class="sortedtext">名称</span>
                                    <i class="iconfont sortedup">&#xe61a;</i>
                                    <i class="iconfont sorteddown">&#xe619;</i>
                                </th>
                                <th class="sortedth" width="14%">
                                    <span class="sortedtext">页面加载(ms)</span>
                                    <i class="iconfont sortedup">&#xe61a;</i>
                                    <i class="iconfont sorteddown">&#xe619;</i>
                                </th>
                                <th class="sortedth" width="14%">
                                    <span class="sortedtext">页面吞吐量(cpm)</span>
                                    <i class="iconfont sortedup">&#xe61a;</i>
                                    <i class="iconfont sorteddown">&#xe619;</i>
                                </th>
                                <th class="sortedth" width="14%">
                                    <span class="sortedtext">AJAX 响应</span>
                                    <i class="iconfont sortedup">&#xe61a;</i>
                                    <i class="iconfont sorteddown">&#xe619;</i>
                                </th>
                                <th width="14%">
                                    <span class="sortedtext">AJAX 吞吐量</span>
                                    <i class="iconfont sortedup">&#xe61a;</i>
                                    <i class="iconfont sorteddown">&#xe619;</i>
                                </th>
                                <th width="14%">
                                    <span class="sortedtext">JS 错误</span>
                                    <i class="iconfont sortedup">&#xe61a;</i>
                                    <i class="iconfont sorteddown">&#xe619;</i>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td ><a href="overviewBro.html" class="appItem">My Application</a></td>
                                <td >0</td>
                                <td >0</td>
                                <td >0</td>
                                <td >0</td>
                                <td >1</td>
                            </tr> 
                            <tr>
                                <td ><a href="overviewBro.html" class="appItem">app1</a></td>
                                <td >0</td>
                                <td >0</td>
                                <td >0</td>
                                <td >0</td>
                                <td >1</td>
                            </tr> 
                            <tr>
                                <td ><a href="overviewBro.html" class="appItem">app3</a></td>
                                <td >0</td>
                                <td >0</td>
                                <td >0</td>
                                <td >0</td>
                                <td >1</td>
                            </tr> 
                            <tr>
                                <td ><a href="overviewBro.html" class="appItem">app4</a></td>
                                <td >0</td>
                                <td >0</td>
                                <td >1</td>
                                <td >0</td>
                                <td >1</td>
                            </tr> 
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>

    </div>
     
    {{/replace}}
    {{#append "scripts"}}
    <script src="lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="lib/jquery.sparkline/index.js"></script>

        <script src="lib/backbone/backbone.js"></script>
        <script src="lib/backbone.localStorage/backbone.localStorage-min.js"></script>

        <script src="lib/d3/d3.min.js"></script>
        <script src="lib/nvd3/nv.d3.min.js"></script>

        <!-- page application js -->
        <script src="js/index.js"></script>
        <script src="js/chat.js"></script>
        <!-- page application js -->
        <script src="js/ui-buttons.js"></script>
        <script>
           
            $('#appOption').hide();
            $('#divider').hide();
            $('#settings').hide();
            $('#divider1').hide();
            $("li").tooltip();
            $('.collapsing-header .divider').hide();
            $('.collapsing-header .goHome').hide();

            $('.visible-xs').removeClass('visible-xs').hide();
            $('#account').parent().removeClass('hidden-xs');
            $('#account span').removeClass('hidden-xs');

            $('th').click(function(e){
                var a = $(this).find('.sortedup');
                var b = $(this).find('.sorteddown');

                if (a.css('display') == 'none' && b.css('display') == 'none') {
                    a.show();
                }else{
                    if (a.css('display') != 'none') {
                        a.hide();
                        b.show();
                    }else{
                        if (a.css('display') == 'none') {
                            b.hide();
                        }
                    }
                }
                e.stopPropagation();
            })

            $('.app_status').hide();

        </script>
    {{/append}}



{{/extend}}