{{#extend "layoutMob"}}

	{{#replace "sidebarMob"}}
        {{> sidebarMob this conditionClass=conditionClass active="crashMob"}}
    {{/replace}}

    {{#replace "app_content"}}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-title" style="line-height: 1.2">
                <a href="crashMob.html">
                    <button type="button" class="btn btn-success btn-sm btn-reply" data-placement="top" style="margin-top:3px">
                        <i class="iconfont icon3">&#xe612;</i>  
                    </button>
                </a>
                <span>java.lang.IllegalStateException<small>ListView.java line 1562 in android.widget.ListView.layoutChildren()</small></span>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <section class="widget">
                <div class="body no-margin">
                    <div class="visits-info well well-sm well-cos">
                        <div class="row">
                            <div class="col-sm-1 hidden-xs"></div>
                            <div class="col-sm-2  col-xs-6">
                                <div class="key">应用版本</div>
                                <div id="serve-value" class="value" style="margin-bottom:0;">1.1</div>
                            </div>
                            <div class="col-sm-2 col-xs-6">
                                <div class="key">同类崩溃</div>
                                <div class="value" style="margin-bottom:0;">1</div>
                            </div>
                            <div class="col-sm-2 col-xs-6">
                                <div class="key">影响用户数</div>
                                <div class="value" style="margin-bottom:0;">1</div>
                            </div>
                            <div class="col-sm-2 col-xs-6">
                                <div class="key">最后发生时间</div>
                                <div class="value" style="margin-bottom:0;">2015-01-30 12:07</div>
                            </div>
                            <div class="col-sm-2 col-xs-6">
                                <div class="key">状态</div>
                                <div class="value btn-group" style="margin-bottom:0;">
                                    <button href="#" class="btn btn-sm btn-report dropdown-toggle" data-toggle="dropdown" type="button">
                                        已解决
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">已解决</a></li>
                                        <li><a href="#">未解决</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-1 hidden-xs"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <section class="widget">
                <header>
                    <h4>崩溃次数</h4>
                    <div class="widget-controls">
                        <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                        <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                    </div>
                </header>
                <div class="body no-margin">
                    <div id="single-chart1" class="chart visits-chart">
                        <svg></svg>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <section class="widget">
                <header>
                    <h4>影响设备</h4>
                    <div class="widget-controls">
                        <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                        <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                    </div>
                </header>
                <div class="body no-margin">
                    <div id="single-chart2" class="chart visits-chart">
                        <svg></svg>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <section class="widget">
                <header>
                    <h4>影响 OS 版本</h4>
                    <div class="widget-controls">
                        <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                        <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                    </div>
                </header>
                <div class="body no-margin">
                    <div id="single-chart3" class="chart visits-chart">
                        <svg></svg>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <section class="widget widget-tabs">
                <header>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#stackInfo" data-toggle="tab">堆栈信息</a>
                        </li>
                        <li>
                            <a href="#userInfo" data-toggle="tab">用户信息</a>
                        </li>
                    </ul>
                </header>
                <div class="body tab-content" style="padding:17px">
                    <div id="stackInfo" class="tab-pane active clearfix">
                        <div class="body tr-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <section class="widget" style="margin-top: 20px;margin-bottom:0;border-bottom: 1px solid rgba(51, 51, 51, 0.4)" >
                                       <div class="crash-switch">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                    <span class="to-left">
                                                        <i class="fa fa-angle-left"></i>
                                                    </span>
                                                </div>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <span class="title">第 1/1 个同类崩溃</span>
                                                    <span class="occur-time">发生时间:2015-04-14 14:25:03</span>
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                    <span class="to-right">
                                                        <i class="fa fa-angle-right"></i>
                                                    </span>
                                                </div>
                                            </div>
                                       </div>
                                    </section>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <section class="widget inner-widget">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                <div class="minfo">
                                                    <span class="minfo-name">崩溃类型：</span>
                                                    <span class="minfo-txt">java.lang.NullPointerException</span>
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                <div class="minfo">
                                                    <span class="minfo-name">APP版本：</span>
                                                    <span class="minfo-txt">V1.5</span>
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                <div class="minfo">
                                                    <span class="minfo-name">CPU：</span>
                                                    <span class="minfo-txt">10%</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                <div class="minfo">
                                                    <span class="minfo-name">信息：</span>
                                                    <span class="minfo-txt">length=3; index=90</span>
                                                </div>
                                            </div><div class="col-lg-4 col-md-4 col-sm-4">
                                                <div class="minfo">
                                                    <span class="minfo-name">设备信息：</span>
                                                    <span class="minfo-txt">Xiaomi HM NOTE 1LTE</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                <div class="minfo">
                                                    <span class="minfo-name">电量：</span>
                                                    <span class="minfo-txt">50%</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                <div class="minfo">
                                                    <span class="minfo-name">时间：</span>
                                                    <span class="minfo-txt">2015-04-21 17:30</span>
                                                </div>
                                            </div><div class="col-lg-4 col-md-4 col-sm-4">
                                                <div class="minfo">
                                                    <span class="minfo-name">操作系统：</span>
                                                    <span class="minfo-txt">Android 4.2.1</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                <div class="minfo">
                                                    <span class="minfo-name">UI信息：</span>
                                                    <span class="minfo-txt">竖屏</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                <div class="minfo">
                                                    <span class="minfo-name">定位：</span>
                                                    <span class="minfo-txt">BusinessModule.java line 694 in vulture.business.BusinessModule.hasNemo()</span>
                                                </div>
                                            </div><div class="col-lg-4 col-md-4 col-sm-4">
                                                <div class="minfo">
                                                    <span class="minfo-name">内存：</span>
                                                    <span class="minfo-txt">25.00B MB</span>
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                <div class="minfo">
                                                    <span class="minfo-name">地域：</span>
                                                    <span class="minfo-txt">北京</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                <div class="minfo">
                                                    <span class="minfo-name">可用磁盘：</span>
                                                    <span class="minfo-txt">756361MB</span>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                <div class="minfo">
                                                    <span class="minfo-name">联网方式：</span>
                                                    <span class="minfo-txt">联通wifi</span>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <section class="widget inner-widget">
                                        <header>
                                            <h5>Interaction 轨迹</h5>
                                        </header>
                                        <div class="body inner-body interac-body">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-4 col-xs-6 interac-col">
                                                    <div class="box interaction-box">
                                                        <div class="interac-name">
                                                            <span><a href="interMob.html">Session Start</a></span>
                                                        </div>
                                                        <div class="description"></div>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-3 col-sm-4 col-xs-6 interac-col">
                                                    <div class="box interaction-box">
                                                        <div class="interac-name">
                                                            <span><a href="interMob.html">AppStart#onCreate</a></span>
                                                        </div>
                                                        <div class="description">
                                                            80秒之前
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-3 col-sm-4 col-xs-6 interac-col">
                                                    <div class="box interaction-box">
                                                        <div class="interac-name">
                                                            <span><a href="interMob.html">TestWebView#onCreate</a></span>
                                                        </div>
                                                        <div class="description">
                                                            24秒之前
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-4 col-xs-6 interac-col">
                                                    <div class="box interaction-box">
                                                        <div class="interac-name">
                                                           <span><a href="interMob.html">Main#onCreate</a></span>
                                                        </div>
                                                        <div class="description">
                                                            80秒之前
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-4 col-xs-6 interac-col">
                                                    <div class="box interaction-box">
                                                        <div class="interac-name">
                                                            <span><a href="interMob.html">Setting#onCreate</a></span>
                                                        </div>
                                                        <div class="description">
                                                            1秒之前
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-4 col-xs-6">
                                                    <div class="box interaction-box">
                                                        <div class="interac-name">
                                                           <span><a href="interMob.html">Crash</a></span>
                                                        </div>
                                                        <div class="description">
                                                            2015-04-20 10:11
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <section class="widget inner-widget">
                                        <header>
                                            <h4>Thread - main</h4>
                                        </header>
                                        <div class="body inner-body">
                                            <table class="table table-striped table-hover no-margin sources-table">
                                                <thead>
                                                <tr>
                                                    <th width="20%" class="sortedth">
                                                        <span class="sortedtext">包名</span>
                                                        <i class="iconfont sortedup">&#xe61a;</i>
                                                        <i class="iconfont sorteddown">&#xe619;</i>
                                                    </th>
                                                    <th width="80%" class="sortedth">
                                                        <span class="sortedtext">详情信息</span>
                                                        <i class="iconfont sortedup">&#xe61a;</i>
                                                        <i class="iconfont sorteddown">&#xe619;</i>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>android.widget</td>
                                                    <td>ListView.java line 1562 in android.widget.ListView.layoutChildren()</td>
                                                </tr>
                                                <tr>
                                                    <td>android.widget</td>
                                                    <td>AbsListView.java line 2148 in android.widget.AbsListView.onLayout()</td>
                                                </tr>
                                                <tr>
                                                    <td>android.view</td>
                                                    <td>View.java line 15596 in android.view.View.layout()</td>
                                                </tr>
                                                <tr>
                                                    <td>android.view</td>
                                                    <td>ViewGroup.java line 4966 in android.view.ViewGroup.layout()</td>
                                                </tr>
                                                <tr>
                                                    <td>android.widget</td>
                                                    <td>RelativeLayout.java line 1076 in android.widget.RelativeLayout.onLayout()</td>
                                                </tr>
                                                <tr>
                                                    <td>android.view</td>
                                                    <td>View.java line 15596 in android.view.View.layout()</td>
                                                </tr>
                                                <tr>
                                                    <td>android.view</td>
                                                    <td>ViewGroup.java line 4966 in android.view.ViewGroup.layout()</td>
                                                </tr>
                                                <tr>
                                                    <td>android.widget</td>
                                                    <td>LinearLayout.java line 1703 in android.widget.LinearLayout.setChildFrame()</td>
                                                </tr>
                                                <tr>
                                                    <td>android.widget</td>
                                                    <td>LinearLayout.java line 1557 in android.widget.LinearLayout.layoutVertical()</td>
                                                </tr>
                                                <tr>
                                                    <td>android.widget</td>
                                                    <td>LinearLayout.java line 1466 in android.widget.LinearLayout.onLayout()</td>
                                                </tr>
                                                <tr>
                                                    <td>android.view</td>
                                                    <td>View.java line 15596 in android.view.View.layout()</td>
                                                </tr>
                                                <tr>
                                                    <td>android.view</td>
                                                    <td>ViewGroup.java line 4966 in android.view.ViewGroup.layout()</td>
                                                </tr>
                                                <tr>
                                                    <td>android.widget</td>
                                                    <td>LinearLayout.java line 1466 in android.widget.LinearLayout.onLayout()</td>
                                                </tr>
                                                <tr>
                                                    <td>android.view</td>
                                                    <td>View.java line 15596 in android.view.View.layout()</td>
                                                </tr>
                                                <tr>
                                                    <td>android.view</td>
                                                    <td>ViewGroup.java line 4966 in android.view.ViewGroup.layout()</td>
                                                </tr>
                                                <tr>
                                                    <td>android.widget</td>
                                                    <td>LinearLayout.java line 1466 in android.widget.LinearLayout.onLayout()</td>
                                                </tr>
                                                <tr>
                                                    <td>android.view</td>
                                                    <td>View.java line 15596 in android.view.View.layout()</td>
                                                </tr>
                                                <tr>
                                                    <td>android.view</td>
                                                    <td>ViewGroup.java line 4966 in android.view.ViewGroup.layout()</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </section>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <a href="#" data-toggle="modal" data-target="#mydashboard">
                                                <button type="button" class="btn btn-transparent btn-sm" style="float:left" data-placement="top" id="show-all">
                                                    显示全部
                                                </button>
                                            </a>
                                        </div> 
                                    </div>
                                    
                                    <div id="show-content" style="display:none">
                                        <section class="widget inner-widget">
                                            <header>
                                                <h4>Thread - GCDaemon</h4>
                                            </header>
                                            <div class="body inner-body">
                                                <table class="table table-striped table-hover no-margin sources-table">
                                                    <thead>
                                                        <tr>
                                                            <th width="20%" class="sortedth">
                                                                <span class="sortedtext">包名</span>
                                                                <i class="iconfont sortedup">&#xe61a;</i>
                                                                <i class="iconfont sorteddown">&#xe619;</i>
                                                            </th>
                                                            <th width="80%" class="sortedth">
                                                                <span class="sortedtext">详情信息</span>
                                                                <i class="iconfont sortedup">&#xe61a;</i>
                                                                <i class="iconfont sorteddown">&#xe619;</i>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>java.lang</td>
                                                            <td>Object.java line -2 in java.lang.Object.wait()</td>
                                                        </tr>
                                                        <tr>
                                                            <td>java.lang</td>
                                                            <td>Daemons.java line 341 in java.lang.Daemons$GCDaemon.run()</td>
                                                        </tr>
                                                        <tr>
                                                            <td>java.lang</td>
                                                            <td>Thread.java line 818 in java.lang.Thread.run()</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </section>
                                        <section class="widget inner-widget">
                                            <header>
                                                <h4>Thread - Thread-3507</h4>
                                            </header>
                                            <div class="body inner-body">
                                                <table class="table table-striped table-hover no-margin sources-table">
                                                    <thead>
                                                        <tr>
                                                            <th width="20%" class="sortedth">
                                                                <span class="sortedtext">包名</span>
                                                                <i class="iconfont sortedup">&#xe61a;</i>
                                                                <i class="iconfont sorteddown" >&#xe619;</i>
                                                            </th>
                                                            <th width="80%" class="sortedth">
                                                                <span class="sortedtext">详情信息</span>
                                                                <i class="iconfont sortedup">&#xe61a;</i>
                                                                <i class="iconfont sorteddown">&#xe619;</i>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>libcore.io</td>
                                                            <td>Posix.java line -2 in libcore.io.Posix.poll()</td>
                                                        </tr>
                                                        <tr>
                                                            <td>libcore.io</td>
                                                            <td>BlockGuardOs.java line 195 in libcore.io.BlockGuardOs.poll()</td>
                                                        </tr>
                                                        <tr>
                                                            <td>libcore.io</td>
                                                            <td>IoBridge.java line 215 in libcore.io.IoBridge.isConnected()</td>
                                                        </tr>
                                                        <tr>
                                                            <td>java.net</td>
                                                            <td>PlainSocketImpl.java line 183 in java.net.PlainSocketImpl.connect()</td>
                                                        </tr>
                                                        <tr>
                                                            <td>java.net</td>
                                                            <td>PlainSocketImpl.java line 456 in java.net.PlainSocketImpl.connect()</td>
                                                        </tr>
                                                        <tr>
                                                            <td>com.android.okhttp.internal</td>
                                                            <td>Platform.java line 118 in com.android.okhttp.internal.Platform.connectSocket()</td>
                                                        </tr>
                                                        <tr>
                                                            <td>com.android.okhttp</td>
                                                            <td>Connection.java line 148 in com.android.okhttp.Connection.connect()</td>
                                                        </tr>
                                                        <tr>
                                                            <td>com.android.okhttp.internal.http</td>
                                                            <td>HttpEngine.java line 276 in com.android.okhttp.internal.http.HttpEngine.connect()</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="userInfo" class="tab-pane clearfix" style="overflow-x:hidden">
                        <div class="body tr-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">

                                    <section class="widget" style="background: transparent;margin-bottom: 0;">
                                        <header>
                                            <h4>
                                                <h4>用户信息表<small>影响用户数：207</small></h4>
                                            </h4>
                                            <div class="widget-controls">
                                                <div class="width-200">
                                                    <div class="input-group input-group-sm input-group-transparent input-group-rounded">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-search"></i>
                                                        </span>
                                                        <input class="form-control input-transparent" id="search-countries" type="text" placeholder="Search">
                                                    </div>
                                                </div>
                                            </div>
                                        </header>
                                        <div class="body tr-body" style="padding-top:12px;">
                                            <div id="table-dynamic">
                                                <table class="table table-striped table-editable table-hover no-margin mb-sm">
                                                    <thead>
                                                        <tr>
                                                            <th width="20%" class="sortedth">
                                                                <span class="sortedtext">用户信息</span>
                                                                <i class="iconfont sortedup">&#xe61a;</i>
                                                                <i class="iconfont sorteddown">&#xe619;</i>
                                                            </th>
                                                            <th width="20%" class="sortedth">
                                                                <span class="sortedtext">设备信息</span>
                                                                <i class="iconfont sortedup">&#xe61a;</i>
                                                                <i class="iconfont sorteddown">&#xe619;</i>
                                                            </th>
                                                            <th width="30%" class="sortedth">
                                                                <span class="sortedtext">最近一次发生崩溃的时间</span>
                                                                <i class="iconfont sortedup">&#xe61a;</i>
                                                                <i class="iconfont sorteddown">&#xe619;</i>
                                                            </th>
                                                            <th width="30%" class="sortedth">
                                                                <span class="sortedtext">APP 会话开始时间</span>
                                                                <i class="iconfont sortedup">&#xe61a;</i>
                                                                <i class="iconfont sorteddown">&#xe619;</i>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><a href="javascript:;" class="user-crash">MommaCritter</a></td>
                                                            <td>小米3C</span></td>
                                                            <td>20-Apr-15 03:52:16 AM</td>
                                                            <td>20-Apr-15 03:52:16 AM</td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="javascript:;" class="user-crash">jHDioKx435</a></td>
                                                            <td>小米3C</span></td>
                                                            <td>20-Apr-15 03:52:16 AM</td>
                                                            <td>20-Apr-15 03:52:16 AM</td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="javascript:;" class="user-crash">fdfggds</a></td>
                                                            <td>小米3C</span></td>
                                                            <td>20-Apr-15 03:52:16 AM</td>
                                                            <td>20-Apr-15 03:52:16 AM</td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="javascript:;" class="user-crash">sdsdsaf</a></td>
                                                            <td>小米3C</span></td>
                                                            <td>20-Apr-15 03:52:16 AM</td>
                                                            <td>20-Apr-15 03:52:16 AM</td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="javascript:;" class="user-crash">sdsadfgd</a></td>
                                                            <td>小米3C</span></td>
                                                            <td>20-Apr-15 03:52:16 AM</td>
                                                            <td>20-Apr-15 03:52:16 AM</td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="javascript:;" class="user-crash">sdsds</a></td>
                                                            <td>小米3C</span></td>
                                                            <td>20-Apr-15 03:52:16 AM</td>
                                                            <td>20-Apr-15 03:52:16 AM</td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="javascript:;" class="user-crash">ghgf</a></td>
                                                            <td>小米3C</span></td>
                                                            <td>20-Apr-15 03:52:16 AM</td>
                                                            <td>20-Apr-15 03:52:16 AM</td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="javascript:;" class="user-crash">sadgss</a></td>
                                                            <td>小米3C</span></td>
                                                            <td>20-Apr-15 03:52:16 AM</td>
                                                            <td>20-Apr-15 03:52:16 AM</td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="javascript:;" class="user-crash">dsvgds</a></td>
                                                            <td>小米3C</span></td>
                                                            <td>20-Apr-15 03:52:16 AM</td>
                                                            <td>20-Apr-15 03:52:16 AM</td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="javascript:;" class="user-crash">sdsdd</a></td>
                                                            <td>小米3C</span></td>
                                                            <td>20-Apr-15 03:52:16 AM</td>
                                                            <td>20-Apr-15 03:52:16 AM</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="backgrid-paginator">
                                                    <ul style="margin-bottom: 0;">
                                                        <li class="disabled"><a href="#" title="First"><i class="fa fa-angle-double-left fa-lg"></i></a></li>
                                                        <li class="disabled"><a href="#" title="Previous"><i class="fa fa-angle-left fa-lg"></i></a></li>
                                                        <li class="active"><a href="javascript:;" title="Page 1">1</a></li>
                                                        <li ><a href="javascript:;" title="Page 1">2</a></li>
                                                        <li ><a href="javascript:;" title="Page 1">3</a></li>
                                                        <li class="disabled"><a href="#" title="Next"><i class="fa fa-angle-right fa-lg"></i></a></li>
                                                        <li class="disabled"><a href="#" title="Last"><i class="fa fa-angle-double-right fa-lg"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </section>                                    
                                </div>
                            </div>

                            <div class="row float-card" style="top:53px;padding-right:4px;">
                                <div class="col-md-12">
                                <section class="widget">
                                    <header>
                                        <span class="float-card-title">MommaCritter's User Details</span>
                                        <span class="glyphicon glyphicon-remove pull-right"></span>
                                    </header>
                                    <div class="body tr-body" style="margin-top: 10px;">  
                                        <section class="widget inner-widget half-minfo">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-4">
                                                    <div class="minfo">
                                                        <span class="minfo-name">APP 使用次数：</span>
                                                        <span class="minfo-txt">3</span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4">
                                                    <div class="minfo">
                                                        <span class="minfo-name">设备：</span>
                                                        <span class="minfo-txt">HUAWEI A199</span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4">
                                                    <div class="minfo">
                                                        <span class="minfo-name">操作系统：</span>
                                                        <span class="minfo-txt">android 4.1.2</span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4">
                                                    <div class="minfo">
                                                        <span class="minfo-name">崩溃发生次数：</span>
                                                        <span class="minfo-txt">1</span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4">
                                                    <div class="minfo">
                                                        <span class="minfo-name">APP版本：</span>
                                                        <span class="minfo-txt">1.5</span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4">
                                                    <div class="minfo">
                                                        <span class="minfo-name">最新地域：</span>
                                                        <span class="minfo-txt">cn</span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4">
                                                    <div class="minfo">
                                                        <span class="minfo-name">最后一次使用APP时间：</span>
                                                        <span class="minfo-txt">14-Apr-15 09:53:07 PM</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>

                                        <section class="widget">
                                            <header>
                                                <span style="float:right;">
                                                    <a href="#">生成 Excel</a>
                                                </span>
                                                <h4>用户信息表<small>影响用户数：206</small></h4>
                                            </header>
                                            <div class="body tr-body" style="padding-top:12px">
                                                <div>
                                                    <table class="table table-striped table-hover" style="margin-bottom:0">
                                                        <thead>
                                                        <tr>
                                                            <th width="20%" class="sortedth">
                                                                <span class="sortedtext">崩溃信息</span>
                                                                <i class="iconfont sortedup">&#xe61a;</i>
                                                                <i class="iconfont sorteddown">&#xe619;</i>
                                                            </th>
                                                            <th width="50%" class="sortedth">
                                                                <span class="sortedtext">崩溃原因</span>
                                                                <i class="iconfont sortedup">&#xe61a;</i>
                                                                <i class="iconfont sorteddown">&#xe619;</i>
                                                            </th>
                                                            <th width="10%" class="sortedth">
                                                                <span class="sortedtext">崩溃次数</span>
                                                                <i class="iconfont sortedup">&#xe61a;</i>
                                                                <i class="iconfont sorteddown">&#xe619;</i>
                                                            </th>
                                                            <th width="10%" class="sortedth">
                                                                <span class="sortedtext">崩溃时间</span>
                                                                <i class="iconfont sortedup">&#xe61a;</i>
                                                                <i class="iconfont sorteddown">&#xe619;</i>
                                                            </th>

                                                            <th width="10%" class="sortedth">
                                                                <span class="sortedtext">APP版本</span>
                                                                <i class="iconfont sortedup">&#xe61a;</i>
                                                                <i class="iconfont sorteddown">&#xe619;</i>
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td><a href="#">java.lang.ArithmeticException</a></td>
                                                            <td class="word-bk">Unable to start activity ComponentInfo{com.blueware.android.app.client/com.pediy.bbs.kanxue.LoginPage}: java.lang.ArrayIndexOutOfBoundsException: length=3; index=90</span></td>
                                                            <td>1</td>
                                                            <td>20-Apr-15 03:52:16 AM</td>
                                                            <td>1.5</td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="#">java.lang.ArithmeticException</a></td>
                                                            <td class="word-bk">Unable to start activity ComponentInfo{com.blueware.android.app.client/com.pediy.bbs.kanxue.LoginPage}: java.lang.ArrayIndexOutOfBoundsException: length=3; index=90</span></td>
                                                            <td>1</td>
                                                            <td>20-Apr-15 03:52:16 AM</td>
                                                            <td>1.5</td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="#">java.lang.ArithmeticException</a></td>
                                                            <td class="word-bk">Unable to start activity ComponentInfo{com.blueware.android.app.client/com.pediy.bbs.kanxue.LoginPage}: java.lang.ArrayIndexOutOfBoundsException: length=3; index=90</span></td>
                                                            <td>1</td>
                                                            <td>20-Apr-15 03:52:16 AM</td>
                                                            <td>1.5</td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="#">java.lang.ArithmeticException</a></td>
                                                            <td class="word-bk">Unable to start activity ComponentInfo{com.blueware.android.app.client/com.pediy.bbs.kanxue.LoginPage}: java.lang.ArrayIndexOutOfBoundsException: length=3; index=90</span></td>
                                                            <td>1</td>
                                                            <td>20-Apr-15 03:52:16 AM</td>
                                                            <td>1.5</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </section>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>



    {{/replace}}
    {{#append "scripts"}}


        <script src="lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="lib/jquery.sparkline/index.js"></script>
        <script src="lib/d3/d3.min.js"></script>
        <script src="lib/nvd3/nv.d3.min.js"></script>

        <!-- page application js -->
        <script src="js/graph/graph1.js"></script>
        <script src="js/graph/singlechart1.js"></script>
        <script src="js/graph/singlechart2.js"></script>
        <script src="js/graph/singlechart3.js"></script>

        <script>
            $(document).ready(function  () {
                
                $('.float-card .glyphicon-remove').click(function() {
                    $('.float-card').hide();
                });

                $('.user-crash').click(function  () {
                    $('.float-card').show().addClass("animated fadeInRightBig");
                    setTimeout(function (){
                        $('.float-card').removeClass("animated fadeInRightBig");
                    },500);
                });

            });


            $('th').click(function(e){
                var a = $(this).find('.sortedup');
                var b = $(this).find('.sorteddown');

                if (a.css('display') == 'none' && b.css('display') == 'none') {
                    a.show();
                }else{
                    if (a.css('display') != 'none') {
                        a.hide();
                        b.show();
                    }else{
                        if (a.css('display') == 'none') {
                            b.hide();
                        }
                    }
                }
                e.stopPropagation();
            })
            $('#show-all').click(function(){
                $('#show-all').hide();
                $('#show-content').show();
            })
           
        </script>

        
    {{/append}}

{{/extend}}
