{{#extend "layoutMob"}}

    {{#replace "sidebarMob"}}
        {{> sidebarMob this conditionClass=conditionClass active="crashATM"}}
    {{/replace}}

    {{#replace "app_content"}}
     
    <div class="row">
        <div class="col-lg-9">
            <h2 class="page-title" style="line-height: 1.2">
                <a href="crashMob.html">
                    <button type="button" class="btn btn-success btn-sm btn-reply" data-placement="top" style="margin-top:3px">
                        <i class="iconfont icon3">&#xe612;</i>  
                    </button>
                </a>
                <span>搜索“mommaCritter”的结果<small>选择一条查看详情</small></span>
            </h2>
        </div>
        <div class="col-lg-3">
            <div class="search_mi">
                <form id="search-form" class="navbar-form pull-right search-form" role="search" style="margin-top:10px;padding-right:0">
                    <input type="search" class="form-control search-query search-query-mi" placeholder="输入用户信息搜索">
                </form>
           </div>
        </div>
    </div>
    <div class="row">
     	<div class="col-lg-12 col-md-12 col-sm-12">
            <section class="widget">
                <header>
                   <h4>搜索结果</h4>
                </header>
                <div class="body">
                    <table class="table table-striped table-hover no-margin sources-table">
                        <thead>
                        <tr>
                            <th width="25%">用户信息</th>
                            <th width="25%">设备信息</th>
                            <th width="25%" class="sortedth">
                                <span class="sortedtext">APP版本</span>
                                <i class="iconfont sortedup">&#xe61a;</i>
                                <i class="iconfont sorteddown">&#xe619;</i>
                            </th>
                            <th width="25%" class="sortedth">
                                <span class="sortedtext">崩溃会话开始时间</span>
                                <i class="iconfont sortedup">&#xe61a;</i>
                                <i class="iconfont sorteddown">&#xe619;</i>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="#" class="user-crash">MommaCritter</a></td>
                            <td>Samsung Galaxy S II</td>
                            <td>1.1</td>
                            <td>2015-04-14 03:22:34.584000+00.00</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="user-crash">MommaCritter</a></td>
                            <td>Samsung Galaxy S II</td>
                            <td>1.1</td>
                            <td>2015-04-14 03:22:34.584000+00.00</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="user-crash">MommaCritter</a></td>
                            <td>Samsung Galaxy S II</td>
                            <td>1.1</td>
                            <td>2015-04-14 03:22:34.584000+00.00</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="user-crash">MommaCritter</a></td>
                            <td>Samsung Galaxy S II</td>
                            <td>1.1</td>
                            <td>2015-04-14 03:22:34.584000+00.00</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="user-crash">MommaCritter</a></td>
                            <td>Samsung Galaxy S II</td>
                            <td>1.1</td>
                            <td>2015-04-14 03:22:34.584000+00.00</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="user-crash">MommaCritter</a></td>
                            <td>Samsung Galaxy S II</td>
                            <td>1.1</td>
                            <td>2015-04-14 03:22:34.584000+00.00</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="user-crash">MommaCritter</a></td>
                            <td>Samsung Galaxy S II</td>
                            <td>1.1</td>
                            <td>2015-04-14 03:22:34.584000+00.00</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="user-crash">MommaCritter</a></td>
                            <td>Samsung Galaxy S II</td>
                            <td>1.1</td>
                            <td>2015-04-14 03:22:34.584000+00.00</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="user-crash">MommaCritter</a></td>
                            <td>Samsung Galaxy S II</td>
                            <td>1.1</td>
                            <td>2015-04-14 03:22:34.584000+00.00</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="user-crash">MommaCritter</a></td>
                            <td>Samsung Galaxy S II</td>
                            <td>1.1</td>
                            <td>2015-04-14 03:22:34.584000+00.00</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="user-crash">MommaCritter</a></td>
                            <td>Samsung Galaxy S II</td>
                            <td>1.1</td>
                            <td>2015-04-14 03:22:34.584000+00.00</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="user-crash">MommaCritter</a></td>
                            <td>Samsung Galaxy S II</td>
                            <td>1.1</td>
                            <td>2015-04-14 03:22:34.584000+00.00</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="user-crash">MommaCritter</a></td>
                            <td>Samsung Galaxy S II</td>
                            <td>1.1</td>
                            <td>2015-04-14 03:22:34.584000+00.00</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <div class="row float-card">
        <div class="col-md-12">
        <section class="widget">
            <header>
                <span class="float-card-title">MommaCritter's User Details</span>
                <span class="glyphicon glyphicon-remove pull-right"></span>
            </header>
            <div class="body tr-body" style="margin-top: 10px;">  
                <section class="widget inner-widget half-minfo">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="minfo">
                                <span class="minfo-name">APP 使用次数：</span>
                                <span class="minfo-txt">3</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="minfo">
                                <span class="minfo-name">设备：</span>
                                <span class="minfo-txt">HUAWEI A199</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="minfo">
                                <span class="minfo-name">操作系统：</span>
                                <span class="minfo-txt">android 4.1.2</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="minfo">
                                <span class="minfo-name">崩溃发生次数：</span>
                                <span class="minfo-txt">1</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="minfo">
                                <span class="minfo-name">APP版本：</span>
                                <span class="minfo-txt">1.5</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="minfo">
                                <span class="minfo-name">最新地域：</span>
                                <span class="minfo-txt">cn</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="minfo">
                                <span class="minfo-name">最后一次使用APP时间：</span>
                                <span class="minfo-txt">14-Apr-15 09:53:07 PM</span>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="widget">
                    <header>
                        <span style="float:right;">
                            <a href="#">生成 Excel</a>
                        </span>
                        <h4>用户信息表<small>影响用户数：206</small></h4>
                    </header>
                    <div class="body tr-body" style="padding-top:12px">
                        <div>
                            <table class="table table-striped table-hover" style="margin-bottom:0">
                                <thead>
                                <tr>
                                    <th style="width: 20%;" class="sortedth">崩溃信息</th>
                                    <th style="width: 50%;">崩溃原因</th>
                                    <th style="width: 10%;" class="sortedth">
                                        <span class="sortedtext">崩溃次数</span>
                                        <i class="iconfont sortedup">&#xe61a;</i>
                                        <i class="iconfont sorteddown">&#xe619;</i>
                                    </th>
                                    <th style="width: 10%;" class="sortedth">
                                        <span class="sortedtext">崩溃时间</span>
                                        <i class="iconfont sortedup">&#xe61a;</i>
                                        <i class="iconfont sorteddown">&#xe619;</i>
                                    </th>
                                    <th style="width: 10%;" class="sortedth">
                                        <span class="sortedtext">APP版本</span>
                                        <i class="iconfont sortedup">&#xe61a;</i>
                                        <i class="iconfont sorteddown">&#xe619;</i>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><a href="#">java.lang.ArithmeticException</a></td>
                                    <td class="word-bk">Unable to start activity ComponentInfo{com.blueware.android.app.client/com.pediy.bbs.kanxue.LoginPage}: java.lang.ArrayIndexOutOfBoundsException: length=3; index=90</span></td>
                                    <td>1</td>
                                    <td>20-Apr-15 03:52:16 AM</td>
                                    <td>1.5</td>
                                </tr>
                                <tr>
                                    <td><a href="#">java.lang.ArithmeticException</a></td>
                                    <td class="word-bk">Unable to start activity ComponentInfo{com.blueware.android.app.client/com.pediy.bbs.kanxue.LoginPage}: java.lang.ArrayIndexOutOfBoundsException: length=3; index=90</span></td>
                                    <td>1</td>
                                    <td>20-Apr-15 03:52:16 AM</td>
                                    <td>1.5</td>
                                </tr>
                                <tr>
                                    <td><a href="#">java.lang.ArithmeticException</a></td>
                                    <td class="word-bk">Unable to start activity ComponentInfo{com.blueware.android.app.client/com.pediy.bbs.kanxue.LoginPage}: java.lang.ArrayIndexOutOfBoundsException: length=3; index=90</span></td>
                                    <td>1</td>
                                    <td>20-Apr-15 03:52:16 AM</td>
                                    <td>1.5</td>
                                </tr>
                                <tr>
                                    <td><a href="#">java.lang.ArithmeticException</a></td>
                                    <td class="word-bk">Unable to start activity ComponentInfo{com.blueware.android.app.client/com.pediy.bbs.kanxue.LoginPage}: java.lang.ArrayIndexOutOfBoundsException: length=3; index=90</span></td>
                                    <td>1</td>
                                    <td>20-Apr-15 03:52:16 AM</td>
                                    <td>1.5</td>
                                </tr>
                                <tr>
                                    <td><a href="#">java.lang.ArithmeticException</a></td>
                                    <td class="word-bk">Unable to start activity ComponentInfo{com.blueware.android.app.client/com.pediy.bbs.kanxue.LoginPage}: java.lang.ArrayIndexOutOfBoundsException: length=3; index=90</span></td>
                                    <td>1</td>
                                    <td>20-Apr-15 03:52:16 AM</td>
                                    <td>1.5</td>
                                </tr>
                                <tr>
                                    <td><a href="#">java.lang.ArithmeticException</a></td>
                                    <td class="word-bk">Unable to start activity ComponentInfo{com.blueware.android.app.client/com.pediy.bbs.kanxue.LoginPage}: java.lang.ArrayIndexOutOfBoundsException: length=3; index=90</span></td>
                                    <td>1</td>
                                    <td>20-Apr-15 03:52:16 AM</td>
                                    <td>1.5</td>
                                </tr>
                                <tr>
                                    <td><a href="#">java.lang.ArithmeticException</a></td>
                                    <td class="word-bk">Unable to start activity ComponentInfo{com.blueware.android.app.client/com.pediy.bbs.kanxue.LoginPage}: java.lang.ArrayIndexOutOfBoundsException: length=3; index=90</span></td>
                                    <td>1</td>
                                    <td>20-Apr-15 03:52:16 AM</td>
                                    <td>1.5</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </section>
            
        </div>
    </div>
        </div>
    </div>
	
    {{/replace}}

    {{#append "scripts"}}
        <!-- page libs -->
        <script src="lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="lib/jquery.sparkline/index.js"></script>

        <script src="lib/backbone/backbone.js"></script>
        <script src="lib/backbone.localStorage/backbone.localStorage-min.js"></script>

        <script src="lib/d3/d3.min.js"></script>
        <script src="lib/nvd3/nv.d3.min.js"></script>

        <script src="js/graph/graph1.js"></script>
        <script src="js/graph/graph3.js"></script>
        <script src="js/graph/graph4.js"></script>
   		<script src="js/graph/graph2.js"></script>
        <script src="js/graph/graph5.js"></script>

        <script src="lib/form-daterangepicker/daterangepicker.js"></script>                 
        <!-- DateTime Picker -->
        <script src="lib/form-daterangepicker/moment.min.js"></script> 

        <!-- page application js -->
        <script src="js/daterangepicker.js"></script>

        <script>
            $(document).ready(function  () {
                //item点击，去除所有active状态，当前点击对象加active，隐藏对象显示，开始tanslate
               
                $('.user-crash').click(function  () {
                    $('.float-card').show().addClass("animated fadeInRightBig");

                    setTimeout(function (){
                        $('.float-card').removeClass("animated fadeInRightBig");
                    },500);
                });
                $('.float-card .glyphicon-remove').click(function() {
                    $('.float-card').hide();
                    $('.dd-handle').removeClass("active");
                });

            });

        	$('th').click(function(e){
                var a = $(this).find('.sortedup');
                var b = $(this).find('.sorteddown');

                if (a.css('display') == 'none' && b.css('display') == 'none') {
                    a.show();
                }else{
                    if (a.css('display') != 'none') {
                        a.hide();
                        b.show();
                    }else{
                        if (a.css('display') == 'none') {
                            b.hide();
                        }
                    }
                }
                e.stopPropagation();
            })
        </script>
   
    {{/append}}

{{/extend}}