
{{#extend "layoutMob"}}

    {{#replace "sidebarMob"}}
        {{> sidebarMob this conditionClass=conditionClass active="overviewMob"}}
    {{/replace}}

    {{#replace "app_content"}}
    <div class="row">

        <div class="col-lg-5 col-md-5">
            <h2 class="page-title">
                <span>总览 <small>总览页面</small></span>
            </h2>
        </div>

        <div class="col-lg-7 col-md-7">
            {{#block "picker"}}
                {{> picker }}
            {{/block}}
        </div>
    </div>
       
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-12">
                    <section class="widget">
                        <header>
                            <h4>
                                执行时间
                            </h4>
                            <div class="widget-controls">
                                <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                            </div>
                        </header>
                        <div class="body no-margin">
                            <div id="visits-chart1" class="chart visits-chart">
                                <svg></svg>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <section class="widget">
                        <header>
                            <h4>
                                最慢 Interactions                                    
                            </h4>
                            <div class="widget-controls">
                                <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                            </div>
                        </header>
                        <div class="body">
                            <ol class="dd-list">
                                <li class="trace-item">
                                    <div class="traceList">
                                        <i class="iconfont icon2-dd" style="float: right;">
                                            &#xe613;
                                        </i>
                                        <div class="bar-graph"></div>
                                        <div class="bar-text"><span>SpringController/insert.do (GET)</span> <span style="float: right;">47.99 s</span></div>
                                    </div>
                                </li>
                                <li class="trace-item">
                                    <div class="traceList">
                                        <i class="iconfont icon2-dd" style="float: right;">
                                            &#xe613;
                                        </i>
                                        <div class="bar-graph" style="width:50%"></div>
                                        <div class="bar-text"><span>SpringController/abc.do (GET)</span> <span style="float: right;">15.37 s</span></div>
                                        
                                    </div>
                                </li>
                                <li class="trace-item">
                                    <div class="traceList">
                                        <i class="iconfont icon2-dd" style="float: right;">
                                            &#xe613;
                                        </i>
                                        <div class="bar-graph" style="width:30%"></div>
                                        <div class="bar-text"><span>SpringController/splits.do (GET)</span> <span style="float: right;">14.77 s</span></div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </section>
                </div>
                <div class="col-lg-6">
                    <section class="widget">
                        <header>
                            <h4>
                                会话数 - 应用版本
                            </h4>
                            <div class="widget-controls">
                                <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                            </div>
                        </header>
                        <div class="body no-margin">
                            <div id="visits-chart2" class="chart visits-chart">
                                <svg></svg>
                            </div>
                            
                        </div>
                    </section>
                </div>
            </div>
            
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-md-12">
                    <section class="widget">
                        <header>
                            <h4>
                                崩溃次数
                            </h4>
                            <div class="widget-controls">
                                <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                            </div>
                        </header>
                        <div class="body no-margin">
                            <div id="visits-chart3" class="chart visits-chart">
                                <svg></svg>
                            </div>
                        </div>   
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <section class="widget">
                        <header>
                            <h4>
                                HTTP 响应时间
                            </h4>
                            <div class="widget-controls">
                                <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                            </div>
                        </header>
                        <div class="body no-margin">
                            <div id="visits-chart4" class="chart visits-chart">
                                <svg></svg>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <section class="widget">
                        <header>
                            <h4>
                                HTTP 错误率 & 网络故障率
                            </h4>
                            <div class="widget-controls">
                                <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                            </div>
                        </header>
                        <div class="body no-margin">
                            <div id="visits-chart5" class="chart visits-chart">
                                <svg></svg>
                            </div>
                        </div>
                    </section>
                    
                </div>
            </div>
        </div>
    </div>


                
    

    {{/replace}}


    {{#append "scripts"}}
        <!-- page libs -->

        <script src="lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="lib/jquery.sparkline/index.js"></script>

        <script src="lib/backbone/backbone.js"></script>
        <script src="lib/backbone.localStorage/backbone.localStorage-min.js"></script>

        <script src="lib/d3/d3.min.js"></script>
        <script src="lib/nvd3/nv.d3.min.js"></script>

        <!-- daterange picker js -->
        <script src="lib/form-daterangepicker/daterangepicker.js"></script>               
        <!-- DateTime Picker -->
        <script src="lib/form-daterangepicker/moment.min.js"></script> 
        <script src="js/daterangepicker.js"></script>

        <!-- page application js -->
        <script src="js/graph/graph1.js"></script>
        <script src="js/graph/graph2.js"></script>
        <script src="js/graph/graph3.js"></script>
        <script src="js/graph/graph4.js"></script>
        <script src="js/graph/graph5.js"></script>

         <!-- page libs -->
  
        <script src="js/graph/singlechart1.js"></script>
        <script src="js/graph/singlechart2.js"></script>

        <script>

            $('.trace-item').click(function(){
            location.href="interMob.html";
         })
           
        </script>
        
    {{/append}}

{{/extend}}