{{#extend "layoutMob"}}

    {{#replace "sidebarMob"}}
        {{> sidebarMob this conditionClass=conditionClass active="errMob"}}
    {{/replace}}

    {{#replace "app_content"}}
     
     <div class="row">

         <div class="col-lg-5 col-md-5">
             <h2 class="page-title">
             <span>错误 <small>网络错误统计和详情</small></span>
             </h2>
         </div>

         <div class="col-lg-7 col-md-7">
             {{#block "picker"}}
                 {{> picker }}
             {{/block}}
         </div>
     </div>
        <div class="row">
             <div class="col-md-12 col-lg-12">
                <div class="row float-card" style="z-index:15 !important">
                    <div class="col-md-12 col-lg-12">
                        <section class="widget">
                            <header>
                                <h5>java.lang.IllegalStateException
                                    <small style="margin-left:15px">ListView.java line 1562 in android.widget.ListView.layoutChildren()</small>
                                    <span class="glyphicon glyphicon-remove pull-right"></span>
                                </h5>
                                
                            </header>
                            <div class="body">
                               <div class="row">
                                    <div class="col-lg-12">
                                        <section class="widget">
                                            <div class="body no-margin">
                                                <div class="visits-info well well-sm well-cos">
                                                    <div class="row">
                                                        <div class="col-sm-1 hidden-xs"></div>
                                                        <div class="col-sm-2  col-xs-6">
                                                            <div class="key">状态码</div>
                                                            <div id="serve-value" class="value" style="margin-bottom:0;">403</div>
                                                        </div>
                                                        <div class="col-sm-2 col-xs-6">
                                                            <div class="key">最后发生时间</div>
                                                            <div class="value" style="margin-bottom:0;">2015-06-02</div>
                                                        </div>
                                                        <div class="col-sm-2 col-xs-6">
                                                            <div class="key">同类错误数</div>
                                                            <div class="value" style="margin-bottom:0;">5</div>
                                                        </div>
                                                        <div class="col-sm-2 col-xs-6">
                                                            <div class="key">影响用户数</div>
                                                            <div class="value" style="margin-bottom:0;">5</div>
                                                        </div>
                                                        <div class="col-sm-2 col-xs-6">
                                                            <div class="key">状态</div>
                                                            <div class="value btn-group" style="margin-bottom:0;">
                                                                <button href="#" class="btn btn-sm btn-inverse dropdown-toggle" data-toggle="dropdown" type="button">
                                                                    已解决
                                                                    <span class="caret" style="border-top-color:#555"></span>
                                                                </button>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="#">已解决</a></li>
                                                                    <li><a href="#">未解决</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-1 hidden-xs"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <section class="widget">
                                            <header>
                                                <h4>错误次数</h4>
                                                <div class="widget-controls">
                                                    <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                                    <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                                                </div>
                                            </header>
                                            <div class="body no-margin">
                                                <div id="visits-chart5" class="chart visits-chart">
                                                    <svg></svg>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <section class="widget">
                                            <header>
                                                <h4>地域 （饼图）</h4>
                                                <div class="widget-controls">
                                                    <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                                    <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                                                </div>
                                            </header>
                                            <div class="body no-margin">
                                                <div id="visits-chart6" class="chart visits-chart">
                                                    <svg></svg>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <section class="widget">
                                            <header>
                                                <h4>运营商 （饼图）</h4>
                                                <div class="widget-controls">
                                                    <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                                    <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                                                </div>
                                            </header>
                                            <div class="body no-margin">
                                                <div id="visits-chart7" class="chart visits-chart">
                                                    <svg></svg>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <section class="widget">
                                            <header>
                                                <h4>接入方式 （饼图）</h4>
                                                <div class="widget-controls">
                                                    <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                                    <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                                                </div>
                                            </header>
                                            <div class="body no-margin">
                                                <div id="visits-chart8" class="chart visits-chart">
                                                    <svg></svg>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="float-body no-margin">
                                            <header>
                                                <ul class="nav nav-tabs">
                                                    <li class="active">
                                                        <a href="#stackInfo" data-toggle="tab">错误详情</a>
                                                    </li>
                                                    {{!-- <li>
                                                        <a href="#userInfo" data-toggle="tab">用户信息</a>
                                                    </li> --}}
                                                </ul>
                                            </header>
                                            <div class="bodyn no-margin tab-content">
                                                <div id="stackInfo" class="tab-pane active clearfix">
                                                    <div class="body no-margin">
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                                <section class="widget switch-widget">
                                                                   <div class="crash-switch">
                                                                        <span class="to-left">
                                                                            <i class="fa fa-angle-left"></i>
                                                                        </span>
                                                                        <span class="title">第 1/1 个同类崩溃<br>
                                                                            <span class="occur-time">发生时间:2015-04-14 14:25:03</span>
                                                                        </span>
                                                                        <span class="to-right">
                                                                            <i class="fa fa-angle-right"></i>
                                                                        </span>
                                                                   </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                                <section class="widget inner-widget">
                                                                    <div class="row">
                                                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                                                            <div class="minfo">
                                                                                <span class="minfo-name">设备信息：</span>
                                                                                <span class="minfo-txt">Xiaomi HM NOTE 1LTE</span>
                                                                            </div>
                                                                        </div>
                                                                        
                                                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                                                            <div class="minfo">
                                                                                <span class="minfo-name">APP版本：</span>
                                                                                <span class="minfo-txt">V1.5</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                                                            <div class="minfo">
                                                                                <span class="minfo-name">操作系统：</span>
                                                                                <span class="minfo-txt">Android 4.2.1</span>
                                                                            </div>
                                                                        </div>
                                                                       <div class="col-lg-4 col-md-4 col-sm-4">
                                                                            <div class="minfo">
                                                                                <span class="minfo-name">内存占用：</span>
                                                                                <span class="minfo-txt">25.00B MB</span>
                                                                            </div>
                                                                        </div>
                                                                        
                                                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                                                            <div class="minfo">
                                                                                <span class="minfo-name">联网方式：</span>
                                                                                <span class="minfo-txt">联通wifi</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <section class="widget" style="padding-top: 30px;">
                                                                    <div class="form-section">
                                                                        <legend class="section">Sample stack trace</legend>
                                                                        <p>org.apache.naming.NamingContext.lookup(NamingContext.java:820)<br>
                                                                            org.apache.naming.NamingContext.lookup(NamingContext.java:168)<br>
                                                                            org.apache.naming.SelectorContext.lookup(SelectorContext.java:158)<br>
                                                                            javax.naming.InitialContext.lookup(InitialContext.java:411)<br>
                                                                            org.springframework.jndi.JndiTemplate$1.doInContext(JndiTemplate.java:155)<br>
                                                                            org.springframework.jndi.JndiTemplate.execute(JndiTemplate.java:87)<br>
                                                                            org.springframework.jndi.JndiTemplate.lookup(JndiTemplate.java:152)<br>
                                                                            org.springframework.jndi.JndiTemplate.lookup(JndiTemplate.java:179)<br>
                                                                            org.springframework.jndi.JndiLocatorSupport.lookup(JndiLocatorSupport.java:104)<br>
                                                                            org.springframework.jndi.JndiLocatorDelegate.lookup(JndiLocatorDelegate.java:38)<br>
                                                                            org.springframework.jndi.JndiLocatorSupport.lookup(JndiLocatorSupport.java:77)<br>
                                                                            org.springframework.jndi.JndiLocatorDelegate.lookup(JndiLocatorDelegate.java:33)<br>
                                                                            org.springframework.jndi.JndiPropertySource.getProperty(JndiPropertySource.java:82)<br>
                                                                            org.springframework.core.env.PropertySourcesPropertyResolver.getProperty(PropertySourcesPropertyResolver.java:84)<br>
                                                                            org.springframework.core.env.PropertySourcesPropertyResolver.getProperty(PropertySourcesPropertyResolver.java:60)<br>
                                                                            org.springframework.core.env.AbstractEnvironment.getProperty(AbstractEnvironment.java:465)<br>
                                                                            org.springframework.context.support.LiveBeansView.registerApplicationContext(LiveBeansView.java:61)<br>
                                                                            org.springframework.context.support.AbstractApplicationContext.finishRefresh(AbstractApplicationContext.java:774)<br>
                                                                            org.springframework.context.support.AbstractApplicationContext.refresh(AbstractApplicationContext.java:483)<br>
                                                                            org.springframework.web.servlet.FrameworkServlet.configureAndRefreshWebApplicationContext(FrameworkServlet.java:658)<br>
                                                                            org.springframework.web.servlet.FrameworkServlet.createWebApplicationContext(FrameworkServlet.java:624)<br>
                                                                            org.springframework.web.servlet.FrameworkServlet.createWebApplicationContext(FrameworkServlet.java:672)<br>
                                                                            org.springframework.web.servlet.FrameworkServlet.initWebApplicationContext(FrameworkServlet.java:543)<br>
                                                                            org.springframework.web.servlet.FrameworkServlet.initServletBean(FrameworkServlet.java:484)<br>
                                                                            org.springframework.web.servlet.HttpServletBean.init(HttpServletBean.java:136)<br>
                                                                            javax.servlet.GenericServlet.init(GenericServlet.java:160)<br>
                                                                            org.apache.catalina.core.StandardWrapper.initServlet(StandardWrapper.java:1280)<br>
                                                                            org.apache.catalina.core.StandardWrapper.loadServlet(StandardWrapper.java:1193)<br>
                                                                            org.apache.catalina.core.StandardWrapper.load(StandardWrapper.java:1088)<br>
                                                                            org.apache.catalina.core.StandardContext.loadOnStartup(StandardContext.java:5176)<br>
                                                                            org.apache.catalina.core.StandardContext.startInternal(StandardContext.java:5460)<br>
                                                                            org.apache.catalina.util.LifecycleBase.start(LifecycleBase.java:150)<br>
                                                                            org.apache.catalina.core.ContainerBase.addChildInternal(ContainerBase.java:901)<br>
                                                                            org.apache.catalina.core.ContainerBase.addChild(ContainerBase.java:877)<br>
                                                                            org.apache.catalina.core.StandardHost.addChild(StandardHost.java:633)<br>
                                                                            org.apache.catalina.startup.HostConfig.deployDirectory(HostConfig.java:1120)<br>
                                                                            org.apache.catalina.startup.HostConfig$DeployDirectory.run(HostConfig.java:1678)<br>
                                                                            java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:471)<br>
                                                                            java.util.concurrent.FutureTask.run(FutureTask.java:262)<br>
                                                                            java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1145)<br>
                                                                            java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:615)<br>
                                                                            java.lang.Thread.run(Thread.java:744)<br>
                                                                        </p>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {{!-- <div id="userInfo" class="tab-pane clearfix">
                                                    <div class="body no-margin">

                                                    </div>
                                                </div> --}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-md-12">
                       <section class="widget widget-tabs">
                        <header class="card-header">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#reqMob" data-toggle="tab">错误统计
                                    </a>
                                </li>
                            </ul>
                        </header>
                        <div class="body tab-content">
                            <div id="reqMob" class="tab-pane active clearfix">

                                <div class="body tr-body">
                                    <ul id="myTab" class="nav nav-tabs">
                                        <li class="active"><a href="#responseTime" data-toggle="tab" class="tabItem">域名</a></li>
                                        <li><a href="#excuTime" data-toggle="tab" class="tabItem">状态码</a>
                                        </li>
                                        <li><a href="#traffic" data-toggle="tab" class="tabItem">故障类型</a>
                                        </li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content" >
                                        <div class="tab-pane fade in active" id="responseTime">
                                            <div class="dd" id="nestable1">
                                                <ol class="dd-list">
                                                    <li class="dd-item dd-collapsed" data-id="1">
                                                        <div class="dd-handle">
                                                            <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                            </i>
                                                            <div class="bar-graph" style="width:35%"></div>
                                                            <div class="bar-text"><span>www.wallcoo.com</span><span style="float: right;">3.29 ms</span></div>
                                                        </div>
                                                        <ol class="dd-list">
                                                            <li class="dd-item" data-id="11">
                                                                <div class="dd-handle">
                                                                    <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                    </i>
                                                                    <div class="bar-graph" style="width:100%"></div>
                                                                    <div class="bar-text"><span>/other/blue/wallpapers/1024x768/ml0029.jpg</span><span style="float: right;">3.29 s</span></div>
                                                                </div>
                                                            </li>
                                                        </ol>
                                                    </li>
                                                    <li class="dd-item dd-collapsed" data-id="2">
                                                        <div class="dd-handle">
                                                            <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                            </i>
                                                            <div class="bar-graph" style="width:30%"></div>
                                                            <div class="bar-text"><span>www.pandaos.net</span><span style="float: right;">2.21 s</span></div>
                                                        </div>
                                                         <ol class="dd-list">
                                                            <li class="dd-item" data-id="3">
                                                                <div class="dd-handle">
                                                                    <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                    </i>
                                                                    <div class="bar-graph" style="width:100%"></div>
                                                                    <div class="bar-text"><span>/zb_users/upload/2015/02/201502031422</span><span style="float: right;">2.21 s</span></div>
                                                                </div>
                                                            </li>
                                                           
                                                        </ol>
                                                    </li>
                                                    <li class="dd-item dd-collapsed" data-id="3">
                                                        <div class="dd-handle">
                                                            <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                            </i>
                                                            <div class="bar-graph" style="width:26%"></div>
                                                            <div class="bar-text"><span>www.baidu.com</span> 
                                                                <span style="float: right;">1.80 s</span>
                                                            </div>
                                                        </div>
                                                        <ol class="dd-list">
                                                            <li class="dd-item" data-id="4">
                                                                <div class="dd-handle">
                                                                    <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                    </i>
                                                                    <div class="bar-graph" style="width:100%"></div>
                                                                    <div class="bar-text"><span>/</span><span style="float: right;">1.80 s</span></div>
                                                                </div>
                                                            </li>
                                                            
                                                        </ol>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                       
                                        <div class="tab-pane fade" id="excuTime">
                                            <div class="dd" id="nestable2">
                                                <ol class="dd-list">
                                                    <li class="dd-item dd-collapsed" data-id="1">
                                                        <div class="dd-handle">
                                                            <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                            </i>
                                                            <span style="float: right;">0.004 cpm</span>
                                                            <div class="bar-graph" style="width:50%"></div>
                                                            <div class="bar-text"><span>zhidao.baidu.com</span></div>
                                                        </div>
                                                        <ol class="dd-list">
                                                            <li class="dd-item" data-id="1">
                                                                <div class="dd-handle">
                                                                    <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                    </i>
                                                                    <span style="float: right;">0.004 cpm</span>
                                                                    <div class="bar-graph" style="width:30%"></div>
                                                                    <div class="bar-text"><span>splits.do (GET)</span></div>
                                                                </div>
                                                            </li>
                                                            <li class="dd-item" data-id="2">
                                                                <div class="dd-handle">
                                                                    <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                    </i>
                                                                    <span style="float: right;">0.002 cpm</span>
                                                                    <div class="bar-graph" style="width:20%"></div>
                                                                    <div class="bar-text"><span>splits.do (GET)</span></div>
                                                                </div>
                                                            </li>
                                                        </ol>
                                                    </li>
                                                    <li class="dd-item dd-collapsed" data-id="2">
                                                        <div class="dd-handle">
                                                            <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                            </i>
                                                            <span style="float: right;">0.002 cpm</span>
                                                            <div class="bar-graph" style="width:30%"></div>
                                                            <div class="bar-text"><span>www.sina.com</span></div>
                                                        </div>
                                                         <ol class="dd-list">
                                                            <li class="dd-item" data-id="3">
                                                                <div class="dd-handle">
                                                                    <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                    </i>
                                                                    <span style="float: right;">0.002 cpm</span>
                                                                    <div class="bar-graph" style="width:30%"></div>
                                                                    <div class="bar-text"><span>splits.do (GET)</span></div>
                                                                </div>
                                                            </li>
                                                        </ol>
                                                    </li>
                                                    <li class="dd-item dd-collapsed" data-id="3">
                                                        <div class="dd-handle">
                                                            <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                            </i>
                                                            <span style="float: right;">0.001 cpm</span>
                                                            <div class="bar-graph" style="width:20%"></div>
                                                            <div class="bar-text"><span>www.baidu.com</span></div>
                                                        </div>
                                                        <ol class="dd-list">
                                                            <li class="dd-item" data-id="4">
                                                                <div class="dd-handle">
                                                                    <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                    </i>
                                                                    <span style="float: right;">0.001 cpm</span>
                                                                    <div class="bar-graph" style="width:20%"></div>
                                                                    <div class="bar-text"><span>splits.do (GET)</span></div>
                                                                </div>
                                                            </li>
                                                        </ol>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="traffic">
                                            <div class="dd" id="nestable3">
                                                <ol class="dd-list">
                                                    <li class="dd-item dd-collapsed" data-id="1">
                                                        <div class="dd-handle">
                                                            <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                            </i>
                                                            <span style="float: right;">0.004 cpm</span>
                                                            <div class="bar-graph" style="width:50%"></div>
                                                            <div class="bar-text"><span>zhidao.baidu.com</span></div>
                                                        </div>
                                                        <ol class="dd-list">
                                                            <li class="dd-item" data-id="1">
                                                                <div class="dd-handle">
                                                                    <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                    </i>
                                                                    <span style="float: right;">0.004 cpm</span>
                                                                    <div class="bar-graph" style="width:30%"></div>
                                                                    <div class="bar-text"><span>splits.do (GET)</span></div>
                                                                </div>
                                                            </li>
                                                            <li class="dd-item" data-id="2">
                                                                <div class="dd-handle">
                                                                    <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                    </i>
                                                                    <span style="float: right;">0.002 cpm</span>
                                                                    <div class="bar-graph" style="width:20%"></div>
                                                                    <div class="bar-text"><span>splits.do (GET)</span></div>
                                                                </div>
                                                            </li>
                                                        </ol>
                                                    </li>
                                                    <li class="dd-item dd-collapsed" data-id="2">
                                                        <div class="dd-handle">
                                                            <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                            </i>
                                                            <span style="float: right;">0.002 cpm</span>
                                                            <div class="bar-graph" style="width:30%"></div>
                                                            <div class="bar-text"><span>www.sina.com</span></div>
                                                        </div>
                                                         <ol class="dd-list">
                                                            <li class="dd-item" data-id="3">
                                                                <div class="dd-handle">
                                                                    <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                    </i>
                                                                    <span style="float: right;">0.002 cpm</span>
                                                                    <div class="bar-graph" style="width:30%"></div>
                                                                    <div class="bar-text"><span>splits.do (GET)</span></div>
                                                                </div>
                                                            </li>
                                                           
                                                        </ol>
                                                    </li>
                                                    <li class="dd-item dd-collapsed" data-id="3">
                                                        <div class="dd-handle">
                                                            <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                            </i>
                                                            <span style="float: right;">0.001 cpm</span>
                                                            <div class="bar-graph" style="width:20%"></div>
                                                            <div class="bar-text"><span>www.baidu.com</span></div>
                                                        </div>
                                                        <ol class="dd-list">
                                                            <li class="dd-item" data-id="4">
                                                                <div class="dd-handle">
                                                                    <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                    </i>
                                                                    <span style="float: right;">0.001 cpm</span>
                                                                    <div class="bar-graph" style="width:20%"></div>
                                                                    <div class="bar-text"><span>splits.do (GET)</span></div>
                                                                </div>
                                                            </li>
                                                        </ol>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                         <section class="widget">
                            <header>
                                <h4>
                                    HTTP 错误率 - 域名
                                </h4>
                                <div class="widget-controls">
                                    <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                    <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                                </div>
                            </header>
                            <div class="body no-margin">
                                <div id="visits-chart2" class="chart visits-chart">
                                    <svg></svg>
                                </div>
                            </div>
                        </section>
                    </div> 
                    <div class="col-md-6">
                         <section class="widget">
                            <header>
                                <h4>
                                    网络故障率 - 域名 
                                </h4>
                                <div class="widget-controls">
                                    <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                    <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                                </div>
                            </header>
                            <div class="body no-margin">
                                <div id="visits-chart3" class="chart visits-chart">
                                    <svg></svg>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="search_mi">
                            <form class="navbar-form pull-right search-form" role="search" style="margin: 0 0 18px 0;padding: 0;">
                                <input type="search" class="form-control search-query search-query-mi" placeholder="按 HTTP 状态码搜索...">
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <section class="widget">
                            <header>
                               <h4>Traces</h4>
                            </header>
                            <div class="body body-for-table">
                                <table class="table table-striped table-hover no-margin sources-table">
                                    <thead>
                                    <tr>
                                        <th width="20%" class="sortedth">
                                            <span class="sortedtext">名称</span>
                                            <i class="iconfont sortedup">&#xe61a;</i>
                                            <i class="iconfont sorteddown">&#xe619;</i>
                                        </th>
                                        <th width="15%" class="sortedth">
                                            <span class="sortedtext">HTTP 状态码</span>
                                            <i class="iconfont sortedup">&#xe61a;</i>
                                            <i class="iconfont sorteddown">&#xe619;</i>
                                        </th>
                                        <th width="15%" class="sortedth">
                                            <span class="sortedtext">首次发生时间</span>
                                            <i class="iconfont sortedup">&#xe61a;</i>
                                            <i class="iconfont sorteddown">&#xe619;</i>
                                        </th>
                                        <th width="15%" class="sortedth">
                                            <span class="sortedtext">最后发生时间</span>
                                            <i class="iconfont sortedup">&#xe61a;</i>
                                            <i class="iconfont sorteddown">&#xe619;</i>
                                        </th>
                                        <th width="15%" class="sortedth">
                                            <span class="sortedtext">应用版本号</span>
                                            <i class="iconfont sortedup">&#xe61a;</i>
                                            <i class="iconfont sorteddown">&#xe619;</i>
                                        </th>
                                        <th width="10%" class="sortedth">
                                            <span class="sortedtext">发生次数</span>
                                            <i class="iconfont sortedup">&#xe61a;</i>
                                            <i class="iconfont sorteddown">&#xe619;</i>
                                        </th>
                                        <th width="10%" class="sortedth">
                                            <span class="sortedtext">影响用户数</span>
                                            <i class="iconfont sortedup">&#xe61a;</i>
                                            <i class="iconfont sorteddown">&#xe619;</i>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="err-detail"><a href="#">www.baidu.com/</a></td>
                                        <td>502</td>
                                        <td>2015-02-03 18:17</td>
                                        <td>2015-06-02 18:17</td>
                                        <td>v1.0</td>
                                        <td>500</td>
                                        <td>500</td>
                                    </tr>
                                    <tr>
                                        <td class="err-detail"><a href="#">www.baidu.com/</a></td>
                                        <td>502</td>
                                        <td>2015-02-03 18:17</td>
                                        <td>2015-06-02 18:17</td>
                                        <td>v1.0</td>
                                        <td>500</td>
                                        <td>500</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row float-card">
                    <div class="col-md-12">
                        <section class="widget">
                            <header>
                                <span class="float-card-title">Title</span>
                                <span class="glyphicon glyphicon-remove pull-right"></span>
                            </header>
                            <div class="body" style="min-height: 470px;">
                                <div class="row">
                                    <div class="col-md-6">
                                         <section class="widget inner-widget">
                                            <header>
                                                <h4>
                                                    HTTP 错误率 - 域名
                                                </h4>
                                                <div class="widget-controls">
                                                    <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                                    <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                                                </div>
                                            </header>
                                            <div class="body no-margin">
                                                <div id="visits-chart1" class="chart visits-chart">
                                                    <svg></svg>
                                                </div>
                                                
                                            </div>
                                        </section>
                                    </div> 

                                    <div class="col-md-6">
                                         <section class="widget inner-widget">
                                            <header>
                                                <h4>
                                                    网络故障率 - 域名 
                                                </h4>
                                                <div class="widget-controls">
                                                    <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                                    <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                                                </div>
                                            </header>
                                            <div class="body no-margin">
                                                <div id="visits-chart4" class="chart visits-chart">
                                                    <svg></svg>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <section class="widget inner-widget">
                                            <header>
                                               <h4>Traces</h4>
                                            </header>
                                            <div class="body body-for-table">
                                                <table class="table table-striped table-hover no-margin sources-table">
                                                    <thead>
                                                    <tr>
                                                        <th width="20%" class="sortedth">
                                                            <span class="sortedtext">名称</span>
                                                            <i class="iconfont sortedup">&#xe61a;</i>
                                                            <i class="iconfont sorteddown">&#xe619;</i>
                                                        </th>
                                                        <th width="15%" class="sortedth">
                                                            <span class="sortedtext">HTTP 状态码</span>
                                                            <i class="iconfont sortedup">&#xe61a;</i>
                                                            <i class="iconfont sorteddown">&#xe619;</i>
                                                        </th>
                                                        <th width="15%" class="sortedth">
                                                            <span class="sortedtext">首次发生时间</span>
                                                            <i class="iconfont sortedup">&#xe61a;</i>
                                                            <i class="iconfont sorteddown">&#xe619;</i>
                                                        </th>
                                                        <th width="15%" class="sortedth">
                                                            <span class="sortedtext">最后发生时间</span>
                                                            <i class="iconfont sortedup">&#xe61a;</i>
                                                            <i class="iconfont sorteddown">&#xe619;</i>
                                                        </th>
                                                        <th width="15%" class="sortedth">
                                                            <span class="sortedtext">应用版本号</span>
                                                            <i class="iconfont sortedup">&#xe61a;</i>
                                                            <i class="iconfont sorteddown">&#xe619;</i>
                                                        </th>
                                                        <th width="10%" class="sortedth">
                                                            <span class="sortedtext">发生次数</span>
                                                            <i class="iconfont sortedup">&#xe61a;</i>
                                                            <i class="iconfont sorteddown">&#xe619;</i>
                                                        </th>
                                                        <th width="10%" class="sortedth">
                                                            <span class="sortedtext">影响用户数</span>
                                                            <i class="iconfont sortedup">&#xe61a;</i>
                                                            <i class="iconfont sorteddown">&#xe619;</i>
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td class="err-detail"><a href="#">www.baidu.com/</a></td>
                                                        <td>502</td>
                                                        <td>2015-02-03 18:17</td>
                                                        <td>2015-06-02 18:17</td>
                                                        <td>v1.0</td>
                                                        <td>500</td>
                                                        <td>500</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="err-detail"><a href="#">www.baidu.com/</a></td>
                                                        <td>502</td>
                                                        <td>2015-02-03 18:17</td>
                                                        <td>2015-06-02 18:17</td>
                                                        <td>v1.0</td>
                                                        <td>500</td>
                                                        <td>500</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>   
       
    {{/replace}}

     {{#append "scripts"}}
        <!-- page libs -->
        <script src="lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="lib/jquery.sparkline/index.js"></script>

        <script src="lib/backbone/backbone.js"></script>
        <script src="lib/backbone.localStorage/backbone.localStorage-min.js"></script>

        <script src="lib/d3/d3.min.js"></script>
        <script src="lib/nvd3/nv.d3.min.js"></script>

        <script src="lib/jquery-ui/ui/core.js"></script>
        <script src="lib/jquery-ui/ui/widget.js"></script>
        <script src="lib/jquery-ui/ui/mouse.js"></script>
        <script src="lib/jquery-ui/ui/sortable.js"></script>
        <script src="lib/jquery.nestable/jquery.nestable.js"></script>
        <script src="lib/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

        <!-- page application js -->
        <script src="js/component-list-groups.js"></script>

        <!-- daterange picker js -->
         <script src="lib/form-daterangepicker/daterangepicker.js"></script>        
         <!-- DateTime Picker -->
        <script src="lib/form-daterangepicker/moment.min.js"></script> 

        <!-- page application js -->
        <script src="js/daterangepicker.js"></script>
        <script src="js/graph/graph1.js"></script>
        <script src="js/graph/graph2.js"></script>
        <script src="js/graph/graph3.js"></script>
        <script src="js/graph/graph4.js"></script>
        <script src="js/graph/graph5.js"></script>
        <script src="js/graph/graph6.js"></script>
        <script src="js/graph/graph7.js"></script>
        <script src="js/graph/graph8.js"></script>


        <script>
            $(document).ready(function  () {
                //item点击，去除所有active状态，当前点击对象加active，隐藏对象显示，开始tanslate
                $('.dd-handle').click(function  () {
                    var handleParent = $('.dd-handle.active')
                    $('.dd-handle').removeClass("active");
                    $('.dd-item').find('button').removeClass("active");
                    $(this).addClass("active");
                    $(this).parent().find('button').addClass("active");
                    $('.col-lg-8 .float-card').show().addClass("animated fadeInLeftBig");

                    setTimeout(function (){
                        $('.col-lg-8 .float-card').removeClass("animated fadeInLeftBig");
                    },1000);
                    $('.float-card-title').text($(this).find('.bar-text').text());
                });

                $('.float-card .glyphicon-remove').click(function () {
                    $('.float-card').hide();
                    $('.dd-handle').removeClass("active");
                    $('.dd-item').find('button').removeClass("active");
                });
            });
            $(document).ready(function(){
                $('.err-detail').click(function () {
                    $('.col-lg-12 .float-card').show().addClass("animated fadeInRightBig");
                    setTimeout(function (){
                        $('.col-lg-12 .float-card').removeClass("animated fadeInRightBig");
                    },500);
                });
                // $('.col-lg-12 .float-card .glyphicon-remove').click(function () {
                //     $('.col-lg-12 .float-card').hide();
                // });
            })
            


             $('th').click(function(e){
                var a = $(this).find('.sortedup');
                var b = $(this).find('.sorteddown');

                if (a.css('display') == 'none' && b.css('display') == 'none') {
                    a.show();
                }else{
                    if (a.css('display') != 'none') {
                        a.hide();
                        b.show();
                    }else{
                        if (a.css('display') == 'none') {
                            b.hide();
                        }
                    }
                }
                e.stopPropagation();
            })
        </script>
   
    {{/append}}

{{/extend}}