{{#extend "layoutExplorer"}}

    {{#replace "sidebar"}}
        {{> sidebar this conditionClass=conditionClass active="indexD"}}
    {{/replace}}

    {{#replace "app_content"}}
    <div class="row">

        <div class="col-lg-5 col-md-5">
            <h2 class="page-title">
                <span>总览 <small>总览页面</small></span>
            </h2>
        </div>

        <div class="col-lg-7 col-md-7">
            {{#block "picker"}}
                {{> picker }}
            {{/block}}
        </div>
    </div>
       
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-12">
                    <section class="widget">
                        <header>
                            <h4>
                                页面加载时间
                            </h4>
                            <div class="widget-controls">
                                <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            </div>
                        </header>
                        <div class="body no-margin">
                            <div id="visits-chart1" class="chart visits-chart">
                                <svg></svg>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <section class="widget">
                        <header>
                            <h4>
                                <a href="transactionD.html">受访页面</a>                                    
                            </h4>
                            <div class="widget-controls">
                                <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-minus"></i></a>                                   
                            </div>
                        </header>
                        <div class="body">
                            <ol class="dd-list">
                                <li class="trace-item">
                                    <div class="traceList">
                                        <i class="iconfont icon2-dd" style="float: right;">
                                            &#xe613;
                                        </i>
                                        <span style="float: right;">47.99 s</span>
                                        <div class="bar-graph"></div>
                                        <div class="bar-text"><span>SpringController/insert.do (GET)</span></div>
                                    </div>
                                    <div class="trace_value">traces: <a href="transactionD.html">n\a</a></div>
                                </li>
                                <li class="trace-item">
                                    <div class="traceList">
                                        <i class="iconfont icon2-dd" style="float: right;">
                                            &#xe613;
                                        </i>
                                        <span style="float: right;">15.37 s</span>
                                        <div class="bar-graph" style="width:50%"></div>
                                        <div class="bar-text"><span>SpringController/abc.do (GET)</span></div>
                                        
                                    </div>
                                    <div class="trace_value">traces: <a href="transactionD.html">109,568 ms</a><a href="transactionD.html">   109,396 ms</a><a href="transactionD.html">   108,970 ms</a><a href="transactionD.html">   108,558 ms</a><a href="transactionD.html">   107,513 ms</a></div>
                                </li>
                                <li class="trace-item">
                                    <div class="traceList">
                                        <i class="iconfont icon2-dd" style="float: right;">
                                            &#xe613;
                                        </i>
                                        <span style="float: right;">14.77 s</span>
                                        <div class="bar-graph" style="width:30%"></div>
                                        <div class="bar-text"><span>SpringController/splits.do (GET)</span></div>
                                        
                                    </div>
                                    <div class="trace_value">traces: <a href="transactionD.html">112,242 ms</a><a href="transactionD.html">   111,167 ms</a><a href="transactionD.html">   107,892 ms</a><a href="transactionD.html">   106,685 ms</a><a href="transactionD.html">   105,872 ms</a></div>
                                </li>
                            </ol>
                        </div>
                    </section>
                </div>
                <div class="col-lg-6">
                    <section class="widget">
                        <header>
                            <h4>
                                <a href="errorMessage.html">页面吞吐量</a>
                            </h4>
                            <div class="widget-controls">
                                <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            </div>
                        </header>
                        <div class="body no-margin">
                            <div id="visits-chart2" class="chart visits-chart">
                                <svg></svg>
                            </div>
                            
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-md-12">
                    <section class="widget">
                        <header>
                            <h4>
                                Apdex
                            </h4>
                            <div class="widget-controls">
                                <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            </div>
                        </header>
                        <div class="body no-margin">
                            <div id="visits-chart3" class="chart visits-chart">
                                <svg></svg>
                            </div>
                        </div>   
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <section class="widget">
                        <header>
                            <h4>
                                AJAX吞吐量
                            </h4>
                            <div class="widget-controls">
                                <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            </div>
                        </header>
                        <div class="body no-margin">
                            <div id="visits-chart4" class="chart visits-chart">
                                <svg></svg>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>


                
    

    {{/replace}}


    {{#append "scripts"}}
        <!-- page libs -->
        <script>
            $("li").tooltip();
        </script>

        <script src="lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="lib/jquery.sparkline/index.js"></script>

        <script src="lib/backbone/backbone.js"></script>
        <script src="lib/backbone.localStorage/backbone.localStorage-min.js"></script>

        <script src="lib/d3/d3.min.js"></script>
        <script src="lib/nvd3/nv.d3.min.js"></script>

        <!-- daterange picker js -->
        <script src="lib/form-daterangepicker/daterangepicker.js"></script>               
        <!-- DateTime Picker -->
        <script src="lib/form-daterangepicker/moment.min.js"></script> 
        <script src="js/daterangepicker.js"></script>

        <!-- page application js -->
        <script src="js/graph/graph1.js"></script>
        <script src="js/graph/graph2.js"></script>
        <script src="js/graph/graph3.js"></script>
        <script src="js/graph/graph4.js"></script>

         <!-- page libs -->
  
        <script src="js/graph/singlechart1.js"></script>
        <script src="js/graph/singlechart2.js"></script>

        <script>
            $('th').click(function(e){
                var a = $(this).find('.sortedup');
                var b = $(this).find('.sorteddown');

                if (a.css('display') == 'none' && b.css('display') == 'none') {
                    a.show();
                }else{
                    if (a.css('display') != 'none') {
                        a.hide();
                        b.show();
                    }else{
                        if (a.css('display') == 'none') {
                            b.hide();
                        }
                    }
                }
                e.stopPropagation();
            })

            $('#cpuchart').mouseover(function(){
                $('#cputrend').show();
            })
            $('#cpuchart').mouseout(function(){
                $('#cputrend').hide();
            })
            $('#contentchart').mouseover(function(){
                $('#contenttrend').show();
            })
            $('#contentchart').mouseout(function(){
                $('#contenttrend').hide();
            })

            $('.trace-item').click(function(){
            location.href="transactionD.html";
         })
           
        </script>
        
    {{/append}}

{{/extend}}