{{#extend "layout"}}

    {{#replace "sidebar"}}
    <div class="sidebar-hidden">
        {{> sidebar this conditionClass=conditionClass}}
    </div>
    {{/replace}}

    {{#replace "app_content"}}


    
    {{#append "scripts"}}
    <script src="lib/select2/select2.min.js"></script>
    <script src="lib/jquery.maskedinput/jquery.maskedinput.min.js"></script>
    <script src="lib/moment/moment.js"></script>
    <script src="lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="lib/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="lib/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>

    <!-- page application js -->
    <script src="js/forms-wizard.js"></script>

      <script>

            //隐藏sidebar中不需要的部分。
            $('header').hide();
            $('.logo').hide();
            $('.app_status').hide();
            $('.news').hide();

            $(document).ready(

                //登录框弹出,后面背景变模糊,icon才显现出。
            function (){

                // stackBlurCanvasRGBA('canvas',100,100,400,400,10);

                $('#myModal').addClass("in").addClass("show-shadow").show();//可以定义为fadeIn(),show('sow')
                $('.single-widget-container').addClass("blur").animate({opacity: "1"},800);

                //账户设置在此页不隐藏，sidebar按钮不需要显示。
                $('.visible-xs').removeClass('visible-xs').hide();
                $('#account').parent().removeClass('hidden-xs');
                $('#account span').removeClass('hidden-xs');

                // $('.single-widget-container').blurjs({
                //     source: 'body',
                //     radius: 10
                // })
                //tooltip的定位！
                $('.tooltip').each(function () {

                    var tooltip_width = $(this).css("width");
                    console.log(tooltip_width);
                    subpos = tooltip_width.length-2;
                    posleft = -tooltip_width.substr(0,subpos)/2+"px";
                    console.log(subpos);
                    console.log(posleft);
                    $(this).css("margin-left",posleft);
                })

                //登录后(点击登录按钮)
                $('#loginButton').click(
                    function (){

                        //tooltip的定位！
                        $('.tooltip').each(function () {

                            var tooltip_width = $(this).css("width");
                            console.log(tooltip_width);
                            subpos = tooltip_width.length-2;
                            posleft = -tooltip_width.substr(0,subpos)/2+"px";
                            console.log(subpos);
                            console.log(posleft);
                            $(this).css("margin-left",posleft);


                        })

                        if (false){

                            if (!$('#loginButton').hasClass("buttonDisabled")) {

                                var email_type = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;

                                //先判断是否是邮箱的格式，如果不是，相应提示信息显示。如果是判断用户名和密码是否正确：如果不正确，相应提示信息显现；如果正确，就进入。
                                if (email_type.test($('#email').val()) == false){

                                    $('#email-tip').addClass("in");
                                }
                                else {

                                    if ($('#email').val()=='1@qq.com' && $('#password').val()=='12'){

                                        $('#myModal').removeClass("in").removeClass("show-shadow").hide();
                                        $('.single-widget-container').removeClass("blur").addClass("animateBlur");
                                        $('header').show();
                                        $('#nav-left').hide();
                                        $('#nav-right>li:eq(0)').hide();
                                        $('#nav-right>li:eq(1)').hide();
                                        $('.in-footer').show();
                                        $('.news').show();
                                    }
                                    else {
                                        $('#password-tip').addClass("in");
                                        $('.myModalContent').addClass("shake shake-constant shake-horizontal");
                                         setTimeout(function (){
                                            $('.myModalContent').removeClass("shake shake-constant shake-horizontal");
                                         },500);
                                    }
                                }
                            };


                        }
                        else{

                            $('#myModal').removeClass("in").removeClass("show-shadow").hide();
                            $('.single-widget-container').removeClass("blur").addClass("animateBlur");
                            $('header').show();
                            $('.logo').show();
                            $('#nav-left').hide();
                            $('#nav-right>li:eq(0)').hide();
                            $('#nav-right>li:eq(1)').hide();
                            $('.in-footer').show();
                            $('.news').show();
                        }

                    });


                //注册和登录的切换
                $('#sign-in').click(
                    function (){
                        event.preventDefault();
                        var text = $('#sign-in').children().html();
                        if (text=="尚未注册？") {
                            $('.form-sign-in').show();
                            $('.form-login').hide();
                            $('.form-forget-psw').hide();
                            $('#sign-in').children().html("已有账号？");
                            $('#forget-psw').hide();
                            $('.login-modal').removeClass("login-modal").addClass("sign-modal");
                            $('#modal-title').text("注册  OneAPM");
                        }
                        else if (text=="已有账号？"){
                            $('.form-sign-in').hide();
                            $('.form-login').show();
                            $('.form-forget-psw').hide();
                            $('#sign-in').children().html("尚未注册？");
                            $('#forget-psw').show();
                            $('.sign-modal').removeClass("sign-modal").addClass("login-modal");
                            $('#modal-title').text("登录 OneAPM");
                        }
                    });

                //忘记密码 和 登录的切换
                $('#forget-psw').click(function  () {
                    event.preventDefault();
                    var text = $('#forget-psw').children().html();
                    if (text == "忘记密码？") {

                        $('#forget-psw').children().html("返回登录");
                        $('.form-forget-psw').show();
                        $('.form-login').hide();
                        $('.form-sign-in').hide();
                        $('.login-modal').removeClass("login-modal").addClass("sign-modal");
                        $('#modal-title').text("找回密码");

                    }else if(text=="返回登录"){
                        $('#forget-psw').children().html("忘记密码？");
                        $('.form-login').show();
                        $('.form-forget-psw').hide();
                        $('.form-sign-in').hide();
                        $('.sign-modal').removeClass("sign-modal").addClass("login-modal");
                         $('#modal-title').text("登录 OneAPM");
                    }
                    
                })
                
                //忘记密码提交邮箱
                $('#mail-find-psw').click(function  () {
                    var email_type = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
                    var  input = $('#email-forget').val();
                    if (email_type.test(input) == false){
                        $('.validate-message').addClass("active");
                    }else{
                        $('#find-psw1').removeClass("active");
                        $('#find-psw2').addClass("active");
                        $('#find-psw .next').hide();             
                    }
                })

                //输入框监听
                $('#email-forget').focus(function  () {
                    $('.validate-message').removeClass("active");
                });

                //重新发送
                $('#repeat-send').click(function  () {
                    $('#find-psw1').addClass("active");
                    $('#find-psw2').removeClass("active");
                    $('#find-psw .next').show();
                })
                
                //登录的交互，判空登录按钮的变化
                $('#email').keydown(function(){

                    if (($('#email').val()!="")&&($('#password').val()!="")){
                        $('#loginButton').removeClass("buttonDisabled");
                    }

                    if (($('#email').val()=="")||($('#password').val()=="")){
                        $('#loginButton').addClass("buttonDisabled");
                    }

                    $('#email-tip').removeClass("in");
                    $('#password-tip').removeClass("in");

                });

                $('#password').keydown(function(){

                    if (($('#email').val()!="")&&($('#password').val()!="")){
                        $('#loginButton').removeClass("buttonDisabled");
                    }

                     if (($('#email').val()=="")||($('#password').val()=="")){
                        $('#loginButton').addClass("buttonDisabled");
                    }

                    $('#email-tip').removeClass("in");
                    $('#password-tip').removeClass("in");

                });

                $('.form-wizard a').click(function (){
                    var href = $(this).attr("href");
                    if(href == "#tab3"){
                        $('#ignore').show();
                    }else{
                        $('#ignore').hide();
                    }
                });

                $('.news-light').click(function  () {
                    $('.news').toggleClass("active");
                });


            });

            
    </script> 

    {{/append}}

    <div class="single-widget-container none-opacity" id="srcimg">
        <div class="row headOne">
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
                <a href="application_list.html">
                    <div class="headOneIcon">
                        <div class="headOneIconImg">
                            <i class="icon iconfont">&#xe63a;</i>
                        </div>
                        <div class="headOneIconText">Application Insight</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
                <a href="broswer_list.html">
                    <div class="headOneIcon">
                        <div class="headOneIconImg">
                            <i class="icon iconfont">&#xe63b;</i>
                        </div>
                        <div class="headOneIconText">Browser Insight</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
                <a href="overviewMob.html">
                    <div class="headOneIcon">
                        <div class="headOneIconImg">
                            <i class="icon iconfont">&#xe63c;</i>
                        </div>
                        <div class="headOneIconText">Mobile Insight</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
                <a href="keytransaction_list.html">
                    <div class="headOneIcon">
                        <div class="headOneIconImg">
                            <i class="icon iconfont">&#xe602;</i>
                        </div>
                        <div class="headOneIconText">关键事务</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
                <a href="#">
                    <div class="headOneIcon">
                        <div class="headOneIconImg">
                            <i class="icon iconfont">&#xe617;</i>
                        </div>
                        <div class="headOneIconText">服务器</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
                <a href="account.html">
                    <div class="headOneIcon">
                        <div class="headOneIconImg">
                            <i class="icon iconfont">&#xe605;</i>
                        </div>
                        <div class="headOneIconText">系统设置</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelleby="myModallabel" aria-hidden="true">
        <div class="modal-dialog login-modal" id="myModalDialog">
            <div class="modal-content myModalContent">
                <div class="modal-header myModalHeader">
                    <i class="iconfont login-icon">&#xe616;</i>
                    <p><span id="modal-title">登录 OneAPM</span></p>
                </div>
                <div class="modal-body myModalBody">
                    <form class="no-margin form-login" action="index.html" method="get" id="validation-form" data-parsley-priority-enabled="false"
                              novalidate="novalidate">
                        <fieldset>
                            <div class="form-group form-login">
                                <div class="input-group input-group-lg myInputGroup">
                                    <input id="email" type="email" class="form-control input-lg input-transparent" placeholder="账号">
                                    <div class="tooltip fade bottom tooltip_login" id="email-tip">
                                        <div class="arrow_tooltip"></div>
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        <span class="tip-content"> 用户名不是邮箱的格式哟！</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-login">
                                <div class="input-group input-group-lg myInputGroup">
                                    <input id="password" type="password" class="form-control input-lg input-transparent" placeholder="密码">
                                    <i class="fa fa-sign-in loginButton buttonDisabled" id="loginButton"></i>
                                    <div class="tooltip fade bottom tooltip_login" id="password-tip">
                                        <div class="arrow_tooltip"></div>
                                        <span class="glyphicon glyphicon-exclamation-sign "></span>
                                        <span class="tip-conetent"> 用户名或密码不正确哟！请修改！</span>
                                    </div>
                                </div>
                            </div>
                             <div class="form-group form-login">
                                <div class="input-group input-group-lg myInputGroup home-button">
                                    <div class="remember checkbox">
                                        <input id="remember-box" type="checkbox" value="1" name="remember">
                                        <label for="remember-box"> 保持我的登录状态</label>
                                    </div>
                                    {{!-- <span class="loginButton buttonDisabled" id="loginButton">登录</span> --}}
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-sign-in">
                        <section class="widget">
                            <header>
                            </header>
                            <div class="body">
                                <div id="wizard" class="form-wizard">
                                    <ul class="wizard-navigation nav-justified">
                                        <li><a href="#tab1" data-toggle="tab"><small>1.</small> <strong>基本</strong></a></li>
                                        <li><a href="#tab2" data-toggle="tab"><small>2.</small> <strong>信息</strong></a></li>
                                        <li><a href="#tab3" data-toggle="tab"><small>3.</small> <strong>邀请</strong></a></li>
                                        <li><a href="#tab4" data-toggle="tab"><small>4.</small> <strong>验证</strong></a></li>
                                    </ul>
                                    <div id="bar" class="progress progress-small">
                                        <div class="progress-bar progress-bar-inverse"></div>
                                    </div>
                                    <div class="tab-content">
                                        <div class="tab-pane" id="tab1">
                                            <form class="form-horizontal mt-md" action='' method="POST">
                                                <fieldset>
                                                    <div class="form-group">
                                                        <!-- Email -->
                                                        <div class="col-md-8 col-sm-8 col-xs-10 col-md-offset-2 col-sm-offset-2 col-xs-offset-1">
                                                            <input type="text" id="email-sign" name="email-sign"
                                                                   placeholder="邮箱" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <!-- password -->
                                                        <div class="col-md-8 col-sm-8 col-xs-10 col-md-offset-2 col-sm-offset-2 col-xs-offset-1">
                                                            <input type="password" id="password-sign" name="password-sign" placeholder="密码" class="form-control">
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                        <div class="tab-pane" id="tab2">
                                            <form class="form-horizontal mt-md" action='' method="POST">
                                                <fieldset>
                                                    <div class="form-group">
                                                        <!-- Username -->
                                                        <div class="col-md-8 col-sm-8 col-xs-10 col-md-offset-2 col-sm-offset-2 col-xs-offset-1">
                                                            <input type="text" id="username-sign" name="username-sign" placeholder="姓名" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <!-- company -->
                                                        <div class="col-md-8 col-sm-8 col-xs-10 col-md-offset-2 col-sm-offset-2 col-xs-offset-1">
                                                            <input type="text" id="company" name="company"
                                                                   placeholder="公司名称" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <!-- phone -->
                                                        <div class="col-md-8 col-sm-8 col-xs-10 col-md-offset-2 col-sm-offset-2 col-xs-offset-1">
                                                            <input type="text" id="phone" name="phone"
                                                                   placeholder="联系方式" class="form-control">
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                        <div class="tab-pane" id="tab3">
                                            <form class="form-horizontal mt-md" action='' method="POST">
                                               <div class="form-group">
                                                    <!-- emails of colleague -->
                                                    <h4 class="control-label col-md-12 col-sm-12 emails-co-text"  for="emails-co" style="margin-top: 0px;padding-top: 0px;">同事邮箱</h4>
                                                    <label class="control-label col-md-12 col-sm-12  emails-co-text" for="emails-co">可同时邀请多名同事，邮箱间请用空格键区隔</label>
                                                    <div class="col-md-10 col-md-offset-1 col-sm-10 col-xs-12 col-sm-offset-1">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <textarea rows="4" class="form-control input-transparent" id="emails-co" name="emails-co"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane" id="tab4">
                                            <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-center">
                                                <div class="validating">
                                                    <h4 class="mb-lg" style="margin-top: 5px;padding-top: 0px;">验证邮箱已发送至&nbsp;chengmo@oneapm.com</h4>
                                                    <p class="mb-lg">若未收到验证邮件，请检查您的垃圾邮箱或</p>
                                                    <button class="btn btn-info" id="repeat-btn">重新发送<i class="fa fa-repeat"></i></button>
                                                </div>
                                                {{!-- <div class="validated">
                                                    <h3 class="mb-lg" style="margin-top: 15px;">恭喜您，已完成账号验证</h3>
                                                </div> --}}
                                            </div>
                                        </div>
                                        <div class="description ml mr mt-n-md">
                                            <ul class="pager wizard">
                                                <li class="previous">
                                                    <button class="btn btn-primary pull-left"><i class="fa fa-caret-left"></i> 上一步</button>
                                                </li>
                                                <li class="next">
                                                    <button class="btn btn-primary" >下一步 <i class="fa fa-caret-right"></i></button>
                                                    <a id="ignore">跳过 <i class="fa fa-caret-right"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-forget-psw">
                        <section class="widget">
                            <div class="body">
                                <div id="find-psw" class="form-wizard">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="find-psw1">
                                            <form class="form-horizontal mt-md" action='' method="POST">
                                                <fieldset>
                                                    <div class="form-group">
                                                        <!-- Email -->
                                                        <div class="col-md-8 col-sm-8 col-xs-10 col-md-offset-2 col-sm-offset-2 col-xs-offset-1">
                                                            <input type="text" id="email-forget" name="email-forget"
                                                                   placeholder="输入注册邮箱" class="form-control">
                                                            <p class="validate-message text-warning">账号输入有误或不存在</p>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                        <div class="tab-pane"  id="find-psw2">
                                            <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-center">
                                                <div class="validating">
                                                    <h4 class="mb-lg" style="margin-top: 5px;padding-top: 0px;">密码重置邮件已发送至&nbsp;chengmo@oneapm.com</h4>
                                                    <p class="mb-lg">若未收到验证邮件，请检查您的垃圾邮箱或</p>
                                                    <button class="btn btn-info" id="repeat-send">重新发送<i class="fa fa-repeat"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="description ml mr mt-n-md">
                                            <ul class="pager wizard">
                                                <li class="next">
                                                    <button class="btn btn-primary" id="mail-find-psw">提交 <i class="fa fa-caret-right"></i></button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>    
                    </div>
               </div>               
            </div>
        </div>
        <div class="home-footer">
            <a href="#" id="forget-psw"><span>忘记密码？</span></a>
            <a href="#" id="sign-in"><span>尚未注册？</span></a>
        </div>
    </div>

    <div class="navbar in-footer">
        <ul >
            <li><a href="#"><span>官方网站</span></a></li>
            <li class="divider"></li>
            <li><a href="#"><span>帮助中心</span></a></li>
            <li class="divider"></li>
            <li><a href="#"><span>客户隐私政策</span></a></li>
            <li class="divider"></li>
            <li><a href="#"><span>条款与条件</span></a></li>
        </ul>
    </div>
    <div class="news">
        <div class="news-light">
            <p><i class="iconfont icon1" style="margin-right: 5px;">&#xe639;</i> 最近更新</p>
        </div>
        <div class="news-content">
           <ul class="news-lists">
                <li><span class="news-time">2015-04-23</span><a href="#" class="pull-right">Java Agent 更新至 v3.1.1</a></li>
                <li><span class="news-time">2015-03-13</span><a href="#" class="pull-right">Node.js Agent 更新至 v3.1.0</a></li>
                <li><span class="news-time">2015-01-23</span><span class="pull-right">Python Agent 更新至 v2.1.1</span></li>
                <li><span class="news-time">2015-01-23</span><span class="pull-right">iOS Agent 更新至 v1.1.1</span></li>
                <li><span class="news-time">2015-01-23</span><a href="#" class="pull-right">Android Agent 更新至 v3.1.1</a></li>
           </ul>
        </div>
    </div>

    <div class="loader-wrap hiding hide">
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>

    

    {{/replace}}

{{/extend}}