{{#extend "layoutMob"}}

    {{#replace "sidebarMob"}}
        {{> sidebarMob this conditionClass=conditionClass active="interMob"}}
    {{/replace}}

    {{#replace "app_content"}}
    <div class="row">

        <div class="col-lg-5 col-md-5">
            <h2 class="page-title"><span>交互 <small>交互界面</small></span></h2>
        </div>

        <div class="col-lg-7 col-md-7">
            {{#block "picker"}}
                {{> picker }}
            {{/block}}
        </div>
    </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-md-12">
                        <section class="widget widget-tabs">
                            <header>
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#interactions" data-toggle="tab" style="font-size:14px; font-weight: 500">Interactions</a>
                                    </li>
                                    <li>
                                        <a href="#webview" data-toggle="tab" style="font-size:14px; font-weight: 500">WebViews</a>
                                    </li>
                                </ul>
                            </header>
                            <div class="body tab-content">
                                <div id="interactions" class="tab-pane active clearfix">

                                    <div class="body" style="background-color:transparent; padding:0;">
                                        <ul id="myTab" class="nav nav-tabs">
                                            <li class="active"><a href="#averTime" data-toggle="tab" class="tabItem">平均响应时间</a></li>
                                            <li><a href="#excuTime" data-toggle="tab" class="tabItem">执行时间</a></li>
                                            <li><a href="#visNum" data-toggle="tab" class="tabItem">访问次数</a></li>
                                        </ul>
                                        <div id="myTabContent" class="tab-content" >
                                            <div class="tab-pane fade in active" id="averTime">
                                                <div class="dd" >
                                                    <ol class="dd-list">
                                                        <li class="dd-item dd-collapsed">
                                                           <div class="dd-handle">
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <div class="bar-graph" style="width:90%"></div>
                                                                <div class="bar-text">
                                                                    <span>users-insert</span>
                                                                    <span style="float: right;">5.43 ms</span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item dd-collapsed">
                                                           <div class="dd-handle">
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <div class="bar-graph" style="width:10%"></div>
                                                                <div class="bar-text">
                                                                    <span>users-update</span>
                                                                    <span style="float: right;">0.43 ms</span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ol>
                                                </div>
                                            </div>
                                           
                                            <div class="tab-pane fade" id="excuTime">
                                                <div class="dd">
                                                    <ol class="dd-list">
                                                        <li class="dd-item dd-collapsed">
                                                            <div class="dd-handle">
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <div class="bar-graph" style="width:95%"></div>
                                                                <div class="bar-text">
                                                                    <span>users-insert</span>
                                                                    <span style="float: right;">196,333 cpm</span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item dd-collapsed">
                                                            <div class="dd-handle">
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                
                                                                <div class="bar-graph" style="width:5%"></div>
                                                                <div class="bar-text">
                                                                    <span>users-update</span>
                                                                    <span style="float: right;">333 cpm</span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="visNum">
                                                <div class="dd">
                                                    <ol class="dd-list">
                                                        <li class="dd-item dd-collapsed">
                                                            <div class="dd-handle">
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <div class="bar-graph" style="width:95%"></div>
                                                                <div class="bar-text">
                                                                    <span>users-insert</span>
                                                                    <span style="float: right;">196,333 cpm</span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item dd-collapsed" data-id="1">
                                                            <div class="dd-handle">
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                
                                                                <div class="bar-graph" style="width:5%"></div>
                                                                <div class="bar-text">
                                                                    <span>users-update</span>
                                                                    <span style="float: right;">333 cpm</span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                               
                                </div>
                                <div id="webviews" class="tab-pane clearfix">

                                    <div class="body" style="background-color:transparent; padding:0;">
                                        <ul id="myTab" class="nav nav-tabs">
                                            <li class="active"><a href="#averTime" data-toggle="tab" class="tabItem">平均时间</a></li>
                                            <li><a href="#excuTime" data-toggle="tab" class="tabItem">执行时间</a></li>
                                            <li><a href="#visNum" data-toggle="tab" class="tabItem">访问次数</a></li>
                                        </ul>
                                        <div id="myTabContent" class="tab-content" >
                                            <div class="tab-pane fade in active" id="averTime">
                                                <div class="dd">
                                                    <ol class="dd-list">
                                                        <li class="dd-item dd-collapsed">
                                                           <div class="dd-handle">
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <div class="bar-graph" style="width:90%"></div>
                                                                <div class="bar-text">
                                                                    <span>users-insert</span>
                                                                    <span style="float: right;">5.43 ms</span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item dd-collapsed">
                                                           <div class="dd-handle">
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <div class="bar-graph" style="width:10%"></div>
                                                                <div class="bar-text">
                                                                    <span>users-update</span>
                                                                    <span style="float: right;">0.43 ms</span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ol>
                                                </div>
                                            </div>
                                           
                                            <div class="tab-pane fade" id="excuTime">
                                                <div class="dd" id="nestable2">
                                                    <ol class="dd-list">
                                                        <li class="dd-item dd-collapsed">
                                                            <div class="dd-handle">
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <div class="bar-graph" style="width:95%"></div>
                                                                <div class="bar-text">
                                                                    <span>users-insert</span>
                                                                    <span style="float: right;">196,333 cpm</span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item dd-collapsed" data-id="1">
                                                            <div class="dd-handle">
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                
                                                                <div class="bar-graph" style="width:5%"></div>
                                                                <div class="bar-text">
                                                                    <span>users-update</span>
                                                                    <span style="float: right;">333 cpm</span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="visNum">
                                                <div class="dd" id="nestable2">
                                                    <ol class="dd-list">
                                                        <li class="dd-item dd-collapsed">
                                                            <div class="dd-handle">
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <div class="bar-graph" style="width:95%"></div>
                                                                <div class="bar-text">
                                                                    <span>users-insert</span>
                                                                    <span style="float: right;">196,333 cpm</span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item dd-collapsed" data-id="1">
                                                            <div class="dd-handle">
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                
                                                                <div class="bar-graph" style="width:5%"></div>
                                                                <div class="bar-text">
                                                                    <span>users-update</span>
                                                                    <span style="float: right;">333 cpm</span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                   
                                </div>                               
                            </div>
                        </section>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="row basic-card">
                    <div class="col-md-12">
                         <section class="widget">
                            <header>
                                <h4>
                                    平均执行时间
                                </h4>
                                <div class="widget-controls">
                                    <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                    <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                                </div>
                            </header>
                            <div class="body no-margin">
                                <div id="visits-chart1" class="chart visits-chart">
                                    <svg></svg>
                                </div>
                            </div>
                        </section>

                    </div> 

                </div>
                <div class="row basic-card">
                    <div class="col-md-12">
                         <section class="widget">
                            <header>
                                <h4>
                                    执行次数
                                </h4>
                                <div class="widget-controls">
                                    <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                    <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                                </div>
                            </header>
                            <div class="body no-margin">
                                <div id="visits-chart2" class="chart visits-chart">
                                    <svg></svg>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row basic-card">
                    <div class="col-md-12">
                        <section class="widget">
                            <header>
                               <h4>Traces</h4>
                            </header>
                            <div class="body">
                                <table class="table table-striped table-hover no-margin sources-table">
                                    <thead>
                                    <tr>
                                        <th width="60%" style="text-align: left;" class="sortedth">
                                            <span class="sortedtext">名称</span>
                                            <i class="iconfont sortedup" style="display:none">&#xe61a;</i>
                                            <i class="iconfont sorteddown" style="display:none">&#xe619;</i>
                                        </th>
                                        <th width="30%" style="text-align: left;" class="sortedth">
                                            <span class="sortedtext">时间戳</span>
                                            <i class="iconfont sortedup" style="display:none">&#xe61a;</i>
                                            <i class="iconfont sorteddown" style="display:none">&#xe619;</i>
                                        </th>
                                        <th width="10%" style="text-align: left;" class="sortedth">
                                            <span class="sortedtext">耗时</span>
                                            <i class="iconfont sortedup" style="display:none">&#xe61a;</i>
                                            <i class="iconfont sorteddown" style="display:none">&#xe619;</i>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Database/wp_posts/select</td>
                                        <td>2015-02-06 10:24:04</td>
                                        <td>2ms</td>
                                    </tr>
                                    <tr>
                                        <td>Database/wp_posts/select</td>
                                        <td>2015-02-06 10:23:04</td>
                                        <td>2ms</td>
                                    </tr>
                                    <tr>
                                        <td>Database/wp_posts/select</td>
                                        <td>2015-02-06 10:24:04</td>
                                        <td>2ms</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="row  float-card">
                    <div class="col-md-12">
                        <section class="widget">
                            <header>
                                <span class="float-card-title">Title</span>
                                <span class="glyphicon glyphicon-remove pull-right"></span>
                            </header>
                            <div class="body">
                                 <section class="widget inner-widget">
                                    <header>
                                        <h4>
                                            UI Thread Breakdown
                                        </h4>
                                    </header>
                                    <div class="body no-margin">
                                        <div id="visits-chart4" class="chart visits-chart">
                                            <svg></svg>
                                        </div>
                                        
                                    </div>
                                </section>

                                <section class="widget inner-widget">
                                    <header>
                                        <h4>
                                            Worker Thread Breakdown
                                        </h4>
                                    </header>
                                    <div class="body no-margin">
                                        <div id="visits-chart5" class="chart visits-chart">
                                            <svg></svg>
                                        </div>
                                       
                                    </div>
                                </section>

                                <section class="widget inner-widget">
                                    <header>
                                       <h4>Traces</h4>
                                    </header>
                                    <div class="body body-for-table">
                                        <table class="table table-striped table-hover no-margin sources-table">
                                            <thead>
                                            <tr>
                                                <th width="50%" style="text-align: left;" class="sortedth">
                                                    <span class="sortedtext">名称</span>
                                                    <i class="iconfont sortedup" style="display:none">&#xe61a;</i>
                                                    <i class="iconfont sorteddown" style="display:none">&#xe619;</i>
                                                </th>
                                                <th width="16%" style="text-align: left;" class="sortedth">
                                                    <span class="sortedtext">访问次数</span>
                                                    <i class="iconfont sortedup" style="display:none">&#xe61a;</i>
                                                    <i class="iconfont sorteddown" style="display:none">&#xe619;</i>
                                                </th>
                                                <th width="16%" style="text-align: left;" class="sortedth">
                                                    <span class="sortedtext">响应时间</span>
                                                    <i class="iconfont sortedup" style="display:none">&#xe61a;</i>
                                                    <i class="iconfont sorteddown" style="display:none">&#xe619;</i>
                                                </th>
                                                <th width="18%" style="text-align: left;" class="sortedth">
                                                    <span class="sortedtext">吞吐量 </span>
                                                    <i class="iconfont sortedup" style="display:none">&#xe61a;</i>
                                                    <i class="iconfont sorteddown" style="display:none">&#xe619;</i>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>SpringController/insert.do (GET)</td>
                                                <td>6700000</td>
                                                <td>5.76 ms</td>
                                                <td>223,333.33cpm</td>
                                            </tr>
                                            <tr>
                                                <td>SpringController/splits.do (GET)</td>
                                                <td>33000</td>
                                                <td>6.33 ms</td>
                                                <td>1,100.00cpm</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>

       
    {{/replace}}

     {{#append "scripts"}}
        <!-- page libs -->
        <script src="lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="lib/jquery.sparkline/index.js"></script>

        <script src="lib/backbone/backbone.js"></script>
        <script src="lib/backbone.localStorage/backbone.localStorage-min.js"></script>

        <script src="lib/d3/d3.min.js"></script>
        <script src="lib/nvd3/nv.d3.min.js"></script>
        <!-- page template -->


        <!-- daterange picker js -->
        <script src="lib/form-daterangepicker/daterangepicker.js"></script>              
        <!-- DateTime Picker -->
        <script src="lib/form-daterangepicker/moment.min.js"></script> 

        <!-- page application js -->
        <script src="js/daterangepicker.js"></script>
        <script src="js/graph/graph3.js"></script>
        <script src="js/graph/graph1.js"></script>
        <script src="js/graph/graph2.js"></script>
        <script src="js/graph/graph4.js"></script>
        <script src="js/graph/graph5.js"></script>

        <script>
            $(document).ready(function  () {
                //item点击，去除所有active状态，当前点击对象加active，隐藏对象显示，开始tanslate
                $('.dd-item').click(function  () {

                    $('.dd-handle').removeClass("active");

                    $(this).find('.dd-handle').addClass("active");

                    $('.float-card').show().addClass("animated fadeInLeftBig");


                    setTimeout(function (){     
                         $('.float-card').removeClass("animated fadeInLeftBig");
                     },1000);

                    $('.float-card-title').text($(this).find('.bar-text').text());
                });

                $('.float-card .glyphicon-remove').click(function  () {
                    $('.float-card').hide();
                    $('.dd-handle').removeClass("active");
                });

            });

             $('th').click(function(e){
                var a = $(this).find('.sortedup');
                var b = $(this).find('.sorteddown');

                if (a.css('display') == 'none' && b.css('display') == 'none') {
                    a.show();
                }else{
                    if (a.css('display') != 'none') {
                        a.hide();
                        b.show();
                    }else{
                        if (a.css('display') == 'none') {
                            b.hide();
                        }
                    }
                }
                e.stopPropagation();
            })
        </script>
        
    {{/append}}

{{/extend}}