{{#extend "layout"}}

    {{#replace "sidebar"}}
        {{> sidebar this conditionClass=conditionClass active="jvms"}}
    {{/replace}}

    {{#replace "app_content"}}
     
     <div class="row">

         <div class="col-lg-5 col-md-5">
             <h2 class="page-title"><span>JVMs <small>Jvms 界面</small></span></h2>
         </div>

         <div class="col-lg-7 col-md-7">
             {{#block "picker"}}
                 {{> picker }}
             {{/block}}
         </div>
     </div>
     <div class="row">
        <div class="col-lg-12">
                <section class="widget widget-tabs">
                    <header class="card-header">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#memory" data-toggle="tab">内存</a>
                            </li>
                            <li>
                                <a href="#thread" data-toggle="tab">线程</a>
                            </li>
                            <li>
                                <a href="#session" data-toggle="tab">会话</a>
                            </li>
                            
                        </ul>
                    </header>
                    <div class="body tab-content" style="padding: 17px;">
                        <div id="memory" class="tab-pane active clearfix">
                        	<div class="row">
                        		<div class="col-lg-12">
                        			<div class="row">
	                        			<div class="col-lg-6" style="padding-right:10px">
	                            			<section class="widget inner-widget">
					                            <header>
					                                <h4>
					                                    Heap memory usage (MB)
					                                    
					                                </h4>
					                                
					                            </header>
					                            <div class="body no-margin" style="background: rgba(51, 51, 51, 0);">
					                                <div id="visits-chart1" class="chart visits-chart">
					                                    <svg></svg>
					                                </div>
					                                
					                            </div>
	            							</section>
			                            </div>
			                            <div class="col-lg-6" style="padding-left:10px">
	                            			<section class="widget inner-widget">
					                            <header>
					                                <h4>
					                                    Heap memory usage (MB)
					                                    
					                                </h4>
					                                
					                            </header>
					                            <div class="body no-margin" style="background: rgba(51, 51, 51, 0);">
					                                <div id="visits-chart2" class="chart visits-chart">
					                                    <svg></svg>
					                                </div>
					                                
					                            </div>
	            							</section>
			                            </div>
	                        		</div>
	                        		<div class="row">
	                        			<div class="col-lg-6" style="padding-right:10px">
                                			<section class="widget inner-widget">
					                            <header>
					                                <h4>
					                                    Garbage collection (MB)
					                                </h4>
					                                
					                            </header>
					                            <div class="body no-margin" style="background: rgba(51, 51, 51, 0);">
					                                <div id="visits-chart3" class="chart visits-chart">
					                                    <svg></svg>
					                                </div>
					                                
					                            </div>
                							</section>
                                		</div>
                                		<div class="col-lg-6" style="padding-left:10px">
                                			<section class="widget inner-widget">
					                            <header>
					                                <h4>
					                                   Class count (MB)
					                                    
					                                </h4>
					                                
					                            </header>
					                            <div class="body no-margin" style="background: rgba(51, 51, 51, 0);">
					                                <div id="visits-chart4" class="chart visits-chart">
					                                    <svg></svg>
					                                </div>
					                                
					                            </div>
                							</section>
                                		</div>

	                        		</div>
                        		</div>
                        	</div>
                           
                        </div>
                        <div class="tab-pane fade" id="thread">
                            <div class="row">
                        		<div class="col-lg-12">
                        			<section class="widget">
			                            <header>
			                                <h4>
			                                    Heap memory usage (MB)
			                                    
			                                </h4>
			                               
			                            </header>
			                            <div class="body no-margin" style="background: rgba(51, 51, 51, 0);">
			                                <div id="visits-chart5" class="chart visits-chart">
			                                    <svg></svg>
			                                </div>
			                                
			                            </div>
        							</section>

                        		</div>
                        	</div>
                        </div>
                        <div class="tab-pane fade in active" id="session">
                            
                        </div>
                       
		                     
                        
                    </div>
                </section>
        </div>
     </div>


		
 {{/replace}}

     {{#append "scripts"}}
        <!-- page libs -->
        <script src="lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="lib/jquery.sparkline/index.js"></script>

        <script src="lib/backbone/backbone.js"></script>
        <script src="lib/backbone.localStorage/backbone.localStorage-min.js"></script>

        <script src="lib/d3/d3.min.js"></script>
        <script src="lib/nvd3/nv.d3.min.js"></script>

        <script src="js/graph/graph1.js"></script>
        <script src="js/graph/graph3.js"></script>
        <script src="js/graph/graph4.js"></script>
   		<script src="js/graph/graph2.js"></script>
        <script src="js/graph/graph5.js"></script>

        <script src="lib/form-daterangepicker/daterangepicker.js"></script>                  <!-- Date Range Picker -->
         <!-- DateTime Picker -->
        <script src="lib/form-daterangepicker/moment.min.js"></script> 

        <!-- page application js -->
        <script src="js/daterangepicker.js"></script>
   
    {{/append}}

{{/extend}}