{{#extend "mobileLayout"}}

    {{#replace "sidebar"}}
    <div class="sidebar-hidden">
        {{> sidebar this conditionClass=conditionClass}}
    </div>
    {{/replace}}

    {{#replace "app_content"}}
        <div id="myModal" class="modal fade modal-mobile" tabindex="-1" role="dialog" aria-labelleby="myModallabel" aria-hidden="true">
            <div class="modal-dialog sign-modal" id="myModalDialog">
                <div class="modal-content myModalContent">
                    <div class="modal-header myModalHeader">
                        <i class="iconfont login-icon">&#xe616;</i>
                        <p><span id="modal-title">注册 OneAPM</span></p>
                    </div>
                    <div class="modal-body myModalBody">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <section class="widget transparentbg-widget">
                                <header>
                                </header>
                                <div class="body">
                                    <form action="" class="form-horizontal mt-md">
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2 col-xs-offset-0">
                                                    <input type="text" class="form-control input-lg" placeholder="邮箱">
                                                    <p class="validation-message">该项不能为空</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2 col-xs-offset-0">
                                                    <input type="password" class="form-control input-lg" placeholder="登录密码">
                                                    <p class="validation-message">该项不能为空</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2 col-xs-offset-0">
                                                    <input type="text" class="form-control input-lg" placeholder="姓名">
                                                    <p class="validation-message">该项不能为空</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2 col-xs-offset-0">
                                                    <input type="text" class="form-control input-lg" placeholder="企业名称">
                                                    <p class="validation-message">该项不能为空</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2 col-xs-offset-0">
                                                    <input type="text" class="form-control input-lg" placeholder="手机号码" id="phone">
                                                    <p class="validation-message">该项不能为空</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2 col-xs-offset-0">
                                                    <div class="send-btn text-center">
                                                        <button class="btn btn-md btn-info pull-left inline-btn" type="button">获取短信验证码</button>
                                                        <input type="text" class="form-control input-lg pull-right inline-input small-padding-input-lg" disabled="disabled" placeholder="短信验证码" id="checkcode-input">
                                                        <p class="validation-message">该项不能为空</p>
                                                    </div>
                                                    <div class="repeat-btn">
                                                        <span>验证码已发送</span>
                                                        <button class="btn btn-info pull-right btn-md">重新发送</button>
                                                        <span class="count-time pull-right">10s后 </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2 col-xs-offset-0 text-center">
                                                    <button class="btn btn-md btn-success btn-lg-mobile btn-whole" disabled="disabled" id="mobile-sign" type="button">注册</button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </section>
                        </div>
                   </div>               
                </div>
            </div>
        </div>
        <div class="mobile-footer">
            <a href="index.html" id="back"><span class="only-link">已有账号？</span></a>
        </div>
    {{/replace}}

    {{#append "scripts"}}
    <script src="lib/select2/select2.min.js"></script>
    <script src="lib/jquery.maskedinput/jquery.maskedinput.min.js"></script>
    <script src="lib/moment/moment.js"></script>
    <script src="lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="lib/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script>
        (function(){
            $('header').hide();
            $('.logo').hide();
            $('.app_status').hide();
            $('#myModal').addClass("in").addClass("show-shadow").show();
        })();

        $(document).ready(function  () {
            $('.send-btn button').click(function  () {
                if($('#phone').val() != ""){
                    $(this).text("重新发送 20s");
                    $(this).next().removeAttr("disabled");
                }else{
                    $('#phone').next().show();
                }
                
            });

            $('#checkcode-input').keydown(function  () {
                if ($(this).val() >= 0){
                    $('#mobile-sign').removeAttr("disabled");
                }
            });

            $('#mobile-sign').click(function(){
                $(this).closest("form").find('input').each(function(){
                    if($(this).val()==""){
                        $(this).next().show();
                    }
                });
            });

            $('input').focus(function  () {
                $(this).next().hide();
            });



        });
    </script>
    {{/append}}
{{/extend}}