{{#extend "layoutMob"}}

    {{#replace "sidebarMob"}}
        {{> sidebarMob this conditionClass=conditionClass active="OSMob"}}
    {{/replace}}

    {{#replace "app_content"}}
     
     <div class="row">

         <div class="col-lg-5 col-md-5">
             <h2 class="page-title">
                <span>操作系统 <small>按操作系统查看性能</small></span>
             </h2>
         </div>

         <div class="col-lg-7 col-md-7">
             {{#block "picker"}}
                 {{> picker }}
             {{/block}}
         </div>
     </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-md-12">
                       <section class="widget widget-tabs">
                        <header class="card-header">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#dev" data-toggle="tab">操作系统版本
                                    </a>
                                </li>
                            </ul>
                        </header>
                        <div class="body tab-content">
                            <div id="dev" class="tab-pane active clearfix">
                                <div class="body tr-body">
                                    <ul id="myTab" class="nav nav-tabs">
                                        <li class="active"><a href="#interTime" data-toggle="tab" class="tabItem">交互时间</a></li>
                                        <li><a href="#htReTime" data-toggle="tab" class="tabItem">HTTP响应时间</a>
                                        </li>
                                        <li><a href="#htReqTime" data-toggle="tab" class="tabItem">HTTP请求数</a>
                                        </li>
                                        <li><a href="#acSeTime" data-toggle="tab" class="tabItem">活跃会话数</a>
                                        </li>
                                        <li><a href="#NetEr" data-toggle="tab" class="tabItem">网络错误率</a>
                                        </li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content" >
                                        <div class="tab-pane fade in active" id="interTime">
                                            <div class="dd" id="nestable1">
                                                <ol class="dd-list">
                                                    <li class="dd-item dd-collapsed" data-id="1">
                                                        <div class="dd-handle">
                                                            <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                            </i>
                                                            <div class="bar-graph" style="width:100%"></div>
                                                            <div class="bar-text"><span>Android</span><span style="float: right;">2.02 s</span></div>
                                                        </div>
                                                        <ol class="dd-list">
                                                            <li class="dd-item dd-collapsed" data-id="2">
                                                                <div class="dd-handle">
                                                                    <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                    </i>
                                                                    <div class="bar-graph" style="width:30%"></div>
                                                                    <div class="bar-text"><span>3.2.1</span><span style="float: right;">6.82 s</span></div>
                                                                </div>
                                                                
                                                            </li>
                                                            <li class="dd-item dd-collapsed" data-id="3">
                                                                <div class="dd-handle">
                                                                    <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                    </i>
                                                                    <div class="bar-graph" style="width:23%"></div>
                                                                    <div class="bar-text"><span>4.2.1</span><span style="float: right;">4.09 s</span></div>
                                                                </div>
                                                                
                                                            </li>
                                                            <li class="dd-item" data-id="4">
                                                                <div class="dd-handle">
                                                                    <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                    </i>
                                                                    <div class="bar-graph" style="width:17%"></div>
                                                                    <div class="bar-text"><span>4.2.2</span><span style="float: right;">3.41 s</span></div>
                                                                </div>
                                                            </li>
                                                            <li class="dd-item" data-id="5">
                                                                <div class="dd-handle">
                                                                    <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                    </i>
                                                                    <div class="bar-graph" style="width:5%"></div>
                                                                    <div class="bar-text"><span>2.3.3</span><span style="float: right;">3.12 s</span></div>
                                                                </div>
                                                                
                                                            </li>
                                                            <li class="dd-item" data-id="6">
                                                                <div class="dd-handle">
                                                                    <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                    </i>
                                                                    <div class="bar-graph" style="width:5%"></div>
                                                                    <div class="bar-text"><span>2.2.1</span><span style="float: right;">2.42 s</span></div>
                                                                </div>
                                                            </li>
                                                            <li class="dd-item dd-collapsed" data-id="7">
                                                                <div class="dd-handle">
                                                                    <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                    </i>
                                                                    <div class="bar-graph" style="width:3%"></div>
                                                                    <div class="bar-text"><span>4</span><span style="float: right;">2.37 s</span></div>
                                                                </div>
                                                                
                                                            </li>
                                                            <li class="dd-item dd-collapsed" data-id="8">
                                                                <div class="dd-handle">
                                                                    <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                    </i>
                                                                    <div class="bar-graph" style="width:2%"></div>
                                                                    <div class="bar-text"><span>2.2</span><span style="float: right;">2.10 s</span></div>
                                                                </div>
                                                               
                                                            </li>
                                                            <li class="dd-item dd-collapsed" data-id="9">
                                                                <div class="dd-handle">
                                                                    <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                    </i>
                                                                    <div class="bar-graph" style="width:2%"></div>
                                                                    <div class="bar-text"><span>2.3</span><span style="float: right;">1.61 s</span></div>
                                                                </div>
                                                                
                                                            </li>
                                                             <li class="dd-item dd-collapsed" data-id="10">
                                                                <div class="dd-handle">
                                                                    <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                    </i>
                                                                    <div class="bar-graph" style="width:2%"></div>
                                                                    <div class="bar-text"><span>4.0.3</span><span style="float: right;">1.49 s</span></div>
                                                                </div>
                                                                
                                                            </li>
                                                        </ol>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                       
                                        <div class="tab-pane fade" id="htReTime">
                                            <div class="dd" id="nestable2">
                                                <ol class="dd-list">
                                                    <li class="dd-item dd-collapsed" data-id="11">
                                                        <div class="dd-handle">
                                                            <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                            </i>
                                                            <div class="bar-graph" style="width:100%"></div>
                                                            <div class="bar-text"><span>Android</span><span style="float: right;">2.02 s</span></div>
                                                        </div>
                                                        <ol class="dd-list">
                                                            <li class="dd-item dd-collapsed" data-id="12">
                                                                <div class="dd-handle">
                                                                    <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                    </i>
                                                                    <div class="bar-graph" style="width:30%"></div>
                                                                    <div class="bar-text"><span>3.2.1</span><span style="float: right;">6.82 s</span></div>
                                                                </div>
                                                                
                                                            </li>
                                                            <li class="dd-item dd-collapsed" data-id="13">
                                                                <div class="dd-handle">
                                                                    <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                    </i>
                                                                    <div class="bar-graph" style="width:23%"></div>
                                                                    <div class="bar-text"><span>4.2.1</span><span style="float: right;">4.09 s</span></div>
                                                                </div>
                                                                
                                                            </li>
                                                           
                                                        
                                                        </ol>
                                                    </li>
                                                    
                                                </ol>
                                            </div>
                                        
                                        </div>

                                        <div class="tab-pane fade" id="htReqTime">
                                            <div class="dd" id="nestable3">
                                                <ol class="dd-list">
                                                    <li class="dd-item dd-collapsed" data-id="21">
                                                        <div class="dd-handle">
                                                            <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                            </i>
                                                            <div class="bar-graph" style="width:100%"></div>
                                                            <div class="bar-text"><span>Android</span><span style="float: right;">2.02 s</span></div>
                                                        </div>
                                                        <ol class="dd-list">
                                                            <li class="dd-item dd-collapsed" data-id="22">
                                                                <div class="dd-handle">
                                                                    <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                    </i>
                                                                    <div class="bar-graph" style="width:30%"></div>
                                                                    <div class="bar-text"><span>3.2.1</span><span style="float: right;">6.82 s</span></div>
                                                                </div>
                                                                
                                                            </li>
                                                            <li class="dd-item dd-collapsed" data-id="23">
                                                                <div class="dd-handle">
                                                                    <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                    </i>
                                                                    <div class="bar-graph" style="width:23%"></div>
                                                                    <div class="bar-text"><span>4.2.1</span><span style="float: right;">4.09 s</span></div>
                                                                </div>
                                                                
                                                            </li>
                                                          
                                                          
                                                             <li class="dd-item dd-collapsed" data-id="24">
                                                                <div class="dd-handle">
                                                                    <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                    </i>
                                                                    <div class="bar-graph" style="width:2%"></div>
                                                                    <div class="bar-text"><span>4.0.3</span><span style="float: right;">1.49 s</span></div>
                                                                </div>
                                                                
                                                            </li>
                                                        </ol>
                                                    </li>
                                                    
                                                </ol>
                                            </div>
                                           
                                        </div>
                                        <div class="tab-pane fade" id="acSeTime">
                                            
                                            
                                        </div>
                                        <div class="tab-pane fade" id="NetEr">

                                            
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </section>

                    </div>

                </div>

            </div>

            <div class="col-lg-8">
                <div class="row basic-card">
                    <div class="col-md-12">
                         <section class="widget">
                            <header>
                                <h4>
                                    执行时间
                                </h4>
                                <div class="widget-controls">
                                    <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                    <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                                </div>
                            </header>
                            <div class="body no-margin">
                                <div id="visits-chart1" class="chart visits-chart">
                                    <svg></svg>
                                </div>
                            </div>
                        </section>

                    </div> 

                </div>
                <div class="row basic-card">
                    <div class="col-md-12">
                         <section class="widget">
                            <header>
                                <h4>
                                    HTTP 响应时间 
                                </h4>
                                <div class="widget-controls">
                                    <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                    <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                                </div>
                            </header>
                            <div class="body no-margin">
                                <div id="visits-chart2" class="chart visits-chart">
                                    <svg></svg>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row basic-card">
                    <div class="col-md-12">
                         <section class="widget">
                            <header>
                                <h4>
                                    网络错误率
                                </h4>
                                <div class="widget-controls">
                                    <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                    <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                                </div>
                            </header>
                            <div class="body no-margin">
                                <div id="visits-chart3" class="chart visits-chart">
                                    <svg></svg>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row basic-card">
                    <div class="col-md-12">
                         <section class="widget">
                            <header>
                                <h4>
                                    活跃会话数
                                </h4>
                                <div class="widget-controls">
                                    <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                    <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                                </div>
                            </header>
                            <div class="body no-margin">
                                <div id="visits-chart4" class="chart visits-chart">
                                    <svg></svg>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="row  float-card">
                    <div class="col-md-12">
                        <section class="widget">
                            <header>
                                <span class="float-card-title">Title</span>
                                <span class="glyphicon glyphicon-remove pull-right"></span>
                            </header>
                            <div class="body">
                                 <section class="widget inner-widget">
                                    <header>
                                        <h4>
                                            执行时间
                                        </h4>
                                        <div class="widget-controls">
                                            <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                            <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                                        </div>
                                    </header>
                                    <div class="body no-margin">
                                        <div id="visits-chart5" class="chart visits-chart">
                                            <svg></svg>
                                        </div>
                                    </div>
                                </section>

                                 <section class="widget inner-widget">
                                    <header>
                                        <h4>
                                            HTTP 响应时间
                                        </h4>
                                        <div class="widget-controls">
                                            <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                            <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                                        </div>
                                    </header>
                                    <div class="body no-margin">
                                        <div id="visits-chart6" class="chart visits-chart">
                                            <svg></svg>
                                        </div>
                                    </div>
                                </section>

                                 <section class="widget inner-widget">
                                    <header>
                                        <h4>
                                            网络错误率
                                        </h4>
                                        <div class="widget-controls">
                                            <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                            <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                                        </div>
                                    </header>
                                    <div class="body no-margin">
                                        <div id="visits-chart7" class="chart visits-chart">
                                            <svg></svg>
                                        </div>
                                    </div>
                                </section>

                                 <section class="widget inner-widget">
                                    <header>
                                        <h4>
                                            活跃会话数
                                        </h4>
                                        <div class="widget-controls">
                                            <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                            <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                                        </div>
                                    </header>
                                    <div class="body no-margin">
                                        <div id="visits-chart8" class="chart visits-chart">
                                            <svg></svg>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </section>    
                    </div>
                </div>
            </div>
        </div>

      
       
    {{/replace}}

     {{#append "scripts"}}
        <!-- page libs -->
        <script src="lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="lib/jquery.sparkline/index.js"></script>

        <script src="lib/backbone/backbone.js"></script>
        <script src="lib/backbone.localStorage/backbone.localStorage-min.js"></script>

        <script src="lib/d3/d3.min.js"></script>
        <script src="lib/nvd3/nv.d3.min.js"></script>

        <script src="lib/jquery-ui/ui/core.js"></script>
        <script src="lib/jquery-ui/ui/widget.js"></script>
        <script src="lib/jquery-ui/ui/mouse.js"></script>
        <script src="lib/jquery-ui/ui/sortable.js"></script>
        <script src="lib/jquery.nestable/jquery.nestable.js"></script>
        <script src="lib/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

        <!-- page application js -->
        <script src="js/component-list-groups.js"></script>

        <!-- daterange picker js -->
         <script src="lib/form-daterangepicker/daterangepicker.js"></script>        
         <!-- DateTime Picker -->
        <script src="lib/form-daterangepicker/moment.min.js"></script> 

        <!-- page application js -->
        <script src="js/daterangepicker.js"></script>
        <script src="js/graph/graph1.js"></script>
        <script src="js/graph/graph2.js"></script>
        <script src="js/graph/graph3.js"></script>
        <script src="js/graph/graph4.js"></script>
        <script src="js/graph/graph5.js"></script>
        <script src="js/graph/graph6.js"></script>
        <script src="js/graph/graph7.js"></script>
        <script src="js/graph/graph8.js"></script>


        <script>
            $(document).ready(function  () {
                //item点击，去除所有active状态，当前点击对象加active，隐藏对象显示，开始tanslate
                $('.dd-handle').click(function  () {

                    var handleParent = $('.dd-handle.active')

                    $('.dd-handle').removeClass("active");
                    $('.dd-item').find('button').removeClass("active");

                    $(this).addClass("active");

                    $(this).parent().find('button').addClass("active");


                    $('.float-card').show().addClass("animated fadeInLeftBig");


                    setTimeout(function (){
                                             $('.float-card').removeClass("animated fadeInLeftBig");
                                         },1000);

                    $('.float-card-title').text($(this).find('.bar-text').text());
                });

                $('.float-card .glyphicon-remove').click(function  () {
                    $('.float-card').hide();
                    $('.dd-handle').removeClass("active");
                    $('.dd-item').find('button').removeClass("active");
                });

            });

             $('th').click(function(e){
                var a = $(this).find('.sortedup');
                var b = $(this).find('.sorteddown');

                if (a.css('display') == 'none' && b.css('display') == 'none') {
                    a.show();
                }else{
                    if (a.css('display') != 'none') {
                        a.hide();
                        b.show();
                    }else{
                        if (a.css('display') == 'none') {
                            b.hide();
                        }
                    }
                }
                e.stopPropagation();
            })
        </script>
   
    {{/append}}

{{/extend}}