{{#extend "layoutServ"}}

    {{#replace "sidebarServ"}}
        {{> sidebarServ this conditionClass=conditionClass active="overviewServ"}}
    {{/replace}}

    {{#replace "app_content"}}
    <div class="row">

        <div class="col-lg-4 col-md-4">
            <h2 class="page-title">
                <span>总览 <small>总览页面</small></span>
            </h2>
        </div>

        <div class="col-lg-8 col-md-8">
            <div class="navbar nav-picker">
               <ul class="nav navbar-nav navbar-right">
                   <li role="presentation" class="timepicker">
                       <div class="form-group">
                           {{!-- <div class="checkbox checkbox2 checkboxOver" style="min-height:24px;">
                               <input id="checkbox1" type="checkbox">
                               <label for="checkbox1" style="vertical-align:middle; font-weight:bold;">
                                   数据对比（今天、昨天、上周）
                               </label>
                           </div> --}}
                           <button class="btn picker" id="daterangepicker">
                               <i class="iconfont icon2 icon-clock">&#xe61d;</i>  
                               <span></span> <b class="caret"></b>
                           </button>
                       </div>
                   </li>
               </ul>  
            </div>
        </div>
    </div>
       
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-md-12">
                    <section class="widget">
                        <header>
                            <h4>
                                CPU usage
                            </h4>
                            <div class="widget-controls">
                                <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                            </div>
                        </header>
                        <div class="body no-margin">
                            <div id="visits-chart1" class="chart visits-chart">
                                <svg></svg>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <section class="widget">
                        <header>
                            <h4>
                                Physical memory
                            </h4>
                            <div class="widget-controls">
                                <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                            </div>
                        </header>
                        <div class="body no-margin">
                            <div id="visits-chart2" class="chart visits-chart">
                                <svg></svg>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <section class="widget">
                        <header>
                            <h4>
                               Disk I/O utilization
                            </h4>
                            <div class="widget-controls">
                                <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                            </div>
                        </header>
                        <div class="body no-margin">
                            <div id="visits-chart3" class="chart visits-chart">
                                <svg></svg>
                            </div>
                            
                        </div>
                    </section>
                </div>
                <div class="col-lg-6">
                    <section class="widget">
                        <header>
                            <h4>
                               Network I/O (Mb/s)
                            </h4>
                            <div class="widget-controls">
                                <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                            </div>
                        </header>
                        <div class="body no-margin">
                            <div id="visits-chart5" class="chart visits-chart">
                                <svg></svg>
                            </div>
                            
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-md-12">
                    <section class="widget">
                        <header>
                            <h4>
                                AJAX 吞吐量
                            </h4>
                            <div class="widget-controls">
                                <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                            </div>
                        </header>
                        <div class="body no-margin">
                            <div id="visits-chart4" class="chart visits-chart">
                                <svg></svg>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <section class="widget">
                        <header>
                            <h4>
                                服务器                                    
                            </h4>
                            <div class="widget-controls">
                                <a data-widgster="expand" title="Expand" href="#">
                                    <i class="iconfont icon2 ">&#xe611;</i>
                                </a>
                                <a data-widgster="collapse" title="Collapse" href="#">
                                    <i class="iconfont icon2 ">&#xe610;</i>
                                </a>                                 
                            </div>
                        </header>
                        <div class="body">
                            <table class="table table-striped table-hover sources-table no-margin">
                                <thead>
                                    <tr>
                                        <th width="28%" class="sortedth">
                                            <span class="sortedtext">进程</span>
                                            <i class="iconfont sortedup">&#xe61a;</i>
                                            <i class="iconfont sorteddown">&#xe619;</i>
                                        </th>
                                        <th width="12%" class="sortedth">
                                            <span class="sortedtext">用户</span>
                                            <i class="iconfont sortedup">&#xe61a;</i>
                                            <i class="iconfont sorteddown">&#xe619;</i>
                                        </th>
                                        <th width="12%" class="sortedth" id="sort2">
                                            <span class="sortedtext">次数</span>
                                            <i class="iconfont sortedup">&#xe61a;</i>
                                            <i class="iconfont sorteddown">&#xe619;</i>
                                        </th>
                                        <th width="12%" class="sortedth">
                                            <span class="sortedtext">cpu使用率</span>
                                            <i class="iconfont sortedup">&#xe61a;</i>
                                            <i class="iconfont sorteddown">&#xe619;</i>
                                        </th> 
                                        <th width="12%" class="sortedth">
                                            <span class="sortedtext">内存使用</span>
                                            <i class="iconfont sortedup">&#xe61a;</i>
                                            <i class="iconfont sorteddown">&#xe619;</i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>java</td>
                                        <td>0.71</td>
                                        <td>19</td>
                                        <td>107.87</td>
                                        <td>0.68%</td>
                                    </tr>
                                    <tr>
                                        <td>mysql</td>
                                        <td>0.00</td>
                                        <td>20</td>
                                        <td>0.00</td>
                                        <td>0.00%</td>
                                    </tr>  
                                    <tr>
                                        <td>java</td>
                                        <td>1.00</td>
                                        <td>120</td>
                                        <td>0.60</td>
                                        <td>0.00%</td>
                                    </tr>
                                    <tr>
                                        <td>java</td>
                                        <td>1.00</td>
                                        <td>13</td>
                                        <td>0.60</td>
                                        <td>0.00%</td>
                                    </tr>
                                    <tr>
                                        <td>java</td>
                                        <td>1.00</td>
                                        <td>231</td>
                                        <td>0.60</td>
                                        <td>0.00%</td>
                                    </tr>                                       
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <section class="widget widget-tabs">
                        <header>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#All" data-toggle="tab" class="tabIcon"><i class="iconfont icon1">&#xe60d;</i></a>
                                </li>
                                <li data-toggle="tooltip" data-placement="top" title="宕机">
                                    <a href="#breaktime" data-toggle="tab" class="tabIcon"><i class="iconfont icon1">&#xe607;</i></a>
                                </li>
                                <li data-toggle="tooltip" data-placement="top" title="通知">
                                    <a href="#notify" data-toggle="tab" class="tabIcon"><i class="iconfont icon1">&#xe60c;</i></a>
                                </li>
                                <li data-toggle="tooltip" data-placement="top" title="严重问题">
                                    <a href="#issue" data-toggle="tab" class="tabIcon"><i class="iconfont icon1">&#xe608;</i></a>
                                </li>
                                <li data-toggle="tooltip" data-placement="top" title="宕机">
                                    <a href="#warm" data-toggle="tab" class="tabIcon"><i class="iconfont icon1">&#xe60a;</i></a>
                                </li>
                                <li data-toggle="tooltip" data-placement="top" title="注释">
                                    <a href="#notes" data-toggle="tab" class="tabIcon"><i class="iconfont icon1">&#xe60b;</i></a>
                                </li>
                                
                            </ul>
                        </header>
                        <div class="body tab-content">
                            <div id="All" class="tab-pane active clearfix">
                                <table class="table sources-table table-striped table-hover no-margin" style="margin-top: 8px !important;">
                                    <span style="font-size:12px">开始时间 : 01-09 13:43 - 截止时间 : 01-09 14:13</span>
                                    <div class="alaBo-title" >
                                        <h5><strong>今天</strong></h5>
                                    </div>
                                    <tbody>
                                        <tr>
                                            <td class="warmtime" width="10%">15:58</td>
                                            <td width="10%" class="warmicon">
                                                <i class="iconfont icon1">&#xe608;</i>
                                            </td>
                                            <td width="80%">应用 Java-app-a 的Agent java:app187:80(10.133.197.33) Apdex得分5分钟内小于0.7</td>
                                        </tr>
                                        <tr>
                                            <td class="warmtime">15:56</td>
                                            <td class="warmicon"><i class="iconfont icon1">&#xe608;</i</td>
                                            <td>应用 Java-app-a 的Agent java:app187:80(10.133.197.33) Apdex得分5分钟内小于0.7</td>
                                        </tr>  
                                        <tr>
                                            <td class="warmtime">15:54</td>
                                            <td class="warmicon"><i class="iconfont icon1">&#xe608;</i</td>
                                            <td>应用 Java-app-a 的Agent java:app187:80(10.133.197.33) Apdex得分10分钟内小于0.85</td>
                                        </tr>
                                        <tr>
                                            <td class="warmtime">15:28</td>
                                            <td class="warmicon"><i class="iconfont icon1">&#xe608;</i</td>
                                            <td>应用 Java-app-a 的Agent java:app187:80(10.133.197.33) Apdex得分10分钟内小于0.85</td>
                                        </tr>                                          
                                    </tbody>
                                </table>

                            </div>
                            <div id="breaktime" class="tab-pane">
                                <table class="table sources-table table-striped table-hover no-margin" style="margin-top: 8px !important;">
                                    <span style="font-size:12px">开始时间 : 01-09 13:43 - 截止时间 : 01-09 14:13</span>
                                    <div class="alaBo-title" >
                                        <h5><strong>还没有事件</strong></h5>
                                    </div>
                                </table>
                            </div>
                            <div id="notify" class="tab-pane">
                                <table class="table sources-table no-margin" style="margin-top: 8px !important;">
                                    <span style="font-size:12px">开始时间 : 01-09 13:43 - 截止时间 : 01-09 14:13</span>
                                    <div class="alaBo-title" >
                                        <h5><strong>还没有事件</strong></h5>
                                    </div>
                                </table>
                            </div>
                            <div id="issue" class="tab-pane">
                                <table class="table sources-table table-striped table-hover no-margin" style="margin-top: 8px !important;">
                                    <span style="font-size:12px">开始时间 : 01-09 13:43 - 截止时间 : 01-09 14:13</span>
                                    <div class="alaBo-title" >
                                        <h5><strong>今天</strong></h5>
                                    </div>
                                    <tbody>
                                        <tr>
                                            <td class="warmtime" width="10%">15:58</td>
                                            <td width="10%" class="warmicon">
                                                <i class="iconfont icon1">&#xe608;</i>
                                            </td>
                                            <td width="80%">应用 Java-app-a 的Agent java:app187:80(10.133.197.33) Apdex得分5分钟内小于0.7</td>
                                        </tr>
                                        <tr>
                                            <td class="warmtime">15:56</td>
                                            <td class="warmicon"><i class="iconfont icon1">&#xe608;</i</td>
                                            <td>应用 Java-app-a 的Agent java:app187:80(10.133.197.33) Apdex得分5分钟内小于0.7</td>
                                        </tr>  
                                        <tr>
                                            <td class="warmtime">15:54</td>
                                            <td class="warmicon"><i class="iconfont icon1">&#xe608;</i</td>
                                            <td>应用 Java-app-a 的Agent java:app187:80(10.133.197.33) Apdex得分10分钟内小于0.85</td>
                                        </tr>                                      
                                    </tbody>
                                </table>
                            </div>
                            <div id="warm" class="tab-pane">
                                <table class="table sources-table no-margin" style="margin-top: 8px !important;">
                                    <span style="font-size:12px">开始时间 : 01-09 13:43 - 截止时间 : 01-09 14:13</span>
                                    <div class="alaBo-title" >
                                        <h5><strong>还没有事件</strong></h5>
                                    </div>
                                </table>
                            </div>
                            <div id="notes" class="tab-pane">
                                <table class="table sources-table no-margin" style="margin-top: 8px !important;">
                                    <span style="font-size:12px">开始时间 : 01-09 13:43 - 截止时间 : 01-09 14:13</span>
                                    <div class="alaBo-title" >
                                        <h5><strong>还没有事件</strong></h5>
                                    </div>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>


                
    

    {{/replace}}


    {{#append "scripts"}}
        <!-- page libs -->
        

        <script src="lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="lib/jquery.sparkline/index.js"></script>

        <script src="lib/backbone/backbone.js"></script>
        <script src="lib/backbone.localStorage/backbone.localStorage-min.js"></script>

        <script src="lib/d3/d3.min.js"></script>
        <script src="lib/nvd3/nv.d3.min.js"></script>

        <!-- daterange picker js -->
        <script src="lib/form-daterangepicker/daterangepicker.js"></script>               
        <!-- DateTime Picker -->
        <script src="lib/form-daterangepicker/moment.min.js"></script> 
        <script src="js/daterangepicker.js"></script>

        <!-- page application js -->
        <script src="js/graph/graph1.js"></script>
        <script src="js/graph/graph2.js"></script>
        <script src="js/graph/graph3.js"></script>
        <script src="js/graph/graph4.js"></script>
        <script src="js/graph/graph5.js"></script>

         <!-- page libs -->
  
        <script src="js/graph/singlechart1.js"></script>
        <script src="js/graph/singlechart2.js"></script>

        <script>

            $('.trace-item').click(function(){
            location.href="pageBro.html";
         })
           
        </script>
        
    {{/append}}

{{/extend}}