{{#extend "layoutBro"}}

    {{#replace "sidebarBro"}}
        {{> sidebarBro this conditionClass=conditionClass active="pageBro"}}
    {{/replace}}

    {{#replace "app_content"}}

    <div class="row">
        <div class="col-lg-5 col-md-5">
            <h2 class="page-title"><span>访问页面</span><small>页面</small></h2>
        </div>
        <div class="col-lg-7 col-md-7">
            <div class="navbar nav-picker">
               <ul class="nav navbar-nav navbar-right">
                   <li role="presentation" class="timepicker">
                       <div class="form-group">
                           <button class="btn picker" id="daterangepicker">
                               <i class="iconfont icon2 icon-clock">&#xe61d;</i>  
                               <span></span> <b class="caret"></b>
                           </button>
                       </div>
                   </li>
               </ul>  
            </div>
        </div>
    </div>     
    <div class="row">
        <div class="col-lg-12">
            <div class="row float-card float-show-all">
                <div class="col-md-12">
                    <section class="widget" style="min-height:800px;">
                        <header>
                            <span class="float-card-title" style="margin-left: 4px;">web 事务(All Transaction)</span>
                            <span class="glyphicon glyphicon-remove pull-right"></span>
                        </header>
                        <div class="body body-for-table single-table">
                            <table class="table table-striped table-hover no-margin sources-table">
                                <thead>
                                <tr>
                                    <th width="15%" style="text-align: left;" class="sortedth">
                                        <span class="sortedtext">页面事务</span>
                                        <i class="iconfont sortedup" style="display:none">&#xe61a;</i>
                                        <i class="iconfont sorteddown" style="display:none">&#xe619;</i>
                                    </th>
                                    <th width="6%" style="text-align: left;" class="sortedth">
                                        <span class="sortedtext">Apdex</span>
                                        <i class="iconfont sortedup" style="display:none">&#xe61a;</i>
                                        <i class="iconfont sorteddown" style="display:none">&#xe619;</i>
                                    </th>
                                    <th width="6%" style="text-align: left;" class="sortedth">
                                        <span class="sortedtext">Apdex-T</span>
                                        <i class="iconfont sortedup" style="display:none">&#xe61a;</i>
                                        <i class="iconfont sorteddown" style="display:none">&#xe619;</i>
                                    </th>
                                    <th width="6%" style="text-align: left;" class="sortedth">
                                        <span class="sortedtext">访问次数</span>
                                        <i class="iconfont sortedup" style="display:none">&#xe61a;</i>
                                        <i class="iconfont sorteddown" style="display:none">&#xe619;</i>
                                    </th>
                                    <th width="9%" style="text-align: left;" class="sortedth">
                                        <span class="sortedtext">页面平均加载时间</span>
                                        <i class="iconfont sortedup" style="display:none">&#xe61a;</i>
                                        <i class="iconfont sorteddown" style="display:none">&#xe619;</i>
                                    </th>
                                    <th width="9%" style="text-align: left;" class="sortedth">
                                        <span class="sortedtext">appTime</span>
                                        <i class="iconfont sortedup" style="display:none">&#xe61a;</i>
                                        <i class="iconfont sorteddown" style="display:none">&#xe619;</i>
                                    </th>
                                    <th width="10%" style="text-align: left;" class="sortedth">
                                        <span class="sortedtext">Request queuing</span>
                                        <i class="iconfont sortedup" style="display:none">&#xe61a;</i>
                                        <i class="iconfont sorteddown" style="display:none">&#xe619;</i>
                                    </th>
                                    <th width="10%" style="text-align: left;" class="sortedth">
                                        <span class="sortedtext">Web application</span>
                                        <i class="iconfont sortedup" style="display:none">&#xe61a;</i>
                                        <i class="iconfont sorteddown" style="display:none">&#xe619;</i>
                                    </th>
                                    <th width="9%" style="text-align: left;" class="sortedth">
                                        <span class="sortedtext">Network</span>
                                        <i class="iconfont sortedup" style="display:none">&#xe61a;</i>
                                        <i class="iconfont sorteddown" style="display:none">&#xe619;</i>
                                    </th>
                                    <th width="10%" style="text-align: left;" class="sortedth">
                                        <span class="sortedtext">DOM processing</span>
                                        <i class="iconfont sortedup" style="display:none">&#xe61a;</i>
                                        <i class="iconfont sorteddown" style="display:none">&#xe619;</i>
                                    </th>
                                    <th width="10%" style="text-align: left;" class="sortedth">
                                        <span class="sortedtext">Page rendering</span>
                                        <i class="iconfont sortedup" style="display:none">&#xe61a;</i>
                                        <i class="iconfont sorteddown" style="display:none">&#xe619;</i>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                 <tr>
                                    <td class="trans-name"><a href="#">SpringController/splits.do (GET)</a></td>
                                    <td>1.03</td>
                                    <td>50</td>
                                    <td>0.30</td>
                                    <td>5.24ms</td>
                                    <td>2.28ms</td>
                                    <td>10.35ms</td>
                                    <td>25%</td>
                                    <td>1.27%</td>
                                    <td>25%</td>
                                    <td>1.27%</td>
                                </tr>
                                <tr>
                                    <td class="trans-name"><a href="#">SpringController/splits.do (GET)</a></td>
                                    <td>1.03</td>
                                    <td>50</td>
                                    <td>0.30</td>
                                    <td>5.24ms</td>
                                    <td>2.28ms</td>
                                    <td>10.35ms</td>
                                    <td>25%</td>
                                    <td>1.27%</td>
                                    <td>25%</td>
                                    <td>1.27%</td>
                                </tr>
                                <tr>
                                    <td class="trans-name"><a href="#">SpringController/splits.do (GET)</a></td>
                                    <td>1.03</td>
                                    <td>50</td>
                                    <td>0.30</td>
                                    <td>5.24ms</td>
                                    <td>2.28ms</td>
                                    <td>10.35ms</td>
                                    <td>25%</td>
                                    <td>1.27%</td>
                                    <td>25%</td>
                                    <td>1.27%</td>
                                </tr>
                                <tr>
                                    <td class="trans-name"><a href="#">SpringController/splits.do (GET)</a></td>
                                    <td>1.03</td>
                                    <td>50</td>
                                    <td>0.30</td>
                                    <td>5.24ms</td>
                                    <td>2.28ms</td>
                                    <td>10.35ms</td>
                                    <td>25%</td>
                                    <td>1.27%</td>
                                    <td>25%</td>
                                    <td>1.27%</td>
                                </tr>
                                <tr>
                                    <td class="trans-name"><a href="#">SpringController/splits.do (GET)</a></td>
                                    <td>1.03</td>
                                    <td>50</td>
                                    <td>0.30</td>
                                    <td>5.24ms</td>
                                    <td>2.28ms</td>
                                    <td>10.35ms</td>
                                    <td>25%</td>
                                    <td>1.27%</td>
                                    <td>25%</td>
                                    <td>1.27%</td>
                                </tr>
                                <tr>
                                    <td class="trans-name"><a href="#">SpringController/splits.do (GET)</a></td>
                                    <td>1.03</td>
                                    <td>50</td>
                                    <td>0.30</td>
                                    <td>5.24ms</td>
                                    <td>2.28ms</td>
                                    <td>10.35ms</td>
                                    <td>25%</td>
                                    <td>1.27%</td>
                                    <td>25%</td>
                                    <td>1.27%</td>
                                </tr>
                                <tr>
                                    <td class="trans-name"><a href="#">SpringController/splits.do (GET)</a></td>
                                    <td>1.03</td>
                                    <td>50</td>
                                    <td>0.30</td>
                                    <td>5.24ms</td>
                                    <td>2.28ms</td>
                                    <td>10.35ms</td>
                                    <td>25%</td>
                                    <td>1.27%</td>
                                    <td>25%</td>
                                    <td>1.27%</td>
                                </tr>
                                <tr>
                                    <td class="trans-name"><a href="#">SpringController/splits.do (GET)</a></td>
                                    <td>1.03</td>
                                    <td>50</td>
                                    <td>0.30</td>
                                    <td>5.24ms</td>
                                    <td>2.28ms</td>
                                    <td>10.35ms</td>
                                    <td>25%</td>
                                    <td>1.27%</td>
                                    <td>25%</td>
                                    <td>1.27%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="row">
                <div class="col-md-12">
                    <section class="widget widget-tabs">
                        <div class="body tab-content">
                            <div id="webTran" class="tab-pane active clearfix">
                                <div class="body" style="background-color:transparent; padding:0;">
                                    <ul id="myTab" class="nav nav-tabs">
                                        <li class="active"><a href="#responseTime" data-toggle="tab" class="tabItem">平均时间</a></li>
                                        <li><a href="#apdex" data-toggle="tab" class="tabItem">时间百分比</a></li>
                                        <li><a href="#throughput" data-toggle="tab" class="tabItem">吞吐量</a></li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content" >
                                        <div class="tab-pane fade in active" id="responseTime">
                                            <div class="dd" id="nestable1">
                                                <ol class="dd-list">
                                                    <li class="dd-item" data-id="1">
                                                        <div class="dd-handle">
                                                            <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                            </i>
                                                            <div class="bar-graph"></div>
                                                            <div class="bar-text"><span>SpringController/insert.do (GET)</span><span style="float: right;">47.99 s</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="dd-item" data-id="2">
                                                        <div class="dd-handle">
                                                            <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                            </i>
                                                            <div class="bar-graph" style="width:30%"></div>
                                                            <div class="bar-text"><span>SpringController/splits.do (GET)</span><span style="float: right;">15.37 s</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="dd-item" data-id="3">
                                                        <div class="dd-handle">
                                                            <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                            </i>
                                                            <div class="bar-graph" style="width:15%"></div>
                                                            <div class="bar-text"><span>SpringController/abc.do (GET)</span><span style="float: right;">3.35 s</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="dd-item" data-id="4">
                                                        <div class="dd-handle">
                                                            <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                            </i>
                                                            <div class="bar-graph" style="width:5%"></div>
                                                            <div class="bar-text"><span>SpringController/testException.do (GET)</span><span style="float: right;">1.17 s</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="dd-item">
                                                        <div class="dd-handle-show-all">
                                                            <div class="bar-text" style="text-align:center"><span>显示全部 +</span></div>
                                                        </div>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="apdex">
                                            <div class="dd" id="nestable2">
                                                <ol class="dd-list">
                                                    <li class="dd-item" data-id="1">
                                                        <div class="dd-handle">
                                                            <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                            </i>
                                                            <div class="bar-graph" style="width:0%"></div>
                                                            <div class="bar-text"><span>SpringController/abc.do (GET)</span><span style="float: right;">26%</span></div>
                                                        </div>                                                   
                                                    </li>
                                                    <li class="dd-item" data-id="2">
                                                        <div class="dd-handle">
                                                            <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                            </i>
                                                            <div class="bar-graph" style="width:0%"></div>
                                                            <div class="bar-text"><span>SpringController/splits.do (GET)</span><span style="float: right;">10%</span></div>
                                                        </div>                                                    
                                                    </li>
                                                    <li class="dd-item" data-id="3">
                                                        <div class="dd-handle">
                                                            <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                            </i>
                                                            <div class="bar-graph" style="width:0%"></div>
                                                            <div class="bar-text"><span>SpringController/insert.do (GET)</span> <span style="float: right;">7%</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="dd-item" data-id="4">
                                                        <div class="dd-handle">
                                                            <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                            </i>
                                                            <div class="bar-graph" style="width:100%"></div>
                                                            <div class="bar-text"><span>SpringController/testRedis.do (GET)</span><span style="float: right;">1%</span></div>
                                                        </div>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="throughput">
                                            <div class="dd" id="nestable3">
                                                <ol class="dd-list">
                                                    <li class="dd-item" data-id="1">
                                                        <div class="dd-handle">
                                                            <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                            </i>
                                                            <div class="bar-graph" style="width:50%"></div>
                                                            <div class="bar-text">
                                                                <span>SpringController/splits.do (GET)</span>
                                                                <span style="float: right;">6.77 cpm</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="dd-item" data-id="2">
                                                        <div class="dd-handle">
                                                            <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                            </i>
                                                            <span style="float: right;">4.03 cpm</span>
                                                            <div class="bar-graph" style="width:20%"></div>
                                                            <div class="bar-text"><span>SpringController/abc.do (GET)</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="dd-item" data-id="3">
                                                        <div class="dd-handle">
                                                            <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                            </i>
                                                            <span style="float: right;">2.35 cpm</span>
                                                            <div class="bar-graph" style="width:20%"></div>
                                                            <div class="bar-text"><span>SpringController/insert.do (GET)</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="dd-item" data-id="4">
                                                        <div class="dd-handle">
                                                            <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                            </i>
                                                            <span style="float: right;">2.40 cpm</span>
                                                            <div class="bar-graph" style="width:10%"></div>
                                                            <div class="bar-text"><span>SpringController/testRedis.do (GET)</span></div>
                                                        </div>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>

                                    </div>
                                </div>             
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="row basic-card">
                <div class="col-md-12">
                     <section class="widget">
                        <header>
                            <h4>
                                平均加载时间
                            </h4>
                            <div class="widget-controls">
                                <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                        </header>
                        <div class="body no-margin">
                            <div id="visits-chart2" class="chart visits-chart">
                                <svg></svg>
                            </div>
                        </div>
                    </section>
                </div> 
            </div>
            <div class="row basic-card">
                <div class="col-md-12">
                     <section class="widget">
                        <header>
                            <h4>
                                页面吞吐量
                            </h4>
                            <div class="widget-controls">
                                <a data-widgster="expand" title="Expand" href="#"><i class="iconfont icon2 ">&#xe611;</i></a>
                                <a data-widgster="collapse" title="Collapse" href="#"><i class="iconfont icon2 ">&#xe610;</i></a>
                            </div>
                        </header>
                        <div class="body no-margin">
                            <div id="visits-chart3" class="chart visits-chart">
                                <svg></svg>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row basic-card">
                <div class="col-md-12">
                    <section class="widget">
                        <header>
                            <h4>Traces</h4>
                        </header>
                        <div class="body">
                            <table class="table table-striped table-hover no-margin sources-table">
                                <thead>
                                    <tr>
                                        <th width="22%" style="text-align: left;" class="sortedth">
                                            <span class="sortedtext">开始时间</span>
                                            <i class="iconfont sortedup" style="display:none">&#xe61a;</i>
                                            <i class="iconfont sorteddown" style="display:none">&#xe619;</i>
                                        </th>
                                        <th width="34%" style="text-align: left;" class="sortedth">
                                            <span class="sortedtext">事务 / 详情 </span>
                                            <i class="iconfont sortedup" style="display:none">&#xe61a;</i>
                                            <i class="iconfont sorteddown" style="display:none">&#xe619;</i>
                                        </th>
                                        <th width="22%" style="text-align: left;" class="sortedth">
                                            <span class="sortedtext">浏览器(ms)</span>
                                            <i class="iconfont sortedup" style="display:none">&#xe61a;</i>
                                            <i class="iconfont sorteddown" style="display:none">&#xe619;</i>
                                        </th>
                                        <th width="22%" style="text-align: left;" class="sortedth">
                                            <span class="sortedtext">应用程序(ms)</span>
                                            <i class="iconfont sortedup" style="display:none">&#xe61a;</i>
                                            <i class="iconfont sorteddown" style="display:none">&#xe619;</i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2015-04-18 23:59</td>
                                        <td class="tran-detail"><a href="#" class="trace-name">WebTransaction/StrutsAction/restaurant</a></td>
                                        <td>13596</td>
                                        <td>91</td>
                                    </tr>
                                    <tr>
                                        <td>2015-04-17 23:59</td>
                                        <td class="tran-detail"><a href="#" class="trace-name">WebTransaction/StrutsAction/restaurant</a></td>
                                        <td>13596</td>
                                        <td>91</td>
                                    </tr>
                                    <tr>
                                        <td>2015-04-21 14:39</td>
                                        <td class="tran-detail"><a href="#" class="trace-name">WebTransaction/StrutsAction/restaurant</a></td>
                                        <td>13596</td>
                                        <td>91</td>
                                    </tr>
                                    <tr>
                                        <td>2015-04-20 23:56</td>
                                        <td class="tran-detail"><a href="#" class="trace-name">WebTransaction/StrutsAction/menu</a></td>
                                        <td>13596</td>
                                        <td>91</td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row float-card float-show-one">
                <div class="col-md-12">
                    <section class="widget">
                        <header>
                            <span class="float-card-title">Title</span>
                            <span class="glyphicon glyphicon-remove pull-right"></span>
                        </header>
                        <div class="body">
                            <section class="widget inner-widget">
                                <header>
                                    <h4>
                                        平均加载时间
                                    </h4>
                                </header>
                                <div class="body no-margin">
                                    <div id="visits-chart1" class="chart visits-chart">
                                        <svg></svg>
                                    </div>
                                    
                                </div>
                            </section>

                            <section class="widget inner-widget">
                                <header>
                                    <h4>
                                        页面吞吐量
                                    </h4>
                                </header>
                                <div class="body no-margin">
                                    <div id="visits-chart4" class="chart visits-chart">
                                        <svg></svg>
                                    </div>
                                </div>
                            </section>

                            <section class="widget inner-widget">
                                <header>
                                    <h4>Traces</h4>
                                </header>
                                <div class="body body-for-table">
                                    <table class="table table-striped table-hover no-margin sources-table">
                                    <thead>
                                    <tr>
                                        <th width="22%" style="text-align: left;" class="sortedth">
                                            <span class="sortedtext">开始时间</span>
                                            <i class="iconfont sortedup" style="display:none">&#xe61a;</i>
                                            <i class="iconfont sorteddown" style="display:none">&#xe619;</i>
                                        </th>
                                        <th width="34%" style="text-align: left;" class="sortedth">
                                            <span class="sortedtext">事务 / 详情 </span>
                                            <i class="iconfont sortedup" style="display:none">&#xe61a;</i>
                                            <i class="iconfont sorteddown" style="display:none">&#xe619;</i>
                                        </th>
                                        <th width="22%" style="text-align: left;" class="sortedth">
                                            <span class="sortedtext">浏览器(ms)</span>
                                            <i class="iconfont sortedup" style="display:none">&#xe61a;</i>
                                            <i class="iconfont sorteddown" style="display:none">&#xe619;</i>
                                        </th>
                                        <th width="22%" style="text-align: left;" class="sortedth">
                                            <span class="sortedtext">应用程序(ms)</span>
                                            <i class="iconfont sortedup" style="display:none">&#xe61a;</i>
                                            <i class="iconfont sorteddown" style="display:none">&#xe619;</i>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>2015-04-18 23:59</td>
                                        <td><a href="#" class="trace-name-in-transaction">WebTransaction/StrutsAction/restaurant</a></td>
                                        <td>13596</td>
                                        <td>91</td>
                                    </tr>
                                    <tr>
                                        <td>2015-04-18 23:59</td>
                                        <td><a href="#" class="trace-name-in-transaction">WebTransaction/StrutsAction/restaurant</a></td>
                                        <td>13596</td>
                                        <td>91</td>
                                    </tr>
                                    <tr>
                                        <td>2015-04-18 23:59</td>
                                        <td><a href="#" class="trace-name-in-transaction">WebTransaction/StrutsAction/restaurant</a></td>
                                        <td>13596</td>
                                        <td>91</td>
                                    </tr>
                                    <tr>
                                        <td>2015-04-18 23:59</td>
                                        <td><a href="#" class="trace-name-in-transaction">WebTransaction/StrutsAction/restaurant</a></td>
                                        <td>13596</td>
                                        <td>91</td>
                                    </tr>   
                                    </tbody>
                                </table>
                                </div>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row float-card float-tran-detail">
                <div class="col-md-12">
                    <section class="widget trace-section">
                        <header>
                            <span class="float-card-title">WebTransaction/StrutsAction/restaurant</span>
                            <span class="glyphicon glyphicon-remove pull-right"></span>
                        </header>
                        <div class="body">
                            <section class="widget inner-widget">
                                <div class="visits-info well well-sm">
                                    <div class="row">
                                    <div class="col-sm-2  col-xs-6">
                                        <div class="key">开始时间</div>
                                        <div id="serve-value" class="value">2015-04-16 11:59:5</div>
                                    </div>
                                    <div class="col-sm-2 col-xs-6">
                                        <div class="key">总耗时</div>
                                        <div class="value">13596 ms</div>
                                    </div>
                                    <div class="col-sm-2 col-xs-6">
                                        <div class="key">Web application 耗时</div>
                                        <div class="value">91 ms</div>
                                    </div>
                                    <div class="col-sm-2 col-xs-6">
                                        <div class="key">IP</div>
                                        <div class="value">103.250.227.119</div>
                                    </div>
                                    <div class="col-sm-2 col-xs-6">
                                        <div class="key">位置</div>
                                        <div class="value">中国 北京</div>
                                    </div>
                                    <div class="col-sm-1 col-xs-6">
                                        <div class="key">浏览器</div>
                                        <div class="value">Internet Explorer</div>
                                    </div>
                                    <div class="col-sm-1 col-xs-6">
                                        <div class="key">版本号</div>
                                        <div class="value">9</div>
                                    </div>
                                    </div>
                                </div>
                            </section>
                            <section class="widget inner-widget">
                                <header>
                                    <h4>
                                        耗时
                                    </h4>
                                </header>
                                <div class="body no-margin">
                                    <div id="visits-chart5" class="chart visits-chart">
                                        <svg></svg>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

   {{/replace}}

    {{#append "scripts"}}
        <!-- page libs -->
        <script src="lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="lib/jquery.sparkline/index.js"></script>

        <script src="lib/backbone/backbone.js"></script>
        <script src="lib/backbone.localStorage/backbone.localStorage-min.js"></script>

        <script src="lib/d3/d3.min.js"></script>
        <script src="lib/nvd3/nv.d3.min.js"></script>

       <!-- page specific libs -->
        <script src="lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="lib/jquery-ui/ui/core.js"></script>
        <script src="lib/jquery-ui/ui/widget.js"></script>
        <script src="lib/jquery-ui/ui/mouse.js"></script>
        <script src="lib/jquery-ui/ui/sortable.js"></script>
        <script src="lib/jquery.nestable/jquery.nestable.js"></script>
        <script src="lib/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
        <script src="lib/jquery.sparkline/index.js"></script>

        <!-- page application js -->
        <script src="js/component-list-groups.js"></script>
        
        <!-- daterange picker js -->
        <script src="lib/form-daterangepicker/daterangepicker.js"></script>                 
        <!-- DateTime Picker -->
        <script src="lib/form-daterangepicker/moment.min.js"></script> 

        <!-- page application js -->
        <script src="js/daterangepicker.js"></script>
        <script src="js/graph/graph1.js"></script>
        <script src="js/graph/graph2.js"></script>
        <script src="js/graph/graph3.js"></script>
        <script src="js/graph/graph4.js"></script>
        <script src="js/graph/graph5.js"></script>
        <script>
            $(document).ready(function  () {
                //item点击，去除所有active状态，当前点击对象加active，隐藏对象显示，开始tanslate
                $('.dd-handle').click(function  () {

                    $('.float-card').hide();

                    $('.dd-handle').removeClass("active");

                    $(this).addClass("active");

                    $(this).find('button').addClass("active");

                    $('.float-show-one').show().addClass("animated fadeInLeftBig");

                    setTimeout(function (){
                         $('.float-show-one').removeClass("animated fadeInLeftBig");
                     },500);

                    $('.float-card-title').text($(this).find('.bar-text').text());
                });

                //事件委托！！！！
                $('.float-card').on('click', '.glyphicon-remove',function  (event) {
                    var current_card = $(this).closest('.float-card');
                    if(current_card.hasClass("float-show-one")){
                        $('.float-card').hide();
                        $('.dd-handle').removeClass("active");
                    }else if(current_card.hasClass("float-trace-in-transaction")){
                        current_card.hide();
                    }
                });

            });

            $('th').click(function(e){
                var a = $(this).find('.sortedup');
                var b = $(this).find('.sorteddown');

                if (a.css('display') == 'none' && b.css('display') == 'none') {
                    a.show();
                }else{
                    if (a.css('display') != 'none') {
                        a.hide();
                        b.show();
                    }else{
                        if (a.css('display') == 'none') {
                            b.hide();
                        }
                    }
                }
                e.stopPropagation();
            });

            //展现全部事务（或列表里的内容）

            $('.dd-handle-show-all').click(function  () {
                $('.float-card').hide();
                $('.dd-handle').removeClass("active");
                $('.float-show-all').show().addClass("animated fadeInLeftBig");

                setTimeout(function (){
                     $('.float-show-all').removeClass("animated fadeInLeftBig");
                 },500);
            });

            //点击全部事务列表后……
            $('.trans-name').click(function  () {
                $('.float-card').hide();
                $('.dd-handle:eq(2)').addClass("active");
                $('.dd-handle:eq(2)').find('button').addClass("active");
                $('.float-show-one').show().addClass("animated fadeInLeftBig");

                setTimeout(function (){
                     $('.float-show-one').removeClass("animated fadeInLeftBig");
                 },500);

            });

            //trace详细页面float-card
            $('.trace-name').click(function  () {
                $('.dd-handle').first().trigger("click");
                $('.trace-name-in-transaction').trigger("click");
            });

            //事务详细页面中点击trace，float-card
            $('.trace-name-in-transaction').click(function  () {
                $('.float-tran-detail').hide();
                $('.float-tran-detail').addClass("float-trace-in-transaction");
                $('.float-tran-detail').show().addClass("animated fadeInLeftBig");
                setTimeout(function (){
                                         $('.float-tran-detail').removeClass("animated fadeInLeftBig");
                                     },500);
            });

        </script>
        
    {{/append}}

{{/extend}}