{{#extend "layout"}}

	{{#replace "sidebar"}}
        {{> sidebar this conditionClass=conditionClass active="profiler"}}
    {{/replace}}

    {{#replace "app_content"}}
    <div class="row">
        <div class="col-lg-5 col-md-5">
              <h2 class="page-title">性能剖析 <small>性能剖析界面</small></h2>
        </div>
        <div class="col-lg-7 col-md-7">
            <div class="navbar nav-picker">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown agents">
                       <div>
                           <button class="btn btn-default dropdown-toggle picker" data-toggle="dropdown">
                                <a href="#"> All Agents </a>
                                <span class="caret"></span>
                           </button>
                            <ul class="dropdown-menu account">
                                <li>
                                    <a href="#">All Agents</a>
                                </li>
                                <li>
                                    <a href="#">Agents 1</a>
                                </li>
                                <li>
                                    <a href="#">Agents 2</a>
                                </li>
                                <li>
                                    <a href="#">Agents 3</a>
                                </li>
                            </ul>
                       </div>
                    </li>
                </ul>  
            </div>
        </div>

    </div>
     
    <div class="row">
     	<div class="col-lg-4">
     		<section class="widget">
     			<header>
                    <h4>
                        创建性能剖析
                    </h4>
                </header>
                <div class="body">
                    <section class="widget" style="margin-bottom:17px;">
                        <header style="margin-bottom:10px">
                            <h5>
                                <span>采样周期</span>
                                <span style="float:right; font-size:14px;">4 min</span>
                            </h5>
                        </header>
                        
                        <div class="mb-sm">
                                <input class="js-slider" id="slider-ex1" data-slider-id='ex1Slider' type="text" data-slider-min="2" data-slider-max="10" data-slider-step="1" data-slider-value="4" style="display:none"/>
                        </div>
                        <div>
                            <span style="color:rgb(187, 187, 187)">2 min</span>
                            <span style="float:right; color:rgb(187, 187, 187)">10 min</span>
                        </div>
                    </section>
                    <section class="widget" style="margin-bottom:17px;">
                        <header style="margin-bottom:10px">
                            <h5>
                                <span>采样频率</span>
                                <span style="float:right; font-size:14px;">1000 ms</span>
                            </h5>
                        </header>
                        
                        <div class="mb-sm">
                            <input class="js-slider" id="slider-ex2" data-slider-id='ex1Slider' type="text" data-slider-min="100" data-slider-max="1500" data-slider-step="100" data-slider-value="1000" style="display:none"/>
                        </div>
                        <div>
                            <span style="color:rgb(187, 187, 187)">100 ms</span>
                            <span style="float:right; color:rgb(187, 187, 187)">1500 ms</span>
                        </div>
                    </section>

                    <section class="widget" style="margin-bottom:17px;">
                        <header>
                            <h5>仅包含 HTTP 请求</h5>
                        </header>
                       <div class="radio radio1">
                            <input type="radio" name="radio1" id="radio1" value="option1" checked>
                            <label for="radio1">
                                是
                            </label>
                        </div>
                        <div class="radio radio1">
                            <input type="radio" name="radio1" id="radio2" value="option2">
                            <label for="radio2">
                                否
                            </label>
                        </div>
                    </section>
                    
                    
                    <div>
                        <section class="widget" style="margin-bottom:17px;">
                            <header>
                                <h4>
                                    服务器名称                                    
                                </h4>
                            </header>
                            <div class="body no-margin">
                                <table class="table table-striped no-margin sources-table">
                                    <thead>
                                    <tr>
                                        <th width="5%" style="text-align: left;"></th>
                                        <th width="50%" style="text-align: left;">名称</th>
                                        <th width="20%" style="text-align: left;">CPU</th>
                                        <th width="25%" style="text-align: left;">内存(MB)</th>
                                                                       
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td style="text-align: left;">
                                            <div class="radio" style="margin-top: -3px;">
                                                <input type="radio" name="radio2" id="radio3" value="option1" checked>
                                                <label for="radio3"></label>
                                            </div>
                                        </td>
                                        <td style="text-align: left;">fe80:0:0:0:20c:29ff:fede:6cdc%2 java:b1:8090</td>
                                        <td style="text-align: left;"><strong class="color-green">0.00%</strong></td>
                                        <td style="text-align: left;">0.00</td>
                                    </tr> 
                                    <tr>
                                        <td style="text-align: left;">
                                            <div class="radio" style="margin-top: -3px;">
                                                <input type="radio" name="radio2" id="radio4" value="option2">
                                                <label for="radio4"></label>
                                            </div>
                                        </td>
                                        <td style="text-align: left;">fe80:0:0:0:20c:29ff:fede:6cdc%2 java:b1:8090</td>
                                        <td style="text-align: left;"><strong class="color-green">0.00%</strong></td>
                                        <td style="text-align: left;">0.00</td>
                                    </tr>                                     
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <div class="row margin-bottom text-align-center">
                            <div class="col-md-12">
                                <button class="btn btn-lg btn-success btn-block">
                                    性能剖析
                                </button>
                            </div>
                        </div>

                    </div>    
                </div>
     		</section>
     	</div>
        <div class="col-lg-8">
            <section class="widget">
                <header>
                    <h4>
                        历史记录
                    </h4>
                </header>
                <div class="body">
                    <table class="table table-striped no-margin sources-table">
                        <thead>
                        <tr>
                            <th> 开始时间</th>
                            <th>采样频率(ms)</th>
                            <th>采样周期(分钟)</th>
                            <th>仅包含 HTTP 请求</th>
                            <th>服务器</th>
                            <th>收集人</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>2014-12-24 10:28:17</td>
                            <td>100</td>
                            <td>2</td>
                            <td>是</td>
                            <td>fe80:0:0:0:5054:ff:fe5f:d63%2</td>
                            <td>oneapm</td>
                            <td></td>
                        </tr>
                         <tr>
                            <td>2014-12-25 10:28:17</td>
                            <td>200</td>
                            <td>3</td>
                            <td>是</td>
                            <td>fe80:0:0:0:5054:ff:fe5f:d63%2</td>
                            <td>oneapm</td>
                            <td></td>
                        </tr>
                         <tr>
                            <td>2014-12-26 10:28:17</td>
                            <td>50</td>
                            <td>2</td>
                            <td>否</td>
                            <td>fe80:0:0:0:5054:ff:fe5f:d63%2</td>
                            <td>oneapm</td>
                            <td></td>
                        </tr>
                         <tr>
                            <td>2014-12-24 10:28:17</td>
                            <td>100</td>
                            <td>2</td>
                            <td>是</td>
                            <td>fe80:0:0:0:5054:ff:fe5f:d63%2</td>
                            <td>oneapm</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>

    {{/replace}}
     {{#append "scripts"}}
        <!-- page libs -->
        <script src="lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="lib/jquery.sparkline/index.js"></script>

        <script src="lib/backbone/backbone.js"></script>
        <script src="lib/backbone.localStorage/backbone.localStorage-min.js"></script>

        <script src="lib/d3/d3.min.js"></script>
        <script src="lib/nvd3/nv.d3.min.js"></script>

         <!-- page libs -->
        <script src="lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
        <script src="lib/jquery-autosize/jquery.autosize.min.js"></script>
        <script src="lib/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.min.js"></script>
        <script src="lib/select2/select2.min.js"></script>
        <script src="lib/switchery/dist/switchery.min.js"></script>
        <script src="lib/moment/moment.js"></script>
        <script src="lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script src="lib/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
        <script src="lib/jquery.maskedinput/jquery.maskedinput.min.js"></script>
        <script src="lib/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>

         <!-- page application js -->
        <script src="js/forms-elements.js"></script>
    {{/append}}

{{/extend}}
