{{#extend "layout"}}

    {{#replace "sidebar"}}
        {{> sidebar this conditionClass=conditionClass active="reportD"}}
    {{/replace}}

    {{#replace "app_content"}}
     
    <div class="row">
         <div class="col-lg-5 col-md-5">
              <h2 class="page-title">报表 <small>报表界面</small></h2>
         </div>

         <div class="col-lg-7 col-md-7">
             <div class="navbar nav-picker">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown agents">
                       <div>
                           <button class="btn btn-default dropdown-toggle picker" data-toggle="dropdown">
                               <a href="#"> All Agents </a>
                                <span class="caret"></span>
                           </button>
                            <ul class="dropdown-menu account">
                                <li>
                                    <a href="#">All Agents</a>
                                </li>
                                <li>
                                    <a href="#">Agents 1</a>
                                </li>
                                <li>
                                    <a href="#">Agents 2</a>
                                </li>
                                <li>
                                    <a href="#">Agents 3</a>
                                </li>
                            </ul>
                       </div>
                    </li>
                </ul>  
             </div
         </div>
     </div>

     <div class="row">
        <div class="col-lg-12">
                <section class="widget widget-tabs">
                    <header>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#webTran" data-toggle="tab">Web 事务</a>
                            </li>
                            <li>
                                <a href="#sql" data-toggle="tab">SQL</a>
                            </li>
                            
                        </ul>
                    </header>
                    <div class="body tab-content">
                        <div id="webTran" class="tab-pane active clearfix">
                            <div>

                                <div class="checkbox checkbox0">
                                    <input id="checkbox0" type="checkbox" disabled checked>
                                    <label for="checkbox0">
                                        今天
                                    </label>
                                </div>
                                <div class="checkbox checkbox0">
                                    <input id="checkbox1" type="checkbox">
                                    <label for="checkbox1">
                                        昨天
                                    </label>
                                </div>
                                <div class="checkbox checkbox1">
                                    <input id="checkbox2" type="checkbox" checked>
                                    <label for="checkbox2">
                                        7 天前
                                    </label>
                                </div>
                                <div class="checkbox checkbox1">
                                    <input id="checkbox3" type="checkbox">
                                    <label for="checkbox3">
                                       7 天内
                                    </label>
                                </div>
                                 <button type="button" class="btn btn-sm btn-refresh " data-placement="top">
                                    <i class="glyphicon glyphicon-refresh"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-report" data-placement="top" >
                                    重置
                                </button>
                            </div>
                            <table class="table table-striped no-margin sources-table">
                                    <thead>
                                    <tr>
                                        <th style="width: 40%;">Web 事务</th>
                                        <th style="width: 12%;">吞吐量</th>
                                        <th style="width: 12%;">总执行时间</th>
                                        <th style="width: 12%;">平均执行时间</th>
                                        <th style="width: 12%;">Apdex</th>
                                        <th style="width: 12%;"> 
                                            <div class="btn-group btn-choose-group">
                                                <button class="btn dropdown-toggle btn-choose" data-toggle="dropdown">
                                                    吞吐量
                                                    <i class="fa fa-caret-down" style="padding-left:10px"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">吞吐量</a></li>
                                                    <li><a href="#">总执行时间</a></li>
                                                    <li><a href="#">平均执行时间</a></li>
                                                    <li><a href="#">Apdex</a></li>
                                                </ul>
                                            </div>
                                        </th>
                                       
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>SpringController/TestController/test</th>
                                        <th>0.0005cpm</th>
                                        <th>21.40s</th>
                                        <th>19.00s</th>
                                        <th>0.00</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th>SpringController/TestController/split</th>
                                        <th>0.0004cp,</th>
                                        <th>2.09s</th>
                                        <th>1.02s</th>
                                        <th>1.00</th>
                                        <th></th>
                                    </tr>
                                    </tbody>
                                </table>
                            
                        </div>
                        <div id="sql" class="tab-pane">
                             <table class="table table-striped no-margin sources-table">
                                <thead>
                                <tr>
                                    <th style="width: 40%;">SQL</th>
                                    <th>吞吐量</th>
                                    <th>总执行时间</th>
                                    <th>平均执行时间</th>
                                    <th>Apdex</th>
                                    <th> </th>
                                   
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </section>
        </div>
     </div>

    {{/replace}}
    
    {{#append "scripts"}}
        <!-- page application js -->
        <script src="js/ui-buttons.js"></script>
    {{/append}}

{{/extend}}
