{{#extend "layout"}}

    {{#replace "sidebar"}}
        {{> sidebar this conditionClass=conditionClass active="topologyD"}}
    {{/replace}}

    {{#replace "app_content"}}
     <h2 class="page-title">拓扑 <small>拓扑图</small></h2>

	    <div class="row">
	    	<div class="col-lg-8">
	    		<div class="row">
	    			<div class="col-md-12">
	    				<section class="widget">
		    				<header>
			                    <h4>
			                        拓扑	                       
			                    </h4>
			                    <div class="widget-controls">
			                        <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
			                        <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
			                    </div>
			                </header>
			                <div class="body no-margin">
			                	<section class="widget">

			                	</section>
			                    
			                </div>   
	    				</section>
	    			</div>  			
	    		</div>
	    	</div>
	    	<div class="col-lg-4">
	    		<div class="row">
	    			<div class="col-md-12">
						<section class="widget">
		    				<header>
			                    <h4>
			                        WebTransaction                      
			                    </h4>
			                    <div class="widget-controls">
			                        <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
			                        <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
			                    </div>
			                </header>
			                <div class="body no-margin">
			                    <section class="widget">
		                            <header>
		                                <h4>
		                                    Apdex
		                                </h4>
		                                <div class="widget-controls">
		                                    <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
		                                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
		                                </div>
		                            </header>
		                            <div class="body no-margin">
		                                <div id="visits-chart" class="chart visits-chart">
		                                    <svg></svg>
		                                </div>
		                            </div>
		                        </section>
		                         <section class="widget">
		                            <header>
		                                <h4>
		                                    响应时间
		                                </h4>
		                                <div class="widget-controls">
		                                    <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
		                                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
		                                </div>
		                            </header>
		                            <div class="body no-margin">
		                                <div id="visits-chart" class="chart visits-chart">
		                                    <svg></svg>
		                                </div>
		                            </div>
		                        </section>
		                        
			                </div>   
						</section>
	    			</div> 
	    		</div>
	    		
	    	</div>

	    </div>

	 {{/replace}}

    {{#append "scripts"}}
        <!-- page libs -->
        <script src="lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="lib/jquery.sparkline/index.js"></script>

        <script src="lib/backbone/backbone.js"></script>
        <script src="lib/backbone.localStorage/backbone.localStorage-min.js"></script>

        <script src="lib/d3/d3.min.js"></script>
        <script src="lib/nvd3/nv.d3.min.js"></script>

        <!-- page application js -->
        <script src="js/index.js"></script>
        <script src="js/chat.js"></script>

        <!-- page template -->
        
    {{/append}}

{{/extend}}