{{#extend "layout"}}

    {{#replace "sidebar"}}
        {{> sidebar this conditionClass=conditionClass active="transactionD"}}
    {{/replace}}

    {{#replace "app_content"}}

    <div class="row">

        <div class="col-lg-5 col-md-5">
            <h2 class="page-title"><span>事务 <small>事务页面</small></span></h2>
        </div>

        <div class="col-lg-7 col-md-7">
            {{#block "picker"}}
                {{> picker }}
            {{/block}}
        </div>
    </div>     
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-md-12">
                    <section class="widget widget-tabs">
                        <header>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#webTran" data-toggle="tab" style="font-size:14px; font-weight: 500">Web 事务</a>
                                </li>
                            </ul>
                        </header>
                        <div class="body tab-content">
                            <div id="webTran" class="tab-pane active clearfix">

                                    <div class="body" style="background-color:transparent; padding:0;">
                                        <ul id="myTab" class="nav nav-tabs">
                                            <li class="active"><a href="#responseTime" data-toggle="tab" class="tabItem">响应时间</a></li>
                                            <li><a href="#apdex" data-toggle="tab" class="tabItem">Apdex</a></li>
                                            <li><a href="#throughput" data-toggle="tab" class="tabItem">吞吐量</a></li>
                                        </ul>
                                        <div id="myTabContent" class="tab-content" >
                                            <div class="tab-pane fade in active" id="responseTime">
                                                <div class="dd" id="nestable1">
                                                    <ol class="dd-list">
                                                        <li class="dd-item" data-id="1">
                                                            <div class="dd-handle">
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <div class="bar-graph"></div>
                                                                <div class="bar-text">
                                                                    <span>SpringController/insert.do (GET)</span> 
                                                                    <span style="float: right;">47.99 s</span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item" data-id="2">
                                                            <div class="dd-handle">
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <div class="bar-graph" style="width:30%"></div>
                                                                <div class="bar-text">
                                                                    <span>SpringController/splits.do (GET)</span>
                                                                    <span style="float: right;">15.37 s</span>

                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item" data-id="3">
                                                            <div class="dd-handle">
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                
                                                                <div class="bar-graph" style="width:15%"></div>
                                                                <div class="bar-text"><span>SpringController/abc.do (GET)</span><span style="float: right;">3.35 s</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item" data-id="4">
                                                            <div class="dd-handle">
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>                                                                
                                                                <div class="bar-graph" style="width:5%"></div>
                                                                <div class="bar-text"><span>SpringController/testException.do (GET)</span><span style="float: right;">1.17 s</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item">
                                                            <div class="dd-handle">
                                                                <div class="bar-text" style="text-align:center"><span>显示全部 +</span></div>
                                                            </div>
                                                        </li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="apdex">
                                                <div class="dd" id="nestable2">
                                                    <ol class="dd-list">
                                                        <li class="dd-item" data-id="11">
                                                            <div class="dd-handle">
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <div class="bar-graph" style="width:0%"></div>
                                                                <div class="bar-text"><span>SpringController/abc.do (GET)</span><span style="float: right;">0.00</span></div>
                                                            </div>                                                   
                                                        </li>
                                                        <li class="dd-item" data-id="12">
                                                            <div class="dd-handle">
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <div class="bar-graph" style="width:0%"></div>
                                                                <div class="bar-text"><span>SpringController/splits.do (GET)</span><span style="float: right;">0.00</span></div>
                                                            </div>                                                    
                                                        </li>
                                                        <li class="dd-item" data-id="13">
                                                            <div class="dd-handle">
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <div class="bar-graph" style="width:0%"></div>
                                                                <div class="bar-text"><span>SpringController/insert.do (GET)</span><span style="float: right;">0.00</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item" data-id="14">
                                                            <div class="dd-handle">
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                <div class="bar-graph" style="width:100%"></div>
                                                                <div class="bar-text"><span>SpringController/testRedis.do (GET)</span><span style="float: right;">1</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item">
                                                            <div class="dd-handle">
                                                                <div class="bar-text" style="text-align:center"><span>显示全部 +</span></div>
                                                            </div>
                                                        </li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="throughput">
                                                <div class="dd" id="nestable3">
                                                    <ol class="dd-list">
                                                        <li class="dd-item" data-id="21">
                                                            <div class="dd-handle">
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                               
                                                                <div class="bar-graph" style="width:50%"></div>
                                                                <div class="bar-text"><span>SpringController/splits.do (GET)</span> <span style="float: right;">6.77 cpm</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item" data-id="22">
                                                            <div class="dd-handle">
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                
                                                                <div class="bar-graph" style="width:20%"></div>
                                                                <div class="bar-text"><span>SpringController/abc.do (GET)</span><span style="float: right;">4.03 cpm</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item" data-id="23">
                                                            <div class="dd-handle">
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                
                                                                <div class="bar-graph" style="width:20%"></div>
                                                                <div class="bar-text"><span>SpringController/insert.do (GET)</span><span style="float: right;">2.35 cpm</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item" data-id="24">
                                                            <div class="dd-handle">
                                                                <i class="iconfont icon2-dd" style="float: right;">&#xe613;
                                                                </i>
                                                                
                                                                <div class="bar-graph" style="width:10%"></div>
                                                                <div class="bar-text"><span>SpringController/testRedis.do (GET)</span><span style="float: right;">2.40 cpm</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item">
                                                            <div class="dd-handle">
                                                                <div class="bar-text" style="text-align:center"><span>显示全部 +</span></div>
                                                            </div>
                                                        </li>
                                                    </ol>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                           
                            </div>
                            
                        </div>
                    </section>

                </div>

            </div>

        </div>

        <div class="col-lg-8">
            <div class="row basic-card">
                <div class="col-md-12">
                     <section class="widget">
                        <header>
                            <h4>
                                响应时间
                                
                            </h4>
                            <div class="widget-controls">
                                <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            </div>
                        </header>
                        <div class="body no-margin">
                            <div id="visits-chart2" class="chart visits-chart">
                                <svg></svg>
                            </div>
                            
                        </div>
                    </section>

                </div> 

            </div>
            <div class="row basic-card">
                <div class="col-md-12">
                     <section class="widget">
                        <header>
                            <h4>
                                吞吐量
                            </h4>
                            <div class="widget-controls">
                                <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            </div>
                        </header>
                        <div class="body no-margin">
                            <div id="visits-chart3" class="chart visits-chart">
                                <svg></svg>
                            </div>
                           
                        </div>
                    </section>

                </div>

            </div>
            <div class="row basic-card">
                <div class="col-md-12">
                    <section class="widget">
                        <header>
                            <h4>Traces</h4>
                        </header>
                        <div class="body">
                            <table class="table table-striped table-hover no-margin sources-table">
                                <thead>
                                <tr>
                                    <th width="34%" style="text-align: left;" class="sortedth">
                                        <span class="sortedtext">名称</span>
                                        <i class="sortedup" style="display:none"></i>
                                        <i class="sorteddown" style="display:none"></i>
                                    </th>
                                    <th width="22%" style="text-align: left;" class="sortedth">
                                        <span class="sortedtext">开始时间</span>
                                        <i class="sortedup" style="display:none"></i>
                                        <i class="sorteddown" style="display:none"></i>
                                    </th>
                                    <th width="22%" style="text-align: left;" class="sortedth">
                                        <span class="sortedtext">耗时</span>
                                        <i class="sortedup" style="display:none"></i>
                                        <i class="sorteddown" style="display:none"></i>
                                    </th>
                                    <th width="22%" style="text-align: left;" class="sortedth">
                                        <span class="sortedtext">Agent</span>
                                        <i class="sortedup" style="display:none"></i>
                                        <i class="sorteddown" style="display:none"></i>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>SpringController/splits.do (GET)</td>
                                    <td>2015-02-05 16:00:44</td>
                                    <td>99,428ms</td>
                                    <td>java:app188:8090(10.133.197.33)</td>
                                </tr>
                                <tr>
                                    <td>SpringController/abc.do (GET)</td>
                                    <td>2015-02-05 16:00:40</td>
                                    <td>97,030ms</td>
                                    <td>java:app188:8090(10.133.197.33)</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>

            </div>

            <div class="row  float-card">
                <div class="col-md-12">
                    <section class="widget">
                        <header>
                            <span class="float-card-title">Title</span>
                            <span class="glyphicon glyphicon-remove pull-right"></span>
                            <button type="button" class="btn btn-success btn-sm pull-right" data-placement="middle" data-toggle="modal" data-target="#myModal" style="margin-right:20px;line-height:1;">
                                添加到关键事务
                            </button>
                        </header>
                        <div class="body">

                         <section class="widget inner-widget">
                            <header>
                                <h4>
                                    执行时间
                                </h4>
                            </header>
                            <div class="body no-margin">
                                <div id="visits-chart1" class="chart visits-chart">
                                    <svg></svg>
                                </div>
                                
                            </div>
                        </section>

                         <section class="widget inner-widget">
                            <header>
                                <h4>
                                    吞吐量
                                </h4>
                            </header>
                            <div class="body no-margin">
                                <div id="visits-chart4" class="chart visits-chart">
                                    <svg></svg>
                                </div>
                               
                            </div>
                        </section>

                        <section class="widget inner-widget">
                            <header>
                                <h4>Breakdown Table</h4>
                            </header>
                            <div class="body body-for-table">
                                <table class="table table-striped table-hover no-margin sources-table">
                                    <thead>
                                    <tr>
                                        <th width="34%" style="text-align: left;" class="sortedth">
                                            <span class="sortedtext">名称</span>
                                            <i class="sortedup" style="display:none"></i>
                                            <i class="sorteddown" style="display:none"></i>
                                        </th>
                                        <th width="33%" style="text-align: left;" class="sortedth">
                                            <span class="sortedtext">类型</span>
                                            <i class="sortedup" style="display:none"></i>
                                            <i class="sorteddown" style="display:none"></i>
                                        </th>
                                        <th width="33%" style="text-align: left;" class="sortedth">
                                            <span class="sortedtext">百分比</span>
                                            <i class="sortedup" style="display:none"></i>
                                            <i class="sorteddown" style="display:none"></i>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>other</td>
                                        <td>java</td>
                                        <td>20%</td>
                                    </tr>
                                    <tr>
                                        <td>users-insert</td>
                                        <td>database</td>
                                        <td>30%</td>
                                    </tr>
                                    <tr>
                                        <td>blabla</td>
                                        <td>java</td>
                                        <td>30%</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>

                        <section class="widget inner-widget">
                            <header>
                                <h4>Traces</h4>
                            </header>
                            <div class="body body-for-table">
                                <table class="table table-striped table-hover no-margin sources-table">
                                    <thead>
                                    <tr>
                                        <th width="34%" style="text-align: left;" class="sortedth">
                                            <span class="sortedtext">名称</span>
                                            <i class="sortedup" style="display:none"></i>
                                            <i class="sorteddown" style="display:none"></i>
                                        </th>
                                        <th width="22%" style="text-align: left;" class="sortedth">
                                            <span class="sortedtext">开始时间</span>
                                            <i class="sortedup" style="display:none"></i>
                                            <i class="sorteddown" style="display:none"></i>
                                        </th>
                                        <th width="22%" style="text-align: left;" class="sortedth">
                                            <span class="sortedtext">耗时</span>
                                            <i class="sortedup" style="display:none"></i>
                                            <i class="sorteddown" style="display:none"></i>
                                        </th>
                                        <th width="22%" style="text-align: left;" class="sortedth">
                                            <span class="sortedtext">Agent</span>
                                            <i class="sortedup" style="display:none"></i>
                                            <i class="sorteddown" style="display:none"></i>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                     <tr>
                                        <td>SpringController/splits.do (GET)</td>
                                        <td>2015-02-05 16:00:44</td>
                                        <td>99,428ms</td>
                                        <td>java:app188:8090(10.133.197.33)</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>                           
                        </div>
                    </section>
                </div>
            </div>

            <div id="myModal" class="modal fade trans-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">添加到关键事务</h4>
                        </div>
                        <div class="modal-body">
                           <div class="row">

                               <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                   <form class="form-horizontal form-label-left">
                                       <div class="form-group">
                                            <div class="col-sm-4 col-lg-4 col-md-4">
                                                <label for="app" class="control-label">选择一个应用</label>
                                            </div>
                                            <div class="col-sm-8 col-lg-8 col-md-8">
                                                <select required="required" class="select1 form-control form-input-white" name="app">
                                                    <option value="">app1</option>
                                                    <option value="">app2</option>
                                                    <option value="">app3</option>
                                                    <option value="">app4</option>
                                                </select>
                                            </div>                                           
                                       </div>
                                       <div class="form-group">
                                            <div class="col-sm-4 col-lg-4 col-md-4">
                                                <label for="trans" class="control-label">选择一个事务</label>
                                            </div>
                                            <div class="col-sm-8 col-lg-8 col-md-8">
                                                <select required="required" class="select1 form-control form-input-white" name="trans">
                                                    <option value="">transaction1</option>
                                                    <option value="">transaction2</option>
                                                    <option value="">transaction3</option>
                                                    <option value="">transaction4</option>
                                                </select>
                                            </div>                                           
                                       </div>
                                       <div class="form-group">
                                            <div class="col-sm-4 col-lg-4 col-md-4">
                                                <label for="trans-name" class="control-label">创建事务名称</label>
                                            </div>
                                            <div class="col-sm-8 col-lg-8 col-md-8">
                                                <input id="trans-name" class="form-control form-input-white" required="required" type="text" value="" name="trans-name" data-parsley-trigger="change">
                                                <p class="validation-message" id="trans-error">该项不能为空</p>
                                            </div>                                         
                                       </div>
                                       <div class="form-group">
                                            <div class="col-sm-4 col-lg-4 col-md-4">
                                                <label for="apdex" class="control-label">ApdexT</label>
                                            </div>
                                            <div class="col-sm-8 col-lg-8 col-md-8">
                                                <input id="apdexT" class="form-control form-input-white" required="required" type="text" value="" name="apdex" data-parsley-trigger="change">
                                                <p class="validation-message" id="apdexT-error">该项不能为空</p>
                                            </div>                                         
                                       </div>
                                   </form>
                               </div>
                               <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <p>什么是关键事务？</p>
                                    <p>在web应用中，从业务的角度来看，有些web事务比其它事务更重要，这些重要的事务需要精确监控。这些事务包括应用中的关键事件（如登录操作或确认购买操作）和/或从性能角度来看最重要的事务（如搜索或登录操作）。</p>
                                    <p>关键事务能够允许用户密切监控关键性事务，并在运行异常时收到警告。</p>
                               </div>
                           </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="btn-trans-close">取消</button>
                            <button type="button" class="btn btn-success" id="btn-trans">确定</button>
                        </div>

                    </div
                </div>
            </div>
        </div>
    </div>
    {{!-- <div class="row">
        <div class="app_status">
            <div class="app_status-info">
                <div class="app_status_light">
                    
                </div>
                <div class="app_name">
                    <span>Java Agent</span>
                </div>
                <div class="status_rp">
                    <span>0.02</span>
                    <span class="unit">s</span>
                </div>
                <div class="status_rpm">
                    <span>2455</span>
                    <span class="unit">cpm</span>
                </div>
                <div class="status_error">
                    <span>0.00%</span>
                    <span class="unit">err%</span>
                </div>
            </div>
        </div>
    </div> --}}

    
       
       
   {{/replace}}

    {{#append "scripts"}}
        <!-- page libs -->
        <script src="lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="lib/jquery.sparkline/index.js"></script>

        <script src="lib/backbone/backbone.js"></script>
        <script src="lib/backbone.localStorage/backbone.localStorage-min.js"></script>

        <script src="lib/d3/d3.min.js"></script>
        <script src="lib/nvd3/nv.d3.min.js"></script>

       <!-- page specific libs -->
        <script src="lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="lib/jquery-ui/ui/core.js"></script>
        <script src="lib/jquery-ui/ui/widget.js"></script>
        <script src="lib/jquery-ui/ui/mouse.js"></script>
        <script src="lib/jquery-ui/ui/sortable.js"></script>
        <script src="lib/jquery.nestable/jquery.nestable.js"></script>
        <script src="lib/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
        <script src="lib/jquery.sparkline/index.js"></script>


        <!-- page application js -->
        <script src="js/component-list-groups.js"></script>
        
        <!-- daterange picker js -->
        <script src="lib/form-daterangepicker/daterangepicker.js"></script>    
         <!-- DateTime Picker -->
        <script src="lib/form-daterangepicker/moment.min.js"></script> 

        <!-- page application js -->
        <script src="js/daterangepicker.js"></script>
        <script src="js/graph/graph3.js"></script>
        <script src="js/graph/graph2.js"></script>
        <script src="js/graph/graph1.js"></script>
        <script src="js/graph/graph4.js"></script>

        <script>
            $(document).ready(function  () {
                //item点击，去除所有active状态，当前点击对象加active，隐藏对象显示，开始tanslate
                $('.dd-handle').click(function  () {

                    $('.dd-handle').removeClass("active");

                    $(this).addClass("active");

                    $(this).find('button').addClass("active");

                    $('.float-card').show().addClass("animated fadeInLeftBig");


                    setTimeout(function (){
                                             $('.float-card').removeClass("animated fadeInLeftBig");
                                         },500);

                    $('.float-card-title').text($(this).find('.bar-text').text());
                });

                $('.float-card .glyphicon-remove').click(function  () {
                    $('.float-card').hide();
                    $('.dd-handle').removeClass("active");
                });

            });

            $('th').click(function(e){
                var a = $(this).find('.sortedup');
                var b = $(this).find('.sorteddown');

                if (a.css('display') == 'none' && b.css('display') == 'none') {
                    a.show();
                }else{
                    if (a.css('display') != 'none') {
                        a.hide();
                        b.show();
                    }else{
                        if (a.css('display') == 'none') {
                            b.hide();
                        }
                    }
                }
                e.stopPropagation();
            })


            //创建关键事务验证

            $('#btn-trans').click(function  () {
                if ( $('#trans-name').val()=="" ){
                    $('#trans-name').addClass("from-error");
                    $('#trans-error').show();
                }
                if ( $('#apdexT').val()=="" ){
                    $('#apdexT').addClass("from-error");
                    $('#apdexT-error').show();
                }
            });

            $('#trans-name').focus(function  () {
                $('#trans-name').removeClass("from-error");
                $('#trans-error').hide();
            });

            $('#apdexT').focus(function  () {
                $('#apdexT').removeClass("from-error");
                $('#apdexT-error').hide();
            });

            $('#btn-trans-close').click(function  () {
                $('#trans-name').removeClass("from-error");
                $('#trans-error').hide();
                $('#apdexT').removeClass("from-error");
                $('#apdexT-error').hide();
                $('#trans-name').val("");
                $('#apdexT').val("");
            });

        </script>
        
    {{/append}}

{{/extend}}