
{{#extend "layout"}}
    {{#replace "sidebar"}}
        {{> sidebar this conditionClass=conditionClass active="ui_buttons"}}
    {{/replace}}
    {{#replace "app_content"}}

    <h2 class="page-title">按钮 <small>单独按钮</small></h2>
    <div class="row">
      	<div class="col-md-6">
            <section class="widget">
                <header>
                    <h5>
                        <i class="fa fa-arrow-down"></i>
                        选项卡
                    </h5>
                </header>
                <div class="body">
                    <ul id="myTab" class="nav nav-tabs">
                        <li><a href="#home" data-toggle="tab">首页</a></li>
                        <li class="active"><a href="#profile" data-toggle="tab">简况</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">下拉菜单 <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#dropdown3" data-toggle="tab">@fat</a></li>
                                <li><a href="#dropdown4" data-toggle="tab">@mdo</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content" >
                        <div class="tab-pane fade" id="home">
                            <p>首页资料</p>
                        </div>
                        <div class="tab-pane fade in active" id="profile">
                            <p>Light Blue - is a next generation admin template based on the latest Metro design. There are few reasons we want to tell you, why we have created it:
                                We didn't like the darkness of most of admin templates, so we created this light one. We didn't like the high contrast of most of admin templates, so we created this unobtrusive one.
                                We searched for a solution of how to make widgets look like real widgets, so we decided that deep background - is what makes widgets look real.</p>
                        </div>
                        <div class="tab-pane fade" id="dropdown3">
                            <p>Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                        </div>
                        <div class="tab-pane fade" id="dropdown4">
                            <p>They sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <div class="row">
                <h4>大中小普通按钮</h4>
                <div class="col-xs-4">
                    <button type="button" class="btn btn-default"
                        data-placement="top" data-original-title="选我选我">
                            默认
                    </button>
                </div>
        
                <div class="col-xs-4">
                    <button type="button" class="btn btn-success btn-sm"
                        data-placement="top" data-original-title=".btn .btn-success .btn-sm">
                            Success
                    </button>
                </div>
                <div class="col-xs-4">
                    <button type="button" class="btn btn-primary btn-lg"
                        data-placement="top" data-original-title=".btn .btn-primary .btn-lg">
                            Primary
                    </button>
                </div>
            </div>
            <div class="row">
                <h4>下拉列表按钮</h4>
                <div class="col-xs-4">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">
                            One
                        </button>
                        <button type="button" class="btn btn-primary">
                            Two
                        </button>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="btn-group">
                        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                            &nbsp; One &nbsp;
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">响应</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="btn-group">
                        <button class="btn btn-info btn-sm">Blue</button>
                        <button class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div> 
                </div>
            </div>
            <div class="row">
                <h4>单选框、复选框</h4>
                <div class="col-xs-6">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default">
                            <input type="checkbox"> Left way
                        </label>
                        <label class="btn btn-default">
                            <input type="checkbox"> Middle way
                        </label>
                        <label class="btn btn-default">
                            <input type="checkbox"> Right way
                        </label>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-success">
                            <input type="radio" name="options" id="option1"> Left way
                        </label>
                        <label class="btn btn-success">
                            <input type="radio" name="options" id="option2"> Middle way
                        </label>
                        <label class="btn btn-success active">
                            <input type="radio" name="options" id="option3"> Right way
                        </label>
                    </div>
                </div>

            </div>  
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
                <h4><strong>手动</strong> 折叠窗口</h4>
                <div class="panel-group" id="accordion3">
                    <div class="panel">
                        <div class="panel-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseOneTwo">
                                Item 1
                            </a>
                        </div>
                        <div id="collapseOneTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <strong>Light Blue</strong> 
                                Item 1 具体描述
                                <br>
                                <em>- Some One</em>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwoTwo">
                                Item 2
                            </a>
                        </div>
                        <div id="collapseTwoTwo" class="panel-collapse in collapse">
                            <div class="panel-body">
                                Why don't use Lore Ipsum? I think if some one says don't use lore ipsum it's very controversial point. I think the opposite actually. Everyone knows what is lore ipsum - it is
                                easy to understand if text is lore ipsum. You'll automatically skip - because you know - it's just non-informative stub. But what if there some text like this one? You start to read it!
                                But the goal of this text is different. The goal is the example. So a bit of Lore Ipsum is always very good practice. Keep it in mind!
                                <br>
                                Awesome text that <strong>stands out</strong>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseThreeTwo">
                                Item 3
                            </a>
                        </div>
                        <div id="collapseThreeTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
        


    {{/replace}}

    {{#append "scripts"}}
        <!-- page application js -->
        <script src="js/ui-buttons.js"></script>
    {{/append}}
{{/extend}}